<!-- AntiBiogram -->
<div class="accordion bg-transparent w-100 m-auto" id="accordion_orgamr">
    <div class="accordion-item">
    </div>
    <h2 class="accordion-header d-flex align-items-baseline" id="heading_orgamr">
        <button class="accordion-button collapsed" style="max-height: 20px" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_orgamr" aria-expanded="true" aria-controls="collapse_image">
            <h5 class="fs-6 my-0">
                AMR Genes {% include 'utils/miscellaneous/showentries_badge.html' with obj_count=org_amr_entries title='AMR Gene Data' %}
            </h5>
        </button>
    </h2>

    <div id="collapse_orgamr" class="accordion-collapse collapse bg-transparent"
        aria-labelledby="heading_image" data-bs-parent="#accordion_orgamr">

        <div class="accordion-body ">
            <div class="tab-content flex-grow-1" id="v-pills-tabContent">
                <div class="tab-pane fade active show" id="v-pills-pivot-tab" role="tabpanel"
                    aria-labelledby="v-pills-pivot-tab">
                    <!--                           
                    <div class="mx-5" data-bs-toggle="tooltip" data-bs-placement="right" title="">
                    
                        <form class="d-flex flex-wrap" method="POST" action="{% url 'export_antiobiogram' object.pk %}" id="form_export_model_data">
                            {% csrf_token %}

                            <button class="btn btn-sm border border-3" type="submit" name="xlsxdownload" 
                            value="xlsxdownload" data-name="exportData">
                            <i class="fa-solid fa-download text-success"></i> .XLSX</button>
                        </form>

                    </div>
                    --> 
                    <div style="height: 100vh;overflow: auto;" class="w-100">
                        {{ org_amr_pivtable | safe}}
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>