<!-- AST -->
<div class="d-flex m-0 p-0" id="add-container">
    <div class="leftbar d-flex flex-column p-0 bg-light">
        <form hx-post="{%url 'org_detail' object.pk %}" hx-target="#add-container" hx-swap="outerHTML">

            <button type="submit" class="text-secondary border-0" value="Get_data" data-bs-toggle
                style="max-height: 20px">
                {%if pivottable%}
                <i class="bi bi-arrow-clockwise text-success bg-light fs-5"></i>
                {%else%}
                <div class="spinner-border" role="status" style="max-height: 15px; max-width: 15px;">
                    <span class="visually-hidden">Loading...</span>
                </div>
                {%endif%}
            </button>
        </form>
    </div>
    <div class="accordion w-100" id="MIC_COADD">
        <div class="accordion-item">
            <h2 class="accordion-header d-flex" id="headingMIC_COADD">

                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    style="max-height: 20px" data-bs-target="#collapseMIC_COADD" aria-expanded="true"
                    aria-controls="collapseMIC_COADD">
                    <!-- prettier-ignore -->
                    <h5 class="fs-6 my-0">
                        Antibiogram
                    </h5>
                    {% include 'utils/miscellaneous/showentries_badge.html' with obj_count=df_entries title='Antibiogram' %}
                </button>
            </h2>
            <div id="collapseMIC_COADD" class="accordion-collapse collapse" aria-labelledby="headingMIC_COADD"
                data-bs-parent="#MIC_COADD">
                <div class="accordion-body p-0">
                    <!-- prettier-ignore -->


                    <div class="d-flex align-items-start m-0 mt-2">
                        <div class="nav flex-column nav-pills m-0 me-3" id="v-pills-tab" role="tablist"
                            aria-orientation="vertical" style="width:fit-content">
                            <button class="nav-link btn-sm m-1 p-1 active" id="v-pills-datatable-tab-btn"
                                data-bs-toggle="pill" data-bs-target="#v-pills-datatable-tab" type="button" role="tab"
                                aria-controls="v-pills-datatable-tab" aria-selected="false"><i class="bi bi-table"
                                    data-bs-toggle="tool
                        " data-bs-placement="left" title="Normal view"></i></button>
                            {%load static%}
                            <button class="nav-link btn-sm m-1 p-1" id="v-pills-pivot-tab-btn" data-bs-toggle="pill"
                                data-bs-target="#v-pills-pivot-tab" type="button" role="tab"
                                aria-controls="v-pills-pivot-tab" aria-selected="false"><i class="bi bi-arrow-repeat"
                                    data-bs-toggle="tool
                        " data-bs-placement="left" title="Pivottable view"></i>
                            </button>

                        </div>
                        <div class="tab-content flex-grow-1" id="v-pills-tabContent">
                            <div class="tab-pane fade active show" id="v-pills-datatable-tab" role="tabpanel"
                                aria-labelledby="v-pills-datatable-tab">
                                {% include 'utils/data_download_form.html' with model_name='MIC_COADD' application='ddrug' related_pk=object.pk %}

                                {%include './datamap.html'%}

                            </div>
                            <div class="tab-pane fade" id="v-pills-pivot-tab" role="tabpanel"
                                aria-labelledby="v-pills-pivot-tab">
                                <div style="height: 100vh;overflow: auto;" class="w-100">
                                    {{pivottable | safe}}
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>