<div class="accordion bg-transparent w-100 m-auto" id="accordion_file">
    <div class="accordion-item">
        <h2 class="accordion-header d-flex align-items-baseline" id="heading_file">
            <div>
                <!-- Here create new file -->
                {%url 'adddoc' pk=object.pk as addurl_doc %}
                {%include 'utils/modal/simpleupload.html' with title='Add_document' form=doc_form addurl=addurl_doc %}
            </div>
            
            <button class="accordion-button collapsed w-25" style="max-height: 20px" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse_file" aria-expanded="true" aria-controls="collapse_file">
                <h5 class="fs-6 my-0">
                    Files
                </h5>
            </button>
        </h2>
        <div id="collapse_file" class="accordion-collapse collapse bg-transparent" aria-labelledby="heading_file"
            data-bs-parent="#accordion_file">
            <div class="accordion-body bg-transparent d-flex flex-wrap">
                <div class="d-flex flex-wrap">

                    <!-- display file -->
                    {%for file in object.assoc_documents.all %}
                    {% if file.astatus >= 0 %}
                    <div class="d-flex flex-column justify-content-between border border-2 border-dark m-2" style="width:25em; height: auto">
                        <!-- File name and download -->
                            <a href="{{file.doc_file.url}}" alt="" download data-bs-toggle class="m-auto">
                                {{file.doc_name}}
                            </a>
                      
                        <p class="m-auto">Type: {{ file.doc_type }}</p>
                        <p class="m-auto">Source: {{ file.doc_source }}</p>
                        <p class="m-auto">Edited by: {{ file.acreated }}</p> 

                        <!-- Delete File -->

                        {% if user.permission == 'Admin' %}
                        <a class="d-inlineblock btn-sm btn-outline-secondary me-0 mb-0" data-bs-toggle="modal"
                            data-bs-target="#assoc_file_del{{file.pk}}" data-bs-toggle="tooltip"
                            data-bs-placement="right" title="Click to delete">
                            <i class="fa-regular fa-trash-can text-danger fs-6"></i>
                        </a>
                        {% else %}
                        <a class="d-block btn-sm btn-outline-secondary me-0 mb-0" data-bs-toggle="tooltip" data-bs-placement="right"
                            title="No Permission To Delete">
                            <i class="fa-regular fa-trash-can text-secondary fs-6"></i>
                        </a>
                        {% endif %}

                        <!--Delete  Modal -->
                        <div class="modal fade" id="assoc_file_del{{file.pk}}" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <!--prettier-ignore-->
                                {% url 'org_doc_delete' pk=file.pk as deleteurl %}
                                {% include 'utils/modal/delete.html' with title='Delete Document' deleteurl=deleteurl entry=file %}
                            </div>
                        </div>
                    </div>
                    {%endif%}

                    {% endfor %}
                    

                </div>
            </div>
        </div>
    </div>

</div>

