<div class="accordion bg-transparent w-100 m-auto" id="accordion_image{{image.pk}}">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading_image{{image.pk}}">
            <button class="accordion-button collapsed w-25" style="max-height: 20px" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse_image{{image.pk}}" aria-expanded="true" aria-controls="collapse_image">
                <h5 class="fs-6 my-0">
                    {{object.pk}} Images
                </h5>
            </button>
        </h2>
        <div id="collapse_image{{image.pk}}" class="accordion-collapse collapse bg-transparent" aria-labelledby="heading_image"
            data-bs-parent="#accordion_image">
            <div class="accordion-body bg-transparent d-flex flex-wrap">
                <div class="d-flex flex-wrap">


                    {% for image in object.assoc_images.all %}
                    {% if image.astatus >= 0 %}
                    <div class="m-3 border border-2 border-dark" style="width:18em; height: 18em;">
                        <!-- Show Image -->
                        <button type="button" class="btn btn-primary border-0 bg-transparent" data-bs-toggle="modal"
                            data-bs-target="#ShowImage_lg{{image.pk}}">

                            <h5>{{ image.image_name }}</h5>

                            <img src="{{ image.image_file.url }}" alt="{{ image.image_desc }}"
                                style="width: 50%; height: auto;">
                        </button>
                        <p class="m-auto">Type: {{ image.image_type }}</p>
                        <p class="m-auto">Source: {{ image.image_source }}</p>
                        <!-- Large Image Modal -->
                        <div class="modal fade" id="ShowImage_lg{{image.pk}}" tabindex="-1"
                            aria-labelledby="ShowImage_lg{{image_pk}}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ShowImage_lgLabel{{image.pk}}">{{image.image_name}}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{{ image.image_file.url }}" alt="{{ image.image_desc }}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Delete Image -->

                        {% if user.permission == 'Admin' %}
                        <a class="btn-sm btn-outline-secondary mb-1" data-bs-toggle="modal"
                            data-bs-target="#assoc_img_del{{image.pk}}" data-bs-toggle="tooltip"
                            data-bs-placement="right" title="Click to delete">
                            <i class="fa-regular fa-trash-can text-danger fs-6"></i>
                        </a>
                        {% else %}
                        <a class="btn-sm btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="right"
                            title="No Permission To Delete">
                            <i class="fa-regular fa-trash-can text-secondary fs-6"></i>
                        </a>
                        {% endif %}

                        <!--Delete Image Modal -->
                        <div class="modal fade" id="assoc_img_del{{image.pk}}" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <!--prettier-ignore-->
                                {% url 'org_img_delete' pk=image.pk as deleteurl %}
                                {% include 'utils/modal/delete.html' with title='Delete Image' deleteurl=deleteurl entry=image %}
                            </div>
                        </div>
                    </div>
                    {%endif%}

                    {% endfor %}
                    <div>
                        {%url 'addimg' pk=object.pk as addurl%}
                        {%include 'utils/modal/simpleupload.html' with title='Add_Image' form=image_form addurl=addurl %}
                    </div>
                    

                </div>
            </div>
        </div>
    </div>

</div>

<div>
                
    <p>

      Assoc Files
    </p>
    <p>
      {%url 'adddoc' pk=object.pk as addurl_doc %}
      {%include 'utils/modal/simpleupload.html' with title='Add_document' form=doc_form addurl=addurl_doc %}
    </p>
  
    <ul class="d-inline">

      {%for file in object.assoc_documents.all %}

      <li>

        <a href="{{file.doc_file.url}}" alt="" download data-bs-toggle>{{file}}</a>
      </li>

      {%endfor%}
    </ul>
  
</div>
