<form id="OrganismUpdateForm" method="POST" action="{%url 'organism_update' object.pk %}">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4">
      <input type="text" id="taxo-name" name="search_organism" style="display: none" />
      <table class="table table-hover table-sm align-middle table-bordered">
        <tbody>
          <tr>
            <th scope="row" class="">Organism Name</th>
            <td class="editable" data-id="{{object.pk}}" data-type="organism_name">
              <div class="detail">
                <a href="{%url 'taxo_detail' object.organism_name.urlname %}">{{object.organism_name}}</a>
              </div>
              <div class="input-group select">
                {% include 'utils/search_organism.html' %}
              </div>
            </td>
          </tr>
          <!--prettier-ignore-->
          {% for field in form.group1 %}
          <!--prettier-ignore-->
          {%include 'utils/row_editabletable.html' with form_label=field.label_tag data_type=field.label_tag form_field=field %}
          <!--prettier-ignore-->
          {%endfor%}
           </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-hover table-sm align-middle table-bordered">
        <tbody>
             <!--prettier-ignore-->
          {% for field in form.group2 %}
          <!--prettier-ignore-->
          {%include 'utils/row_editabletable.html' with form_label=field.label_tag data_type=field.label_tag form_field=field %}
          <!--prettier-ignore-->
          {%endfor%}
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-hover table-sm align-middle table-bordered">
        <tbody>
          <!--prettier-ignore-->
          {% for field in form.group3 %}
          <!--prettier-ignore-->
          {%include 'utils/row_editabletable.html' with form_label=field.label_tag data_type=field.label_tag form_field=field %}
          <!--prettier-ignore-->
          {%endfor%}
        </tbody>
      </table>
      <div class="col-md-3 updateformshow not-visible">
        <div class="d-flex justify-content-evenly align-baseline ">
          {%include 'utils/miscellaneous/save_btn.html'%}
          <!--  -->
          {%include 'utils/miscellaneous/cancel_btn_reloc.html'%}
          
        </div>
      </div>
    </div>
  </div>
</form>

<script>
$( document ).ready(function() {
    console.log( "ready!" );
    $("th").css("width", "32%")
 
  });

</script>