<form
  id="OrganismUpdateForm"
  method="POST"
  action="{%url 'organism_update' object.pk %}"
>
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4">
      <input type="text" id="taxo-name" name="search_organism" style="display: none" />
      <table class="table table-hover table-sm align-middle table-bordered">
        <tbody>
          <tr>
            <th scope="row" class="">Organism Name</th>
            <td class="editable" data-id="{{object.pk}}" data-type="organism_name">
              <div class="detail">
                <a href="{%url 'taxo_detail' object.organism_name.urlname %}">{{object.organism_name}}</a>
              </div>
              <div class="input-group select">
                {% include 'utils/search_organism.html' %}
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="">Strain IDs</th>
            <td class="editable" data-id="{{object.pk}}" data-type="strain_ids">
              <div class="detail">{{object.strain_ids}}</div>
              <div class="input-group select">{{form.strain_ids}}</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="">Strain Code</th>
            <td
              class="editable"
              data-id="{{object.pk}}"
              data-type="strain_code"
            >
              <div class="detail">{{object.strain_code}}</div>
              <div class="input-group select">{{form.strain_code}}</div>
            </td>
          </tr>

          <tr>
            <th scope="row" class="">Strain Notes</th>
            <td
              class="editable"
              data-id="{{object.pk}}"
              data-type="strain_notes"
            >
              <div class="detail">{{object.strain_notes}}</div>
              <div class="input-group select">{{form.strain_notes}}</div>
            </td>
          </tr>

          <tr>
            <th scope="row" class="">Strain_Type</th>
            <td
              class="editablechoices tdclass"
              data-id="{{object.pk}}"
              data-type="strain_type"
            >
              <div class="detail">
                {{strain_type | default_if_none:"&nbsp;"}}
              </div>
              <div class="form-control select col-12 fs-6">
                {{form.strain_type}}
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row" class="">Panel</th>
            <td
              class="editablechoices tdclass"
              data-id="{{object.pk}}"
              data-type="strain_panel"
            >
              <div class="detail">
                {{strain_panel|default_if_none:"&nbsp;"}}
              </div>
              <div class="form-control select col-12 fs-6">
                {{form.strain_panel}}
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="">Strain Origin</th>
            <td class="editable" data-id="{{object.pk}}" data-type="strain_origin">
              <div class="detail">
                {{object.strain_origin}}
              </div>
              <div class="input-group select">{{form.strain_origin}}</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="">Strain Identification</th>
            <td
              class="editable"
              data-id="{{object.pk}}"
              data-type="strain_identification"
            >
              <div class="detail">{{object.strain_identification}}</div>
              <div class="input-group select">
                {{form.strain_identification}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-hover table-sm align-middle table-bordered">
        <tbody>
          <tr>
            <th scope="row" class="">Resistance Properties</th>
            <td
              class="editable"
              data-id="{{object.pk}}"
              data-type="res_property"
            >
              <div class="detail">{{object.res_property}}</div>
              <div class="input-group select">{{form.res_property}}</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="">Gene Properties</th>
            <td
              class="editable"
              data-id="{{object.pk}}"
              data-type="gen_property"
            >
              <div class="detail">{{object.gen_property}}</div>
              <div class="input-group select">{{form.gen_property}}</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="">Sequence</th>
            <td class="editable" data-id="{{object.pk}}" data-type="sequence">
              <div class="detail">{{object.sequence}}</div>
              <div class="input-group select">{{form.sequence}}</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="">Sequence Link</th>
            <td
              class="editable"
              data-id="{{object.pk}}"
              data-type="sequence_link"
            >
              <div class="detail">{{object.sequence_link}}</div>
              <div class="input-group select">{{form.sequence_link}}</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="">Oxygen Pref</th>
            <td class="editablechoices tdclass" data-id="{{object.pk}}" data-type="oxygen_pref">
              <div class="detail">{{object.oxygen_pref | safe}}</div>
              <div class="form-control select">{{form.oxygen_pref}}</div>
            </td>
          </tr>

          <tr>
            <th scope="row" class="">MTA Status</th>
            <td class="editablechoices tdclass" data-id="{{object.pk}}" data-type="mta_status">
              <div class="detail">
                {{object.mta_status|safe}}
              </div>
              {% autoescape on %}
              <div class="form-control select">{{form.mta_status}}</div>
              {% endautoescape %}
            </td>
          </tr>
          <tr>
            <th scope="row" class="">MTA Document</th>
            <td class="editable" data-id="{{object.pk}}" data-type="mta_document">
              <div class="detail">{{object.mta_document}}</div>
              <div class="input-group select">{{form.mta_document}}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-hover table-sm align-middle table-bordered">
        <tbody>
          <tr>
            <th scope="row" class="">
              <label for="id_risk_group">Risk Group</label>
            </th>
            <td class="editablechoices tdclass" data-id="{{object.pk}}" data-type="risk_group">
              <div class="detail">{{object.risk_group | safe}}</div>
              <div class="form-control select">{{form.risk_group}}</div>
            </td>
          </tr>

          <tr>
            <th scope="row" class="">Pathogen</th>
            <td
              class="editablechoices tdclass"
              data-id="{{object.pk}}"
              data-type="pathogen_group"
            >
              <div class="detail">{{object.pathogen_group}}</div>
              <div class="form-control select">{{form.pathogen_group}}</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="">Lab Restriction</th>
            <td class="editable" data-id="{{object.pk}}" data-type="lab_restriction">
              <div class="detail">{{object.lab_restriction | safe}}</div>
              <div class="input-group select">{{form.lab_restriction}}</div>
            </td>
          </tr>

          <tr>
            <th scope="row" class="">Biologist</th>
            <td
              class="editablechoices tdclass"
              data-id="{{object.pk}}"
              data-type="biologist"
            >
              <div class="detail">{{object.biologist}}</div>
              <div class="form-control select">{{form.biologist}}</div>
            </td>
          </tr>
          <tr>
            <th scope="row" class="">Tax ID</th>
            <td class="editable" data-id="{{object.pk}}" data-type="tax_id">
              <div class="detail">{{object.tax_id}}</div>
              <div class="input-group select">{{form.tax_id}}</div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-md-3 updateformshow not-visible">
        <button type="submit" class="btn btn-sm mx-2" name="note">
          <i class="fa-regular fa-floppy-disk"></i>
        </button>
        <a class="btn btn-sm mx-2" href="{% url 'org_detail' object.pk %}"><i class="fa-solid fa-xmark"></i></a>
      </div>
    </div>
  </div>
</form>
