<!--prettier-ignore-->
{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
<!--prettier-ignore-->
{% block content%}
<div class="mx-2 border border-2">
    <a class="card-link mx-3" href="{%url 'org_card' %}"><i class="fa-solid fa-angles-left"></i></a>
    <button class="edit_organismdetail mx-3 border-0 text-success"><i class="fa-regular fa-pen-to-square"></i></button>

    {%include './organism_d.html'%}

    <div class="accordion bg-transparent" id="organism-detail">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" style="max-height:20px;" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="fs-6 my-0">{{object.pk}} |
                        {{object.organism_name}}
                    </h5>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show bg-transparent" aria-labelledby="headingOne"
                data-bs-parent="#organism-detail">
                <div class="accordion-body bg-transparent">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                    </ul>
                    {% endif %}
                    <b>
                        {%include 'utils/message.html'%}
                    </b>

                    {%include 'dorganism/organism/organism_u.html'%}

                    <div class="row border label">
                        <div class="d-flex p-0 bd-highlight" style="font-size: x-small;">
                            <div>
                                <strong>Created </strong>
                                {{object.acreated_at |date:"d M, Y" }}
                                <!--  -->
                                {{object.acreated_at|time:"H:i" }} AEST
                            </div>
                            <div> <strong> &nbsp; by </strong>
                                {{object.acreated}}
                            </div>
                            {%if object.aupdated_at%}
                            <div>&nbsp; | &nbsp;</div>
                            <div>
                                <strong> &nbsp;Modified </strong>
                                {{object.aupdated_at |date:"d M, Y" }}
                                <!--  -->
                                {{object.aupdated_at|time:"H:i" }} AEST
                            </div>
                            <div>
                                <strong> &nbsp; by </strong>

                                {{object.aupdated}}
                            </div>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="createBatchModal" class="modal fade" role="dialog" data-bs-backdrop="static"></div>
    <div class="accordion" id="organism-batch-detail">
        <div class="accordion-item">
            <a id="createBatch" class="card-link text-success" style="float: right; margin-right: 5rem;"> <i
                    class="fa-solid fa-file-circle-plus"></i>
            </a>
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" style="max-height:20px;"
                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true"
                    aria-controls="collapseTwo">
                    Organism Batch
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                data-bs-parent="#organism-batch-detail">
                <div class="accordion-body">
                    <h5>{%include 'utils/message.html'%}</h5>
                    <div class="table-responsive">
                        {%include 'utils/datatable_batch.html'%}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="createCultureModal" class="modal fade" role="dialog" data-bs-backdrop="static"></div>
    <div class="accordion" id="organism-culture-detail">
        <div class="accordion-item">
            <a id="createCulture" class="card-link text-success" style="float: right;margin-right: 5rem;"> <i
                    class="fa-solid fa-file-circle-plus"></i>
            </a>
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" style="max-height:20px;"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true"
                    aria-controls="collapseThree">Organism Culture

                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree"
                data-bs-parent="#organism-culture-detail">
                <div class="accordion-body">
                    <h5>{%include 'utils/message.html'%}</h5>
                    <div class="table-responsive">
                        {% include 'utils/datatable_cultr.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% load static %}

    <script type="text/javascript" src="{%static 'js/modal/create_culture.js'%}"></script>
    <script type="text/javascript" src="{%static 'js/modal/create_batch.js'%}"></script>

    {%endblock%}