<div class="modal-dialog">
  <div class="modal-content" style="width: 50rem">
    <div class="card mt-3 text-left">
      <p><strong>Find Organim</strong></p>
      {% include 'utils/search_organism.html' %}
      <!-- ===================================================================================== -->
      <hr />
      {% url 'org_crteate' as createurl %}
      <!--prettier-ignore-->
      {%include 'utils/modal/create.html' with title='Create Organism' urlname=createurl %}
    </div>
  </div>
</div>
