<!-- AntiBiogram -->
{% load static %}

<div class="d-flex m-0 p-0" id="add-container">

    <div class="leftbar d-flex flex-column p-0 bg-light">
        <form hx-post="{%url 'org_detail' object.pk %}" hx-target="#add-container" hx-swap="outerHTML">
            <button id="load_antibiogram" type="submit" class="text-secondary border-0" value="Get_data" data-bs-toggle
                style="max-height: 20px">
                {% if antibio_pivottable %}
                    <i class="fa-solid fa-dharmachakra fs-5"></i>
                {% else %}
                    {% include 'utils/miscellaneous/load_indicator.html' %}
                 {% endif %}
            </button>
        </form>
    </div>

    <div class="accordion w-100" id="OrgAntiBio">
        <div class="accordion-item">
            <h2 class="accordion-header d-flex" id="heading_OrgAntiBio">

                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    style="max-height: 20px" data-bs-target="#collapse_OrgAntiBio" aria-expanded="true"
                    aria-controls="collapse_OrgAntiBio" name="load_antibiogram">
                    <!-- prettier-ignore -->
                    <h5 class="fs-6 my-0">
                        Antibiogram
                    </h5>
                    {% if antibio_entries %}
                        <span class="badge text-light bg-info m-0 ms-1 p-1"> {{antibio_entries}} entries</span>
                    {% else %}
                        <span class="badge text-light bg-info m-0 ms-1 p-1">Click left spinner</span>
                    {% endif %}
                </button>
            </h2>

            <div id="collapse_OrgAntiBio" class="accordion-collapse collapse" aria-labelledby="heading_OrgAntiBio"
                data-bs-parent="#OrgAntiBio">

                <div class="accordion-body">
 
                        <div class="tab-content flex-grow-1" id="v-pills-tabContent">
                                                        
                            <div class="tab-pane fade active show" id="v-pills-pivot-tab" role="tabpanel"
                                aria-labelledby="v-pills-pivot-tab">
                                <div class="mx-5" data-bs-toggle="tooltip" data-bs-placement="right" title="">
                                
                                    <form class="d-flex flex-wrap" method="POST" action="{% url 'export_antiobiogram' object.pk %}" id="form_export_model_data">
                                        {% csrf_token %}

                                        <button class="btn btn-sm border border-3" type="submit" name="xlsxdownload" 
                                        value="xlsxdownload" data-name="exportData">
                                        <i class="fa-solid fa-download text-success"></i> .XLSX</button>
                                    </form>

                                </div>

                                <div style="height: 100vh;overflow: auto;" class="w-100">
                                    {{ antibio_pivottable | safe}}
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

<script>
    load_Indicator($('#load_antibiogram'), $('.beforeloadtable'), $('.loadtable'))
</script> 
