{% extends "base.html" %}
<!--  -->
{% block title%} COADD{% endblock %}
<!--  -->
{% block content %}
<!--  -->
<div class="d-flex flex-row justify-content-between vh-100">

  {% include 'utils/leftbar.html'  with list_url='org_list' card_url='org_card' create_object='createOrganism' create_objectModal='createOrganismModal' %}
  <!-- Sidebar View -->
  {% include "utils/sidebar.html" %}
  

  <!-- Main View -->
  <div class="main d-flex flex-column"> 

    <!-- prettier-ignore -->
    {% include 'utils/main_horizalbar.html' with model_name='Organism' %}
    <!-- prettier-ignore -->
    <!--  -->


    <!-- list View Content -->
   <div class="contain-fluid data-contain">
      <!-- prettier-ignore --> <!-- Here include datatable_general --> 
      {% include 'utils/datatable_general.html' with tax_id='TaxID' url_name='org_detail' modelname='Organism' %}
    </div>
    </div>

</div>
{% endblock %}
