<form id="OrganismUpdateForm" method="POST" action="{%url 'organism_update' object.pk %}">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-4">
      <input type="text" id="taxo-name" name="search_organism" style="display: none" />
      <table class="table table-hover table-sm align-middle table-bordered">
        <tbody>
          <tr>
            <th scope="row" class="">Organism Name</th>
            <td class="editable" data-id="{{object.pk}}" data-type="organism_name">
              <div class="detail">
                <a href="{%url 'taxo_detail' object.organism_name.urlname %}">{{object.organism_name}}</a>
              </div>
              <div class="input-group select">
                {% include 'utils/search_organism.html' %}
              </div>
            </td>
          </tr>
          <!--prettier-ignore-->
          {%include 'utils/row_editabletable.html' with form_label='Strain IDs' data_type='strain_ids' object_field=object.strain_ids form_field=form.strain_ids %}
          <!--prettier-ignore-->
          {%include 'utils/row_editabletable.html' with form_label='Strain Code' data_type='strain_ids' object_field=object.strain_code form_field=form.strain_code %}
          <!--prettier-ignore-->
          {%include 'utils/row_editabletable.html' with form_label='Strain Notes' data_type='strain_notes' object_field=object.strain_ids form_field=form.strain_notes %}
          <!--prettier-ignore-->
          {%include 'utils/row_editabletable.html' with form_label='Strain_Type' data_type='strain_type' object_field=strain_type form_field=form.strain_type %}
          <!--prettier-ignore-->
          {%include 'utils/row_editabletable.html' with form_label='Panel' data_type='strain_panel' object_field=strain_panel form_field=form.strain_panel %}
          <!--prettier-ignore-->
          {%include 'utils/row_editabletable.html' with form_label='Strain Origin' data_type='strain_origin' object_field=object.strain_origin form_field=form.strain_origin %}
         <!--prettier-ignore-->
         {%include 'utils/row_editabletable.html' with form_label='Strain Identification' data_type='strain_identification' object_field=object.strain_identification form_field=form.strain_identification %}       
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-hover table-sm align-middle table-bordered">
        <tbody>
             <!--prettier-ignore-->
             {%include 'utils/row_editabletable.html' with form_label='Resistance Properties' data_type='res_property' object_field=object.res_property form_field=form.res_property %}
             <!--prettier-ignore-->
             {%include 'utils/row_editabletable.html' with form_label='Gene Properties' data_type='gen_property' object_field=object.gen_property form_field=form.gen_property %}
             <!--prettier-ignore-->
             {%include 'utils/row_editabletable.html' with form_label='Sequence' data_type='sequence' object_field=object.sequence form_field=form.sequence %}
             <!--prettier-ignore-->
             {%include 'utils/row_editabletable.html' with form_label='Sequence Link' data_type='sequence_link' object_field=object.sequence_link form_field=form.sequence_link %}
             <!--prettier-ignore-->
             {%include 'utils/row_editabletable.html' with form_label='Oxygen Pref' data_type='oxygen_pref' object_field=object.oxygen_pref form_field=form.oxygen_pref %}
             <!--prettier-ignore-->
             {%include 'utils/row_editabletable.html' with form_label='MTA Status' data_type='mta_status' object_field=object.mta_status form_field=form.mta_status %}
              <!--prettier-ignore-->
            {%include 'utils/row_editabletable.html' with form_label='MTA Document' data_type='mta_document' object_field=object.mta_document form_field=form.mta_document %}       
  
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-hover table-sm align-middle table-bordered">
        <tbody>
             <!--prettier-ignore-->
             {%include 'utils/row_editabletable.html' with form_label='Risk Group' data_type='risk_group' object_field=object.risk_group form_field=form.risk_group %}
             <!--prettier-ignore-->
             {%include 'utils/row_editabletable.html' with form_label='Pathogen' data_type='pathogen_group' object_field=object.pathogen_group form_field=form.pathogen_group %}
             <!--prettier-ignore-->
             {%include 'utils/row_editabletable.html' with form_label='Lab Restriction' data_type='lab_restriction' object_field=object.lab_restriction form_field=form.lab_restriction %}
             <!--prettier-ignore-->
             {%include 'utils/row_editabletable.html' with form_label='Biologist' data_type='biologist' object_field=object.biologist form_field=form.biologist %}
             <!--prettier-ignore-->
             {%include 'utils/row_editabletable.html' with form_label='Tax ID' data_type='tax_id' object_field=object.tax_id form_field=form.tax_id %}
             <!--prettier-ignore-->
        </tbody>
      </table>
      <div class="col-md-3 updateformshow not-visible">
        <button type="submit" class="btn btn-sm mx-2" name="note">
          <i class="fa-regular fa-floppy-disk"></i>
        </button>
        <a class="btn btn-sm mx-2" href="{% url 'org_detail' object.pk %}"><i class="fa-solid fa-xmark"></i></a>
      </div>
    </div>
  </div>
</form>

<script>
  var table = document.getElementsByTagName('table');
  for (let i = 0; i < table.length; i++) {
    resizableGrid(table[i]);
  }

</script>