<!--prettier-ignore-->
{% extends "base.html" %}
<!--prettier-ignore-->
{% block title%}COADD{% endblock %}
<!--  -->
{% block content%}
<!--  -->
{%include 'utils/topbar.html' %}
<div class="d-flex flex-row justify-content-between vh-100">
  <!-- Sidebar View -->
  {%include "utils/sidebar.html"%}
  <!-- Main View -->
  <div class="main d-flex flex-column">
    <div class="d-flex flex-wrap justify-content-between m-2 align-items-baseline">
      {% include 'utils/pagination.html'%}
      <!-- Swich Table/Card View -->
      <div class="m-0">
        <a href="{%url 'org_list'%}" class="btn btn-outline-secondary"><i class="bi bi-list"></i></a>
        <a href="{%url 'org_card'%}" class="btn btn-outline-secondary">
          <i class="bi bi-grid-fill"></i>
        </a>
      </div>
      <!-- End -->
      <!-- Call Create Taxonomy  Modal-->
      <div class="row d-flex flex-wrap m-0 border">
        <a id="createOrganism" class="card-link" style="float: right">Add<i class="bi bi-plus"></i>
        </a>
        <div id="createOrganismModal" class="modal fade" role="dialog" data-bs-backdrop="static"></div>
      </div>
      <!-- End---------------------- -->

      <!--  -->
      {%include 'utils/selectAllExp.html'%}

    </div>
    <!-- Card View Content -->
    <div class="contain-fluid">
      <div class="row d-flex flex-wrap mx-2">
        {% for object in page_obj %}
        <!--  -->
        {% url 'org_detail' object.pk as url_name %}
        <!--prettier-ignore-->
        {%include 'utils/card.html' with url_name=url_name object_id=object.organism_id datatype='Organism' object_var1=object.strain_code object_var2=object.organism_name object_var3=object.strain_ids object_var5_label="Type" object_var5=object.strain_type object_id_slug=object.organism_id object_var6_label="Phenotype" object_var6=object.res_property object_var7_label="Genotype" object_var7=object.gen_property %}
        <!--prettier-ignore-->
        {%endfor%}
      </div>
    </div>
  </div>
</div>
{%load static%}
<script type="text/javascript" src="{%static 'js/modal/create_organism.js'%}"></script>
{%endblock%}