<div class="accordion bg-transparent w-100 m-auto" id="accordion_orgbatchimage">
    <div class="accordion-item">
    </div>
    <h2 class="accordion-header d-flex align-items-baseline" id="heading_orgbatchimage">
        <div>
            {% url 'batchimg_create' pk=object.pk as createurl%}
            {% include 'utils/modal/simpleupload.html' with title='Add_Image_OrgBatch' form=orgbatchimg_form addurl=createurl %}
        </div>
        <button class="accordion-button collapsed" style="max-height: 20px" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_orgbatchimage" aria-expanded="true" aria-controls="collapse_image">
            <h5 class="fs-6 my-0">
                Images {% include 'utils/miscellaneous/showentries_badge.html' with obj_count=batchimg_obj_count title='Images in Organism Batch' %}
            </h5>
        </button>
    </h2>
    <div id="collapse_orgbatchimage" class="accordion-collapse collapse bg-transparent"
        aria-labelledby="heading_image" data-bs-parent="#accordion_orgbatchimage">
        <div class="accordion-body bg-transparent d-flex flex-wrap">
            <div class="d-flex flex-wrap">


                {% for image in batchimg_obj %}
                {% if image.astatus >= 0 %}
                <div class="d-flex flex-column justify-content-between border border-2 border-dark m-2"
                    style="width:25em; height:auto">

                    <!-- Show Image -->
                    <p class="m-auto">{{ image.orgbatch_id }}</p>
                    <button type="button" class="btn btn-primary border-0 bg-transparent" data-bs-toggle="modal"
                        data-bs-target="#ShowImage_lg{{image.pk}}">

                        <h5>{{ image.image_name_orgbatch }}</h5>
                       path {{ image.image_file.url }}
                       {% load static %}
                        <img src="{{ image.image_file.url }}" alt="{{ image.image_desc }}"
                            style="width: 50%; height: auto;">
                    </button>
                    <p class="m-auto">{{ image.image_desc }} ({{ image.image_source }})</p>

                    <!-- Large Image Modal -->
                    <div class="modal fade" id="ShowImage_lg{{image.pk}}" tabindex="-1"
                        aria-labelledby="ShowImage_lg{{image_pk}}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ShowImage_lgLabel{{image.pk}}">{{image.image_name}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="{{ image.image_file.url }}" alt="{{ image.image_desc }}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Delete Image -->
                    <div>

                        {% if user.permission == 'Admin' %}
                        <a class="btn-sm btn-outline-secondary mb-1" data-bs-toggle="modal"
                            data-bs-target="#org_img_del{{image.pk}}" data-bs-toggle="tooltip"
                            data-bs-placement="right" title="Click to delete">
                            <i class="fa-regular fa-trash-can text-danger fs-6"></i>
                        </a>
                        {% else %}
                        <a class="btn-sm btn-outline-secondary" data-bs-toggle="tooltip" data-bs-placement="right"
                            title="No Permission To Delete">
                            <i class="fa-regular fa-trash-can text-secondary fs-6"></i>
                        </a>
                        {% endif %}

                    </div>
                    <!--Delete Image Modal -->
                    <div class="modal fade" id="org_img_del{{image.pk}}" data-bs-backdrop="static"
                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <!--prettier-ignore-->
                            {% url 'batchimg_delete' pk=image.pk as deleteurl %}
                            {% include 'utils/modal/delete.html' with title='Delete OrgBatch Image' deleteurl=deleteurl entry=image %}
                        </div>
                    </div>
                </div>
                {%endif%}
                {% endfor %}

            </div>
        </div>
    </div>
</div>