{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} mysite{% endblock %}
{% block content %}

<!-- Include -->
<div class="container vh-100">

  <div id="createGroup">
    <a style="float:right" class="btn btn-success btn-sm">
      <i class="bi bi-plus"></i>
      <span>Add New Group</span>
    </a>
  </div>

  <div id="createGroupModal" class="modal fade" role="dialog">
  </div>
  <script>

    $(document).ready(function () {

      let my_modal = $("#createGroupModal");

      $("#createGroup a").click(function () {
        my_modal.load("/usermanagement_create/", function () {
          my_modal.modal("show"); // Open Modal
          // $("#createGroupForm").submit(function (e) {
          //       e.preventDefault(); // Cancel the default action
          //       $.ajax({
          //           method: "POST",
          //           data: $(this).serialize(),
          //           dataType: "json",
          //           url: "/usermanagement_create/",
          //           success: function (response) {
          //               my_modal.modal('hide');
          //           },
          //           error: function (response) {

          //           },});      
          //       });

        });
      });
    });

  </script>

  <hr>
  <div class="w-75 h-75 m-auto">

    <table class="table table-hover bg-light">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">description</th>
          <!-- <th scope="col">set members</th> -->

          <th scope="col">actually members</th>
          <th scope="col">update</th>
          <th scope="col">delete</th>
        </tr>
      </thead>
      <tbody>
        {% for group in objects %}
        <tr>
          <th scope="row">{{group.id}}</th>
          <td>{{group.name}}</td>
          <td>{{group.description}}</td>

          <!-- <td>
            <ul>
              {%for i in group.members%}
              <li>{{i}}</li>
              {%endfor%}
            </ul>
          </td> -->
          <td>
            <ul>
              {%for user in group.user_set.all%}
              {{user.username}}
              {%endfor%}
            </ul>
          </td>
          <td>
            <div id="{{group.id}}">
              <a class="btn btn-success btn-sm">Update</a>
            </div>

            <div id="groupUpdateModal" class="modal fade" role="dialog">
            </div>
            <script>

              $(document).ready(function () {
                btn = "#" + "{{group.id}}"
                let my_modal = $('#groupUpdateModal');
                $(`${btn} a`).click(function () {
                  my_modal.load("{% url 'updateGroup' group.id %}", function () {
                    my_modal.modal("show");
                    // $("form").attr("action", "{% url 'updateGroup' group.id %}" )       
                    // Open Modal
                  });
                });
              });

            </script>

          </td>
          <td>

            <div id="d{{group.id}}">
              <a class="btn btn-success btn-sm">delete</a>
            </div>

            <div id="groupDelModal" class="modal fade" role="dialog">
            </div>
            <script>

              $(document).ready(function () {
                btn = "#d" + "{{group.id}}"
                console.log(btn)
                let my_modal = $('#groupDelModal');
                $(`${btn} a`).click(function () {
                  my_modal.load("{% url 'deleteGroup' group.id %}", function () {
                    my_modal.modal("show");
                    // $("form").attr("action", "{% url 'updateGroup' group.id %}" )       
                    // Open Modal
                  });
                });
              });

            </script>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
<!--prettier-ignore-->
</div>
{%endblock%}