{% load custom_filters %}
<div style="height: 100vh;overflow: auto;">


  <table class="table table-hover sorting_table fixTableHead table-bg" style="width: 100%">
    <thead>
      <tr>
        <!-- 1st Column for action items -->
        <th style="width: 1rem"></th>

        <!-- Nth Columns for fields -->
        {% for field in fields %}
          {% if field|is_dict %}
            <!-- If field isdict - use field.key -->
            {% for key in field.keys %}
              <th class="order_field" style="width: fit-content" data-name="{{key}}">{{key}}</th>
            {% endfor %}
          {% else %}
            <!-- use field -->
            <th class="order_field" style="width: fit-content" data-name="{{field}}">{{field}}</th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>

    <tbody hx-target="closest tr" hx-swap="outerHTML">
      <!-- For Paginated tables -->
      {% if page_obj %}
        <!--prettier-ignore  -->
        {% for object in page_obj%}
          {% if table_id == 'ApplicationUser' %}
            {% include 'apputil/appuser_htmx.html' with table_id='ApplicationUser'%}
          {% else %}
            <tr>
              <td>
                <!--1st Column for action items  -->
                {% include 'utils/miscellaneous/selectbox.html' with datatype=modelname object_id=object.pk %}
              </td>

              {% for item in object.get_values %}
                <td>
                {% if item|is_dict %}

                  <!-- If item isdict - display item.key and use  item.value as link -->
                  {% for key, value in item.items %}      
                    <a href="{{value}}" target="_blank">{{ key }}</a>
                  {% endfor %}
                {% else %}
                 <!-- Display item -->
                  {{item|linebreaksbr}}
                {% endif %}

                </td>
              {% endfor %}       
            </tr>
          {% endif %}
        {% endfor %}
        <!--  -->
      {% else %}
      
      <!-- For Non-Paginated Single tables -->

        {% for object in objects %}

        <tr>
          <td>
            <!--prettier-ignore  -->
            {% include 'utils/miscellaneous/selectbox.html' with datatype=modelname object_id=object.pk %}
            <!--  -->
          </td>
          {% for item in object.get_values %}
            <td>
            {% if item|is_dict %} <!-- custom filter -->   
              {% for key, value in item.items %}      
                <a href="{{value}}" target="_blank">{{ key }}</a>
              {% endfor %}
            {% else %}
              {{item}}
            {% endif %}
            </td>

          {% endfor %}      
        </tr>

        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>