{% extends "base.html" %}
<!--  -->
{% block title%}COADD{% endblock %}
{% block content %}


<div class="d-flex flex-row vh-100">
  {% comment %} 
    {% url 'pivoted-table' app_model='dscreen-Assay' as pivot_url%}
  {% endcomment %}

  <!-- Sidebar View/Buttons -->
  {% include 'grid/base/sidebar_lists.html' with model_name='Assay' list_url='assay_list' card_url='' export_url='' pivot_url='' create_url='assay_create' import_url='' %}
  <!-- Filterbar View/Filter -->
  {% include "utils/sidebar.html" %}
  
  <!-- Main View -->
  <div class="d-flex flex-column w-100"> 

    <!-- list View Content -->
   <div class="contain-fluid data-contain">
      {% include 'modal/updateModel_base_modal.html' with model_name='Assay' %}
      {% include 'datatable/datatable_pag_action.html' with model_name='Assay' update_url='assay_update' %}
    </div>
    </div>

</div>
{% endblock %}
