{% extends 'base.html'%}

{% block title%} COADD{% endblock %}

{% block content%}
    <div class="d-flex flex-row vh-100">

    <!--prettier-ignore-->
    {% url 'pivoted-table' app_model='dorganism-Organism_Batch' as url_pivotedtable%}
    {% include 'grid/base/left_navbar.html' with list_url='testplate_list' url_pivotedtable=url_pivotedtable %}
    <!-- Sidebar View -->
    {% include "utils/sidebar.html" %}
    <!-- Main View -->
    <div class="d-flex flex-column w-100">
        {% include 'datatable/base/datatable_div.html' with title='TestPlates' model_name='TestPlate' application='dplate' %}
        <!-- list View Content -->
        <div class="fixTableHead">
        <!--prettier-ignore-->
        {% include 'datatable/base/datatable_base.html' with modelname='TestPlate' %}
        </div>
        
    </div>
    </div>
{% endblock%}


