{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
<!--prettier-ignore-->
{% block content%}
<div class="d-flex flex-row vh-100">

  <!--prettier-ignore-->
  {% url 'pivoted-table' app_model='ddrug-MIC_COADD' as url_pivotedtable%}
  {%include 'utils/leftbar.html' with list_url='mic_coadd_list' card_url='mic_coadd_card' %}
  <!-- Sidebar View -->
  {%include "utils/sidebar.html"%}
  <!-- Main View -->
  <div class="d-flex flex-column w-100">
    {% include 'utils/main_horizalbar.html' with title='Antibiogram MIC (COADD)' model_name='MIC_COADD' application='ddrug' %}
    <!-- list View Content -->
    <div class="fixTableHead">
      <!--prettier-ignore-->
      {%include 'utils/datatable_general.html' with modelname='MIC_COADD' %}
      
    </div>
  </div>
</div>
{% endblock%}
