<!-- trigger modal -->
{%include 'utils/miscellaneous/delete_btn.html' with target='#modal-default'|add:object_cultr.pk %}

<!-- Modal -->
<div class="modal fade" id="modal-default{{object_cultr.pk}}" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="modal-default{{object_cultr}}Label" aria-hidden="true">
  <div class="modal-dialog">
    <!--prettier-ignore-->
    {% url 'cultr_delete' pk=object_cultr.pk as deleteurl %}
    {%include 'utils/modal/delete.html' with title='Delete Culture' urlname=deleteurl entry=object_cultr%}
  </div>
</div>