<div class="modal-dialog">
  <div class="modal-content" style="width: 50rem">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Create Batch</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    {% include 'utils/search_organism_id.html' %}
    <div class="card mt-3 text-left">
      <hr />
      <form method="POST" class="post-form" name="create" action="{%url 'cultr_create'%}">
        {% csrf_token %}
        <!-- ignore prettier -->
        {{form.as_p}}
        <input type="text" id="microorg" name="search_organism" style="display: none" />
        <!-- id "taxo-name" used in search_organism.js to assign ajax result -->

        <hr />
        <input type="submit" class="btn btn-outline-secondary" value="Add" name="note" />
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </form>
    </div>
  </div>
</div>