<div class="Land_banner m-auto mt-5 bg-transparent Land-frame-hidden"  style="width: 36rem">
  <!-- <div class="card-head"> -->

  <label for="" class="ms-2 position-absolute" style="margin-top: -1rem !important">
    <span class="fs-4 text-muted px-1 rounded-3">Organisms</span>
  </label>

 

    <div class="d-flex justify-content-center">
      <a class="landp-img-01 d-flex align-items-center justify-content-center h4 lead" href="{%url 'org_card' %}"
        data-bs-toggle="tooltip" data-bs-placement="left" title="{{objects_org}} organims">
        ORGANISM
      </a>
      <a class="hex m-4" href="{%url 'taxo_card' %}" data-bs-toggle="tooltip" data-bs-placement="right"
        title="{{objects_taxo}} spieces">
        <span class="hex-txt">TAXONOMY</span>
      </a>
    </div>
  
</div>

