{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
{% block content %}
<div class="mt-5" style="margin-top:20px; height:50px"></div>
<div class="card m-auto mt-5 bg-transparent rounded-3 border border-5" style="width: 36rem">
  <div class="card-head">
    <label for="" class="ms-2 position-absolute" style="margin-top: -1rem !important">
      <span class="fs-4 text-muted px-1 rounded-3 border broder-2">Organisms</span>
    </label>
  </div>
  <!-- <input type="text" class="form-control mt-2" id="input1" /> -->
  <div class="card-body d-flex justify-content-center">
    <a class="landp-img-01 d-flex align-items-center justify-content-center h4 lead" href="{%url 'org_card' %}"
      data-bs-toggle="tooltip" data-bs-placement="left" title="{{objects_org}} organims">
      ORGANISM
    </a>

    <a class="landp-img-02 d-flex align-items-center justify-content-center h4 lead" href="{%url 'taxo_card' %}"
      data-bs-toggle="tooltip" data-bs-placement="right" title="{{objects_taxo}} spieces">
      TAXONOMY
    </a>
  </div>
</div>
{%include 'ddrug/ddrug_home.html'%}
{%include 'dgene/gene_home.html'%}

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  
        {%include 'utils/messagebox.html'%}
    
</div>


<!-- Generated markup by the plugin -->

<script>
  $(window).on('load', function () {
    if (window.sessionStorage.fist_load_modal1 === undefined) {
      $('#exampleModalToggle').modal('show');
      window.sessionStorage.fist_load_modal1 = true
    }

  });

</script>



{%endblock%}