{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
{% block title%} COADD{% endblock %}
{% block content %}

<div style="margin: auto; color: red; text-align: center">
  {%include 'utils/message.html'%}
</div>
<div class="row gx-3 justify-content-center">
  <!-- <div class="col"> -->

  <div class="card-body d-flex flex-column align-items-center mt-0 gap-2">
    {%load static%}
    <img
      class="card-img-top"
      style="width: 40rem"
      src="{% static '/images/brand/CO-ADD_Logo_White_NoBackground_Baseline1500x375.png' %}"
      alt=""
    />
    <h1 class="card-title" style="color: var(--orange)">
      Open-access Antimicrobial Screening Database
    </h1>
    <p class="card-text fs-4" style="color: var(--orange)">
      Helping Chemists Discovery New Antibiotics to Fight Drug-Resistance
      Infection
    </p>
  </div>

  <!-- </div> -->
</div>
<div class="card m-auto mt-5" style="width: 36rem">
  <div class="card-head">
    <label
      for="Label-OrganismModel"
      class="ms-2 position-absolute"
      style="margin-top: -1rem !important"
    >
      <span class="fs-4 text-muted px-1">Organisms</span>
    </label>
  </div>
  <!-- <input type="text" class="form-control mt-2" id="input1" /> -->
  <div id="Label-OrganismModel" class="card-body d-flex justify-content-center">
    <a
      class="landp-img-01 d-flex align-items-center justify-content-center h4 lead"
      href="{%url 'taxo_card' %}"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="{{objects_taxo}} spieces"
    >
      TAXONOMY
    </a>

    <a
      class="landp-img-02 d-flex align-items-center justify-content-center h4 lead"
      href="{%url 'org_card' %}"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="{{objects_org}} organims"
    >
      ORGANISM
    </a>
  </div>
</div>

{%endblock%}
