{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
{% block content %}
<div class="row gx-3 justify-content-center">
  <!-- <div class="col"> -->

  <div class="card-body d-flex flex-column align-items-center mt-0 gap-2">
    {%load static%}
    <img class="card-img-top" style="width: 40rem"
      src="{% static '/images/brand/CO-ADD_Logo_White_NoBackground_Baseline1500x375.png' %}" alt="" />
    <h1 class="card-title" style="color: var(--orange)">
      Open-access Antimicrobial Screening Database
    </h1>
    <p class="card-text fs-4" style="color: var(--orange)">
      Helping Chemists Discovery New Antibiotics to Fight Drug-Resistance
      Infection
    </p>
  </div>

  <!-- </div> -->
</div>
<div class="card m-auto mt-5" style="width: 36rem">
  <div class="card-head">
    <label for="" class="ms-2 position-absolute" style="margin-top: -1rem !important">
      <span class="fs-4 text-muted px-1">Organisms</span>
    </label>
  </div>
  <!-- <input type="text" class="form-control mt-2" id="input1" /> -->
  <div class="card-body d-flex justify-content-center">
    <a class="landp-img-01 d-flex align-items-center justify-content-center h4 lead" href="{%url 'org_card' %}"
      data-bs-toggle="tooltip" data-bs-placement="left" title="{{objects_org}} organims">
      ORGANISM
    </a>

    <a class="landp-img-02 d-flex align-items-center justify-content-center h4 lead" href="{%url 'taxo_card' %}"
      data-bs-toggle="tooltip" data-bs-placement="right" title="{{objects_taxo}} spieces">
      TAXONOMY
    </a>
  </div>
</div>
{%include 'ddrug/ddrug_home.html'%}

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
  tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">V0.5 updates:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {%include 'utils/messagebox.html'%}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>


<!-- Generated markup by the plugin -->

<script>
  $(window).on('load', function () {
    if (window.sessionStorage.fist_load_modal1 === undefined) {
      $('#exampleModalToggle').modal('show');
      window.sessionStorage.fist_load_modal1 = true
    }

  });

</script>



{%endblock%}