<!-- path("createScreenrun/', ScreenRun_CreateView, name="screenrun_create") -->


{% if message.status == 'new' %}
  <form  
    hx-post="{% url create_url %}"
    hx-target="#create-body"
    hx-swap="innerHTML"
  >
    {% csrf_token %}
    <!-- Default Create Model Form Template  -->
    <div class="row  row-cols-2 row-cols-lg-3 g-2 g-lg-3">

      {% for field in form.visible_fields%}
        <div class="col">
          <label>{{field.label}}</label> 
          {% if field.field.widget.attrs.readonly %}
            : {{field.value}}
          {% else %}          
            <p>{{field | safe}}</p>
          {% endif %}

          <h3><span class="badge bg-danger text-light">{{field.help_text}}</span></h3>
          {% for error in field.errors%} 
            <span class="badge text-info text-warning">{{error}}</span>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
    <hr>
    <div>
      {{message.text}} 
    </div>

    <!-- Needs to be within </form> for 'submit' to post -->
    <div class="modal-footer d-flex justify-content-center align-center">
      <button type="submit" class="btn btn-primary">New</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>
  </form>

{% elif message.status == 'saved' %}
    <div>
      {{ message.text }}:
      {{ message.html }}  
    </div>

    <!-- Needs to be within </form> for 'submit' to post -->
    <div class="modal-footer d-flex justify-content-center align-center">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Finish</button>
    </div>

{% elif message.status == 'error' %}
    <div>
      {{message.text}} 
    </div>

    <!-- Needs to be within </form> for 'submit' to post -->
    <div class="modal-footer d-flex justify-content-center align-center">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    </div>

{% endif %}
