
<div class="modal fade" id="create{{create_model}}_modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
      <div class="modal-content" id="create-content">

        <div class="modal-header">
          <h5 class="modal-title" id="create-title"> New {{create_model}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body" id="create-body">
          <!-- HTMX will load content here -->
          Form loading ... 

          {% comment %} <div class="modal-footer">
            {% include 'utils/miscellaneous/save_btn.html' %}
            {% include 'utils/miscellaneous/cancel_btn.html' %}
          </div> {% endcomment %}

        </div>

      </div>
  </div>
</div>
