<div class="modal fade" id="infoModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="info-content">

        <div class="modal-header">
        <h5 class="modal-title">dj(CO-ADD)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body" id="info-body">
            Get Information ...
        </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      <!-- HTMX will inject content here -->
    </div>
  </div>
</div>
