<div class="modal fade" id="progress-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content" id="progress-content">

        {% comment %} 
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title"> New {{create_model}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        {% endcomment %}

        <div class="modal-body" id="progress-body">
          <!-- HTMX will load content here -->
          Loading ... 

          {% comment %} <div class="modal-footer">
            {% include 'utils/miscellaneous/save_btn.html' %}
            {% include 'utils/miscellaneous/cancel_btn.html' %}
          </div> {% endcomment %}

        </div>

      </div>
  </div>
</div>
