{% comment %} 
  <div class="modal-header">
  <h5 class="modal-title">dj(CO-ADD)</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div> 
<div class="modal-body">
{% endcomment %}

<div>
  <p>Version: {{version}}</span></p>
  <p>Database: {{database}}</span></p>
  <!-- <p>User: {{user}}</span></p> -->
  <p>User: {{user}}</span></p>

  {% if user.is_superuser %}
   <p>Logged in: 
    {% for user in current_users %}
     {{user.name}}
    {% endfor %}  
   </p>
  {% endif %}

</div>


{% comment %} 
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div> 
{% endcomment %}
