<tr>

    <td>
        <button hx-get="{% url 'stock_list' object_batch.pk %}" hx-target="#modals-here" hx-trigger="click"
            _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop"><i
                class="bi bi-box-arrow-up-left"></i></button>

        <div id="modals-here"></div>
    </td>
    {%for value in object_batch.get_values%}
    <td> {{value}}</td>
    {%endfor%}
    <td style="width: 10%;">

        <button hx-get="{% url 'batch_update' object_batch.pk %}" hx-trigger="click"><i class="fa fa-pencil"
                aria-hidden="true"></i>
        </button>
        <span class="">
            {%include 'dorganism/deleteForm/Batch_del.html'%}
        </span>

    </td>
</tr>