{%for value in object.get_values%}
<td> {{value}}</td>
{%endfor%}
<td style="width: 10%;">

    <button hx-get="{% url 'batch_update' object.pk %}" hx-taget="#databatch{{object.pk}}"><i class="fa fa-pencil"
            aria-hidden="true"></i>
    </button>
    <span class="">
        {%include 'dorganism/deleteForm/Batch_del.html'%}
    </span>

</td>
<td>
    <button hx-get="{% url 'stock_list' object.pk %}" hx-target="#modals-here" hx-trigger="click"
        _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop"><i
            class="bi bi-box-arrow-up-left"></i></button>

    <div id="modals-here"></div>
</td>