<tr hx-trigger='cancel' class='editing' hx-get="{%url 'stock_list' object.pk %}">

    <td>{{form.orgbatch_id}}</td>
    <td>{{form.stock_id}}</td>
    <td>{{form.stock_note}}</td>
    <td>{{form.stock_type}}</td>
    <td>{{form.stock_date}}</td>
    <td>{{form.biologist}}</td>

    <td>
        <input type="submit" value="update" hx-put="{%url 'stock_update' object.pk %}" hx-include="closest tr"
            hx-trigger="click">
        <a href="{% url 'stock_list' object.pk %}">Cancel</a>
    </td>

</tr>