<tr>
    {%for value in object.get_values%}
    <td>{{value}}</td>
    {%endfor%}

    <td>

        <button hx-get="{% url 'stock_update' object.pk %}" hx-trigger="click" onclick="myfunc()"><i
                class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <span class="">
            {%include 'dorganism/deleteForm/Stock_del.html'%}
        </span>

    </td>
</tr>
{%load static%}
<script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
<script>
    function myfunc() {
        console.log("clicked!")
    }
</script>