{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
<!--prettier-ignore-->
{% block content%}
<div class="d-flex flex-row vh-100">
  {% url 'excel-import' process_name='ID_Sequence' as urlname %}
  <!--prettier-ignore-->
  {% include 'utils/leftbar.html' with list_url='idseq_list' %}
  <!-- Sidebar View -->
  {% include "utils/sidebar.html" %}
  <!-- Main View -->
  <div class="d-flex flex-column w-100">
    {% include 'utils/main_horizalbar.html' with title='Identification by Sequence' model_name='ID_Sequence' application='dgene'%}
    <!-- list View Content -->

    <div class="contain-fluid data-contain">
      <!--prettier-ignore-->
      {% include 'utils/datatable_general.html' with modelname='ID_Sequence' url_name='idseq_update' %}
    </div>
    
  </div>
</div>
{% endblock%}