<form
  id="GeneUpdateForm"
  method="POST"
  action="{%url 'gene_update' object.pk %}"
>
  {% csrf_token %}

  <div class="row">
    <div class="col-md-4">
      <table class="table table-hover table-sm align-middle table-bordered">
        <tbody>
          <!--prettier-ignore-->
          <tr>
            <th>ID</th>
            <td>
              {{object.pk}}
            </td>
     
          </tr>
           <!--prettier-ignore-->
           {% for field in form.group1 %}
           <tr>
           <!--prettier-ignore-->
           {%include 'utils/row_editabletable.html' with form_label=field.label_tag data_type=field.label_tag form_field=field %}
           <!--prettier-ignore-->
     
           </tr>
           {%endfor%}
          </tbody>
      </table>
     
    </div>
    <div class="col-md-4">
      <!-- Table 2 -->
      <table class="table table-hover table-sm align-middle table-bordered">
        <tbody>
          {% for field in form.group2 %}
          <tr>
          <!--prettier-ignore-->
          {%include 'utils/row_editabletable.html' with form_label=field.label_tag data_type=field.label_tag form_field=field %}
          <!--prettier-ignore-->
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
   
      <div class="col-md-3 updateformshow not-visible">
        <div class="d-flex justify-content-evenly align-baseline ">
          {%include 'utils/miscellaneous/save_btn.html'%}
          <!--  -->
          {%include 'utils/miscellaneous/cancel_btn_reloc.html'%}
          
        </div>
    </div>
  </div>
</form>

<script>
  var table = document.getElementsByTagName('table');
  for (let i = 0; i < table.length; i++) {
    resizableGrid(table[i]);
  }

</script>
