{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
<!--prettier-ignore-->
{% block content%}
<div class="d-flex flex-row vh-100">

  <!--prettier-ignore-->
  {% url 'pivoted-table' app_model='dorganism-Organism_Batch' as url_pivotedtable%}
  {%include 'utils/leftbar.html' with list_url='org_batch_list' url_pivotedtable=url_pivotedtable %}
  <!-- Sidebar View -->
  {%include "utils/sidebar.html"%}
  <!-- Main View -->
  <div class="d-flex flex-column w-100">
    {% include 'utils/main_horizalbar.html' with title='Organism_Batch' model_name='Organism_Batch' application='dorganism' %}
    <!-- list View Content -->
    <div class="fixTableHead">
      <!--prettier-ignore-->
      {%include 'utils/datatable_general.html' with modelname='Organism_Batch' %}
    </div>
    
  </div>
</div>

{% endblock%}

