{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%}COADD{% endblock %}
{% block content %}
<div class="mt-5" style="margin-top: 20px; height: 50px"></div>

{% include 'dorganism/dorganism_home.html' %}
<!--  -->
{% include 'ddrug/ddrug_home.html' %} 
<!--  -->
<!-- {% include 'dgene/gene_home.html' %} -->

<div
  class="modal fade"
  id="exampleModalToggle"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel"
  tabindex="-1"
>
  {% include 'utils/messagebox.html' %}
</div>

<!-- Generated markup by the plugin -->

<script>
    $(window).on("load", function () {
        if ($(".Land_banner").hasClass("Land_frame_show")) {
            $(".Land_banner").removeClass("Land_frame_show");}
        const Land_visible = () => {
          if ($(".Land_banner").hasClass("Land-frame-hidden")) {
              $(".Land_banner").removeClass("Land-frame-hidden");
              $(".Land_banner").addClass("Land_frame_show");
          }
      };
        const Land_banner = setTimeout(Land_visible, 2000);

        if (window.sessionStorage.fist_load_modal1 === undefined) {
            $("#exampleModalToggle").modal("show");
            window.sessionStorage.fist_load_modal1 = true;
        }

        if (!$(".Land_banner").hasClass("Land-frame-hidden")) {
            clearTimeout(Land_banner);
        }
    });
</script>

{% endblock %}
