{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%}COADD{% endblock %}
{% block content %}
<div style="margin-top: 20px; height: 50px"></div>
<div class="container d-flex flex-wrap justify-content-around">

        <div id="Label-OrganismModel" class="card-body d-flex justify-content-center">
          
            {% url 'org_card' as org_url%}
            {% include 'utils/miscellaneous/landbtn_primary.html' with title='ORGANISM' url=org_url totalnumber=nOrg %}

            <div class="row w-50">
                <div class="col text-center m-auto">
                
                    {% url 'taxo_card' as taxonomy_url %}
                    {% include 'utils/miscellaneous/landbtn_secondary.html' with title='Taxonomy' url=taxonomy_url totalnumber=nTax %}
                    <!--  -->
                    {% url 'stock_list_overview' as stock_url %}
                    {% include 'utils/miscellaneous/landbtn_secondary.html' with title='Stock' url=stock_url %}
                </div>
            </div>
        </div>
 

        <div id="Label-DrugModel" class="card-body d-flex justify-content-center">
            <!--  -->
            {% url 'drug_card' as drug_url%}
            {% include 'utils/miscellaneous/landbtn_primary.html' with title='DRUG' url=drug_url totalnumber=nDrug %}
            <div class="row w-50">
                <div class="col text-center m-auto">
                    <h3>
                    <!--  -->
                    {% url 'vitekcard_list' as vitekcard_url %}
                    {% include 'utils/miscellaneous/landbtn_secondary.html' with title='Vitek Card' url=vitekcard_url totalnumber=nVCard %}
                    <!--  -->
                    {% url 'vitekast_list' as vitekast_url %}
                    {% include 'utils/miscellaneous/landbtn_secondary.html' with title='Vitek AST' url=vitekast_url totalnumber=nVAST %}
                     <!--  -->
                     {% url 'vitekid_list' as vitekid_url %}
                     {% include 'utils/miscellaneous/landbtn_secondary.html' with title='Vitek ID' url=vitekid_url totalnumber=nID %}
                    </h3>
                </div>
                <div class="col text-center m-auto">
                    <h3>
                    {% url 'mic_coadd_list' as micc_url %}
                    {% include 'utils/miscellaneous/landbtn_secondary.html' with title='Antibiograms' url=micc_url totalnumber=nMICC %}
                    <!--  -->
                    {% url 'mic_pub_list' as micp_url %}
                    {% include 'utils/miscellaneous/landbtn_secondary.html' with title='MIC Public' url=micp_url totalnumber=nMICP %}
                    <!--  -->
                    {% url 'breakpoint_list' as bp_url %}
                    {% include 'utils/miscellaneous/landbtn_secondary.html' with title='Breakpoint' url=bp_url totalnumber=nBP %}

                    </h3>
                </div>
            </div>
        </div>

  
<!-- 
        <div id="Label-GeneModel" class="card-body d-flex justify-content-center">
            {% url 'gene_list' as gene_url%}
            {% include 'utils/miscellaneous/landbtn_primary.html' with title='GENE' url=gene_url totalnumber=nGene %}
            <div class="d-flex flex-column mt-5 w-50">
                    <h3>
                    {% url 'sequence_list' as sp_url %}
                    {% include 'utils/miscellaneous/landbtn_secondary.html' with title='ID by Sequence' url=sp_url totalnumber=nBP %}
                
                    {% url 'id_pub_list' as id_url %}
                    {% include 'utils/miscellaneous/landbtn_secondary.html' with title='ID from Public' url=id_url totalnumber=nIDP %}
                    </h3>
                    <h3>
                    {% url 'wgs-fastqc_list' as wgsfq_url %}
                    {% include 'utils/miscellaneous/landbtn_secondary.html' with title='FastQC - WGS' url=wgsfq_url totalnumber=nFastQC %}
                  
                    {% url 'wgs-checkm_list' as wgsch_url %}
                    {% include 'utils/miscellaneous/landbtn_secondary.html' with title='CheckM - WGS' url=wgsch_url totalnumber=nCheckM %}
                    
                    </h3>
   
            </div>
        </div> -->


</div>
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    {% include 'utils/messagebox.html' %}
</div>

{% endblock %}
