

<div>

   <button type="button" class="btn btn-outline-success {% if process_status < 9 %}disabled {% endif %}"> 
    <a href="{% url 'add_projectinfo' pk=object.pk %}" style="color:inherit"> Add Samples/Contacts</a>
  </button>
 
  <button type="button" class="btn btn-outline-success {% if process_status < 9 %}disabled {% endif %}"> 
    <a href="{% url 'generate_stockprep' pk=object.pk %}" style="color:inherit"> Generate StockPrep</a>
  </button>

  <button type="button" class="btn btn-outline-success"> 
    <a href="{% url 'load_stockprep' pk=object.pk %}" style="color:inherit"> Upload StockPrep </a>
  </button>

  <button type="button" class="btn btn-outline-success {% if process_status < 9 %} disabled {% endif %}"> 
    <a href="{% url 'project_report' pk=object.pk %}" style="color:inherit"> Generate Report</a>
  </button>

</div>
