<div class="modal-dialog">
  <div class="modal-content">
    <div class="row ">
      <div class="col-md-6 m-auto">

        <div class="card mt-3 text-left" width='300px'>
          <h4 class="my-0">Create Organism</h4>
          {% include 'utils/searchbar_01.html' %}
          <!-- ===================================================================================== -->
          <hr>
          <form method="POST" class="post-form" name="create" action="{%url 'org_create'%}">
            {% csrf_token %}
            {{form.as_p}}
            <input type="text" id="taxo-name" name="searchbar_01" style="display: none;">
            <label for="">Strain Type</label>
            <div class="dropdown">
              <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Select Strain Type
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                <select class="form-select" multiple aria-label="multiple select example " name="Strain_Type"
                  id="straintype">
                  <!-- <option selected>Open this select menu</option> -->
                  {% for obj in Strain_Type %}
                  <option value="{{obj}}">{{obj}}</option>
                  {%endfor%}
                </select>
              </div>
              <hr>
              <input type="submit" class="btn m-auto mt-5" value="Add" name="note" />

          </form>
        </div>
        <a href="{% url 'org_list' %}">cancel</a>

      </div>
    </div>
  </div>
</div>