{% extends "base.html" %}
<!--prettier-ignore-->
{% block title%}COADD{% endblock %}
{% block content%}
<!--  -->
<div class="d-flex flex-row justify-content-between vh-100">
  {%include 'utils/leftbar.html' with list_url='wgs-fastqc_card' card_url='wgs-fastqc_card'%}
  <!-- Sidebar View -->
  {%include "utils/sidebar.html"%}
  <!-- Main View -->
  <div class="main d-flex flex-column">
    <!-- prettier-ignore -->
    {%include 'utils/main_horizalbar.html' %}
    <!-- prettier-ignore -->

    <!-- Card View Content -->
    <div class="contain-fluid">
      <div class="row d-flex flex-wrap mx-2">
        {% for object in page_obj %}
        <!--  -->
          <!--prettier-ignore-->
          
          {% include 'utils/card.html' with datatype='WGS_FastQC' object_name=object.orgbatch_id object_id_slug=object.urlname card_fields=fields%}
        <!--prettier-ignore-->
        {%endfor%}
      </div>
    </div>
  </div>
</div>


{%endblock%}