@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');
/* functional classes */
/* 
1 Login Form
2 Navbar
3 Landing page
4 Sidebar
5 pagination
wizard form steps style
Childtable Stock special cell style
key up search input
*/
/*  Special Effects */
/* 
(sorting table duble arrows effect 
toggle up down arrow
filter class style in Organism view
modal form style
Animation)
*/

/* Theme Color */
/* 
  How to use theme colors:
  var(--body-bg): body background, input background, 
  var(--plain-text): description object-fields 
  var(--brand-text): Nav, filter type, big title, border
  var(--info): button hover bg, current page bt_bg, button text  
  var(--plain-text-bg):  body background, card, table background, 
  var(--brand-bg): nav background text-info title 
  var(--info-bg): button bg,  button hover text

  */
:root {
  --body-bg: #ebebeb;
  --plain-text: black;
  --brand-text: #fff;
  --info: #ff6e00;
  --plain-text-bg: #bdcaca;
  --brand-bg: #2c7a84;
  --info-bg: #bdcaca;
  --border-color: #a6b6b6;
  --bs-table-hover-bg: #ebebeb !important;
}

:root .darkMode {
  --body-bg: #2e2e2e;
  --plain-text: #a3a3a3;
  --brand-text: rgb(126, 126, 126, 0.5);
  --info: #ad4b00;
  --plain-text-bg: #484e4e;
  --brand-bg: #324547;
  --info-bg: #7d8585;
  --border-color: #3f4444;
  --bs-table-hover-bg: #8b8b8b !important;
}

/* font-size */
/* 
description ( icon, p, ): 14px;
button, info :16px;
h1-h6: overrideboot_size.css

*/


body {
  min-height: 100vh;
  position: relative;
  background: var(--body-bg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family:'Roboto', 'Sans', sans-serif;
  font-size: 14px;
}


/*------------------ class color and background color--------------------*/
.btn-color{
  color:var(--brand-text) !important;
  background-color: var(--brand-bg) !important;
  border: 2px solid var(--brand-bg) !important;
}

.btn-color.disabled{
  color: var(--plain-text)!important;
  background-color: transparent!important;
  border: transparent !important;
}

/*-------------- Change Border style here ---------------*/
.border,
table,
th {
  border: 2px solid var(--border-color) !important;
}

td {
  border: 1px solid var(--border-color) !important;
}

/* -------------------- Change Bg and text color here -------------*/
.table-bg,
.card-bg {
  background-color: var(--brand-text) !important;
}

.bg-info {
  background-color: var(--info) !important;
}

.text-info,
.page-link,
.card-link,
a {
  color: var(--brand-bg) !important;
}

p {
  color:var(--plain-text);
}

/* Frequently used html element style */
a {
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
}

a:hover {
  transition: 1s;
  text-decoration: var(--info) solid underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

i {
  color: var(--info) !important;
}

/* --- customize classes --- */

.labeltext {
  background-color: var(--body-bg);
  border: 2px solid var(--brand-bg);
  color: var(--info);
  border-radius: 5px;
}



.card {
  color: var(--plain-text);
}

.btn-danger{
 border: 2px solid var(--info) !important;
  background-color: var(--info) !important;
 
}
.btn:hover {
  background-color: var(--body-bg) !important;
  color: var(--info) !important;
  font-weight: bold;
}
.form-select {
  width: fit-content !important;
}

.accordion-button {
  background-color: var(--plain-text-bg) !important;
  color: var(--brand-bg) !important;
  font-weight:700;
  font-size: 16px !important;
  padding: 3px;
  margin: 2px 0 2px 0;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(var(--plain-text-bg), 0.5) !important;
  color: var(--brand-bg) !important;
  font-weight: normal;
}

.accordion-item {
  background-color: transparent !important;
}

input {
  background-color: var(--brand-text) !important;
  color: var(--plain-text) !important;
  border: 1px solid var(--brand-bg) !important;
}

input:focus,
select:focus,
textarea:focus {
  outline: thick double var(--brand-bg) !important;
}

.form-control:focus {
  border-color: var(--brand-bg);
  box-shadow: inset 0 1px 1px var(--info-bg), 0 0 8px teal;
}


select {
  white-space: initial;
  width: 12rem;
  border: none;
  margin: 0;
}

select option {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
}

span {
  font-size: 16px;
}

/* bootstrap override */

.dropdown-menu {
  background-color: var(--plain-text-bg) !important;
  border: 2px solid var(--brand-bg);
}


.card:hover {
  transition: 1s;
  box-shadow: 10px 5px 5px var(--info-bg);
}


/* =================Functional CSS  Classes========================================= */
/* ---------------------------1 Login Form --------------------------*/
.logintext {
  position: relative;
}

.logintext:hover :after {
  width: 100%;
  height: 5px;
  position: absolute;
  top: 100%;
  left: -2px;
  content: "";
  background-color: var(--info);
  border-radius: 10px;
  animation: fadeIn 0.5s linear;

}

.Login-form {
  width: 50%;
  margin: auto;
}

.Login-form label {
  position: absolute;
  padding: 2px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  pointer-events: none;
  font-size: 14px;
  color: var(--plain-text);
  opacity: 0.5;
}

.Login-form label.active {
  top: -5px;
  font-size: 14px;
  background-color: var(--body-bg);
  opacity: 1;
}

.Login-form input {
  
  background-color: var(--body-bg) !important;
  border: 1px solid var(--brand-bg) !important;
  font-size: 14px !important;
}

.Login-form input:focus+.Login-form label,
.Login-form input:not(:placeholder-shown)+.Login-form label {
  top: 5px;
  /* font-size: 12px; */
  color: var(--brand-bg) !important;
  border: 2px solid var(--brand-bg) !important;
  background-color: var(--body-bg) !important;
  /* outline: var(--teal) !important */
}

/* Change the white to any color */
.Login-form input:-webkit-autofill,
.Login-form input:-webkit-autofill:hover,
.Login-form input:-webkit-autofill:focus,
.Login-form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--info-bg) inset !important;
}

.Login-form .form-control:focus {
  outline: none;
  box-shadow: none;
}

.login {
  background-color: var(--brand-bg);
  color: var(--brand-text);
  margin-top: 25px;
  border: 1px solid var(--brand-bg);
  border-radius: 10%;
  font-size: 16px;
  padding: 3px 8px 3px 8px;
}

.login:hover {
  opacity: 0.5;
}

/* ---------------------------2 Navbar --------------------------*/
.navbar {
  height: 120px;
  width: 100%;
  transition: 1s;
}

.navbar p {
  transition: 1s;
}

.navbar,
.navbar-nav {
  background-color: var(--brand-bg);
}

.nav-title {
  color: var(--brand-text);
  font-size: large;
}

.navbar-toggler {
  background-color: var(--info);
}

.navbar-toggler-icon {
  color: var(--brand-bg);
}

.navbar-light {
  background-color: var(--bs-topnav-bg);
  opacity: 0.8;
  color: var(--bs-light);
}

.navbar-brand,
.nav-link {
  margin-left: 1rem;
  display: inline-block;
  position: relative;
  color: var(--brand-text) !important;
  border: 2px solid transparent;
  transition: 1s;
}

.navbar-brand:hover,
.nav-title i:hover {
  border-radius: 50% !important;
  box-shadow: 0px 0px 10px 0px white;
  transition: 0.3s ease-in;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-profile-user {
  height: 36px;
  width: 36px;
  background-color: var(--bs-gray-300);
  padding: 3px;
  transition: 1s;
}

/* Nav Shrink Style */
nav.navbar.shrink .header-profile-user,
nav.shrink .brand .navbar-brand {
  opacity: 0;
}

nav.navbar ul,
nav.navbar .dropdown {
  transition: 0.5s;
}

nav.navbar.shrink .navbar-nav,
nav.navbar.shrink .dropdown {
  height: 30px;
  padding: 0;
  margin-top: 0;
}

nav.navbar.shrink {
  height: 45px;
}

nav.shrink a {
  font-size: 12px;
}

nav.shrink p {
  font-size: 12px;
}

nav.shrink .dropdown-divider {
  margin: 0 !important;
}

/* 1 */
a .tooltiptext {
  visibility: hidden;
}

a:hover .tooltiptext {
  visibility: visible;
}

/* ---------------------------3 Landing page --------------------------*/

.Land-frame-hidden,
.Land-frame-hidden label span {
  color: transparent !important;
  border: None !important;

}

.Land_frame_show {
  /* Initial border style */
  position: relative;
  /* Animation */
  animation: borderAnimation 4s ease-in;
  border: 3px solid #7c7c7c;

}

.Land_frame_show:after {

  width: 10px;
  background-color: #7c7c7c;

  height: 0;

  position: absolute;
  bottom: 0;
  left: -3px;
  z-index: 1;
  animation: bordermovedown 3s ease-out;
  animation-fill-mode: forwards;
  content: '';
  display: inline-block;

}

.Land_frame_show label span {
  animation: fadeIn 5s;
  background-color: var(--body-bg);
}

.landp-img-01 {
  position:relative;
  height: 8rem;
  width: 8rem;
  background-color: var(--info, orange);
  border-radius: 50%;
  margin: 1rem;
  color: var(--brand-text) !important;
  font-weight: bolder;
}

.landp-div {
  animation: fadeIn 2s;
  margin-left: 0;
  height: 9.8rem;
  width: 8rem;
  font-size: medium;
}


.landp-img-01:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in;
  opacity: 80%;
}

.landp-img-01 {
  animation: fadeIn 0.6s;
}

.hex {
  animation: fadeIn-rotate 1s;
}

.land-badge {
  animation: fadeIn 1.5s;
}

[data-value='ORGANISM']:hover:after{
  position:absolute;
  top: 105%;
  left: 0px;
  content: "create, update new organism;  Antibiogram table, tracking organism batch, stock through individual organism view";
  color: var(--plain-text);
}

[data-value='DRUG']:hover:after{
  position:absolute;
  top: -50%;
  left: -5px;
  content: "Drug informations";
  color: var(--plain-text);
  /* width: 2px;
  background-color: var(--info);
  height: 300px;
  transform:rotate(90deg) */
}

[data-value='GENE']:hover:after{
  position:absolute;
  top: 105%;
  left: 0px;
  content: "Gene informations";
  color: var(--plain-text);
}

/* ---------------------------4 Sidebar --------------------------*/
.sidebar {
  background-color: var(--info-bg);
  color: var(--plain-text);
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 15%;
  box-shadow: 2px 2px 5px var(--info-bg);
  min-height: 30em;
  height: fit-content;
  transition: 0.5s;
}

/* ---------------------------------5 pagination -------------------------------*/
.page-item {
  border: none !important;
}

.page-link,
.card-link {
  cursor: pointer !important;
  background-color: transparent !important;
  border: none !important;
}

/* -----------------------------------------wizard form steps style--------------------- */
.step-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  margin: auto;
  margin-top: 2em;
}

.step {
  padding: 5px;
  border: 1px solid var(--brand-bg);
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  width: 150px;
  margin: 10px;
}

.step:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50%);
  left: calc(100%);
  width: 20px;
  height: 2px;
  border: 1px solid var(--brand-bg);
}

.step.active {
  background-color: var(--brand-bg);
  color: var(--brand-text);
}


/* --------------------------- Childtable Stock special cell style ------------------*/
.n_left_column {
  width: fit-content;
}

.n_left_column p {
  white-space: nowrap;
}
.leftbar {
  background-color: var(--info-bg);
}

/* --------------------------- key up search input --------------------------*/

.results-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 300px;
  width: 100%;
  box-shadow: 0 8px 8px 0 var(--info-bg);
  transition: 0.2s;
}

/* Js editablechoices */
.tdclass {
  position: relative;
}

.results-select {
  display: none;
  position: absolute;
  top: 30px;
  left: 0px;
  flex-direction: column;
  max-height: 300px;
  z-index: 10;
  width: 100%;
  box-shadow: 0 8px 8px 0 var(--info-bg);
  transition: 0.2s;
}

.select {
  display: none;
}

.resultlist {
  margin: 2px;
  padding: 2px;
  font-size: 12px;
  background-color: var(--bs-light);
  color: var(--bs-dark);
  border: none;
  border-radius: 2px;
  transition: 0.2s;
  z-index: 10;
}

.resultlist:hover {
  background-color: var(--bs-dark);
  color: var(--bs-light);
}


.scrollbar {
  overflow: scroll;
}

.notdisplay {
  display: none;
}

.updateformshow {
  margin: auto;
  width: 50%;
}

/* --------------------------- Special Effects --------------------------*/
/* ---sorting table duble arrows effect */
.sorting_table th {
  padding-right: 18px;
}

.sorting_table .asc:before,
.sorting_table .asc:after,
.sorting_table .desc:before,
.sorting_table .desc:after,
.sorting_table th:before,
.sorting_table th:after {
  border: 4px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}

.sorting_table th:before {
  border-bottom-color: #666;
  margin-top: -9px;
}

.sorting_table th:after {
  border-top-color: #666;
  margin-top: 1px;
}

.sorting_table .asc:before {
  border-bottom-color: #1a1a1a;
  margin-top: -9px;
}

.sorting_table .asc:after {
  border-top-color: #666;
  margin-top: 1px;
}

.sorting_table .desc:before {
  border-bottom-color: #666;
  margin-top: -9px;
}

.sorting_table .desc:after {
  border-top-color: #1a1a1a;
  margin-top: 1px;
}

/* toggle up down arrow*/

.fa-chevron-down {
  transform: rotate(0deg);
  transition: transform 0.5s linear;
}

.fa-chevron-down.open {
  transform: rotate(180deg);
  transition: transform 0.5s linear;
}


/* filter class style in Organism view */
#id_Class {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

form p {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}


#alert {
  animation: disapear 2s forwards;
  width: 6rem;
}

/* modal form style */
.django-form-table:hover {
  background-color: var(--plain-text-bg);
}

.fa-floppy-disk {
  transition: 0.8s;
  font-size: 18px;
}


/*  */

.data-contain {
  position: relative;
  border-top: 1px solid var(--bs-custom-white);
  padding-top: 10px;
}

.view-title {
  position: absolute;
  left: 45%;
  top: -10px;
  background-color: var(--bs-body-bg);
}

.not-visible {
  display: none !important;
}

.visible {
  display: block !important;
}



/* Animation */
@keyframes fadeIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn-rotate {
  0% {
    transform: scale(0);
    transform: rotate(0deg);
  }

  100% {
    transform: scale(1);
    transform: rotate(90deg);
  }
}

@keyframes borderAnimation {
  10% {
    border: solid 5px var(--bs-body-bg);
    /* border-left: 3px solid rgb(165, 164, 164); */

  }

  25% {
    border: solid 5px var(--bs-body-bg);
    border-left: 3px solid rgb(165, 164, 164);
    /* border-right: 3px solid var(--bs-th-bg); */
  }

  25.02% {
    border: solid 5px var(--bs-body-bg);
    border-left: 3px solid rgb(165, 164, 164);
    border-bottom: 3px solid rgb(165, 164, 164);
    /* border-bottom: 3px solid var(--bs-th-bg); */

  }

  50% {
    border: solid 5px var(--bs-body-bg);
    border-left: 3px solid rgb(165, 164, 164);
    border-bottom: 3px solid rgb(165, 164, 164);
    /* border-bottom: 3px solid var(--bs-th-bg); */
    /* border-left: 3px solid var(--bs-th-bg); */

  }

  50.02% {
    border: solid 5px var(--bs-body-bg);
    border-left: 3px solid rgb(165, 164, 164);
    border-bottom: 3px solid rgb(165, 164, 164);
    border-right: 3px solid rgb(165, 164, 164);
    /* border-left: 3px solid var(--bs-th-bg); */
  }

  75% {
    border: solid 5px var(--bs-body-bg);
    border-left: 3px solid rgb(165, 164, 164);
    border-bottom: 3px solid rgb(165, 164, 164);
    border-right: 3px solid rgb(165, 164, 164);
    /* border-left: 3px solid var(--bs-th-bg); */

  }

  75.02% {
    border: solid 5px rgb(165, 164, 164);
  }

}

@keyframes bordermovedown {

  0% {
    /* height: calc(100% - 10px);
    height: ; */
    width: 5px;
    bottom: 100%;
    left: -5px;
  }

  25% {
    height: 5px;
    width: 5px;
    bottom: -5px;
    left: -5px;
  }

  25.01% {
    height: 5px;
    /* width: calc(100% + 10px); */
    bottom: -5px;
    left: -5px;
    box-shadow: -10px 0px 10px 1px var(--info-bg);
  }

  50% {
    height: 5px;
    width: 0%;
    left: 100%;
    bottom: -5px;
    box-shadow: 0px 10px 10px 1px var(--info-bg);
  }

  50.01% {
    /* height: calc(100% + 10px); */
    width: 5px;
    left: 100%;
    bottom: -5px;
  }

  75% {
    height: 0;
    width: 5px;
    left: 100%;
    bottom: 100%;
  }

  75.01% {
    height: 5px;
    /* width: 75%; */
    left: 50%;
    bottom: 100%;
  }

  99.01% {
    height: 5px;
    width: 0;
    /* left: 50%; */
    bottom: 100%;
  }
}



.blink {
  animation: blink-animation 0.5s steps(5, start);
  -webkit-animation: blink-animation 1s steps(5, start);
}

@keyframes blink-animation {
  to {
    color: rgb(255, 167, 4);
    transform: scale(0.5);
    opacity: 0.5;
  }
}

@-webkit-keyframes blink-animation {
  to {
    color: rgb(255, 167, 4);
    transform: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes twinkle {
  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes disapear {
  0% {
    opacity: 1;
    /* transform: rotateX(90deg); */
  }

  50% {
    opacity: 0.5;
    /* transform: rotateX(0deg); */
  }

  100% {
    display: none;
    opacity: 0;
    /* transform: rotateX(90deg); */
  }
}
