@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

:root {
  --teal: #2c7a84;
  --orange: #ff6e00;
  --grey: #625e5d;
}

:root {
  --bs-heading-bg: var(--teal);
  --bs-topbar-search-bg: #f3f3f9;
  --bs-header-item-color: #555b6d;
  --bs-boxed-body-bg: #ebebf4;
  --bs-topnav-bg: #2c7a84;
  --bs-menu-item-color: #545a6d;
  --bs-heading-dark-bg: #2a3042;
  --bs-input-border-color: #ced4da;
  --bs-input-focus-border-color: #b1bbc4;
  --bs-form-check-input-border: #ff6e00;
  --bs-inform-color: #ff6e00;
  --bs-form-item-color: #625e5d;
  --bs-footer-bg: #f2f2f5;
  --bs-footer-color: #74788d;
  --bs-custom-white: #fff;
  --bs-border-color: #625e5d;
  --bs-body-bg: #fff;
}

.darkMode {
  --bs-gray-100: #212529;
  --bs-gray-200: #2a3042;
  --bs-gray-300: #32394e;
  --bs-gray-400: #a6b0cf;
  --bs-gray-500: #bfc8e2;
  --bs-gray-600: #c3cbe4;
  --bs-gray-700: #f6f6f6;
  --bs-gray-800: #eff2f7;
  --bs-gray-900: #f8f9fa;
  --bs-body-bg: #222736;
  --bs-body-bg-rgb: rgb(34, 39, 54);
  --bs-body-color-rgb: 166, 176, 207;
  --bs-body-color: #a6b0cf;
  --bs-heading-color: #f6f6f6;
  --bs-border-color: #32394e;
  --bs-custom-white: #2a3042;
  --bs-input-border-color: #32394e;
  --bs-input-focus-border-color: #3a425a;
  --bs-hr-border-color: #32394e;
  --bs-form-check-input-border: #3a425a;
  --bs-light: #32394e;
  --bs-light-rgb: 50, 57, 78;
  --bs-dark: #f6f6f6;
  --bs-dark-rgb: 246, 246, 246;
  --bs-heading-bg: #262b3c;
  --bs-header-item-color: #a6b0cf;
  --bs-topbar-search-bg: #2a3042;
  --bs-heading-dark-bg: #556ee6;
  --bs-boxed-body-bg: #32394f;
  --bs-topnav-bg: #282e3f;
  --bs-menu-item-color: #878c9b;
  --bs-footer-bg: #262b3c;
  --bs-footer-color: #a6b0cf;
}

.navbar {
  background-color: var(--bs-heading-bg);
}

.navbar-toggler {
  background-color: var(--bs-inform-color);
}

.navbar-toggler-icon {
  color: var(--bs-topnav-bg);
}

.navbar-light {
  background-color: var(--bs-topnav-bg);
  opacity: 0.8;
  color: white;
}

.navbar-brand,
.nav-link {
  color: white !important;
  border: 2px solid transparent;
}

.navbar-brand:hover,
.nav-item a:hover {
  /* color: var(--orange, orange); */
  border: 2px solid var(--bs-border-color);
  /* box-shadow: 0px -5px 10px 0px white; */
  transition: 0.5s ease-in;
}

nav.navbar.shrink {
  height: 45px;
}

nav.shrink a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 15px;
}

nav.shrink .brand ul {
  display: none;
}

nav.shrink .brand .navbar-brand {
  max-width: 100px;
}

nav.shrink {
  padding: 4px 5px;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif !important;
  letter-spacing: 0px;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);

  /* var(--bs-body-bg); */
  font-size: small;
  text-transform: uppercase;
}

#top-alert {
  width: 100%;
  background-color: rgb(160, 160, 160);
  height: 35px;
  display: flex;
  justify-content: space-between;
}

.info {
  color: var(--bs-inform-color);
  font-weight: bold;
  font-size: 1rem;
  height: 20rem;
  padding: 10px;
  flex-wrap: wrap;
  background-color: rgb(248, 241, 241);
}

button,
.btn {
  border: 2px solid var(--bs-border-color);
  color: var(--bs-inform-color);
}

.btn:hover {
  color: white;
  background-color: var(--orange, orange);
  transition: 0.5s ease-out;
}

.btn2 {
  width: 6rem;
  background-color: var(--orange);
  color: white;
}

.btn2:hover {
  border: 2px solid white;
}

.home-banner {
  border-radius: 10% 25% 15% 25%;
}

.landp-img-01,
.landp-img-02,
.landp-img-03 {
  height: 8rem;
  width: 8rem;

  border-radius: 50%;
  margin: 1rem;
  color: white;
  font-weight: bolder;
}

.landp-img-01 {
  animation: fadeIn 1s;
  background-color: var(--orange, orange);
}

.landp-img-02 {
  background-color: var(--teal, teal);
  animation: fadeIn 1.5s;
}

.landp-img-03 {
  animation: fadeIn 2s;
  background-color: var(--orange, orange);
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.landp-img-01:hover,
.landp-img-02:hover,
.landp-img-03:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in;
  color: white;
}

/* =============================Drag to resize sidebar start ===================================== */
.resizer {
  flex-basis: 0;
  position: relative;
  z-index: 2;
  cursor: col-resize;
  background: #b7b8b9;
  margin-right: 3px;
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 20%;
}

/* .mol-container {
  width: 60%;
  height: 400px;
  position: relative;
} */

.main {
  /* flex-basis: 0; */
  flex-grow: 1;
  /* min-width: 70%; */
}

/* =============================Drag to resize sidebar end ===================================== */

footer {
  border: 2px solid wheat;
  background-color: var(--grey);
  color: white;
  bottom: 0 !important;
}

/* =========================================================== */

.list-view {
  display: flex;
  flex-direction: row;
}

.grid-view {
  display: flex;
  flex-direction: colum;
}

.card-img-bottom {
  /* width: 100%; */
  height: 20vw;
  object-fit: cover;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  border: 3px solid black;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

/* .tooltip:hover .tooltiptext {
  visibility: visible;
} */

.all_comps {
  background-color: #ddd3d0;
}

.compounds {
  box-shadow: 0 8px 6px -6px var(--grey);
}

.compounds:hover {
  border: 3px solid white;
  /* box-shadow: 5px 10px rgb(199, 188, 188); */
  transition: 0.2s ease-out;
  box-shadow: 0px 5px 12px 0px var(--grey), 0px -5px 12px 0px var(--grey);
}

.card-link {
  cursor: pointer !important;
}

/* ===============================================table==================================== */
.table {
  background-color: var(--bs-footer-bg);
}

.results-card {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  width: 50%;
  box-shadow: 0 8px 8px 0 var(--grey);
  transition: 0.5s;
}

.tdclass {
  position: relative;
}

.results-select {
  display: none;
  position: absolute;
  top: 30px;
  left: 0px;
  flex-direction: column;
  max-height: 300px;
  z-index: 10;
  width: 100%;
  box-shadow: 0 8px 8px 0 var(--grey);
  transition: 0.5s;
}

.select {
  display: none;
  /* width: 100%;
  height: 100%;
  border: none; */
}

select {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
}

select option {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
}

.resultslist {
  background-color: white;
  color: var(--grey);
  border: none;
}

.resultslist:hover {
  background-color: #ff6e00;
}

.not-visible {
  display: none;
}

.visible {
  display: block;
}

.scrollbar {
  overflow: scroll;
}

.notdisplay {
  display: none;
}

#id_Strain_Type {
  /* display: block;
  height: 200px !important; */
  overflow: scroll;
}

.btnok {
  border: none;
  background-color: #ff6e00;
  color: white;
}

.btnok:hover {
  border: 2px solid #ff6e00;
}

span {
  font-size: 16px;
}

td button {
  border: none;
  background-color: white;
  color: var(--teal);
  margin: 5px 2px 5px 2px;
}

td .btncancel {
  position: absolute;
  top: 0;
  right: 30px;
}

td .btnsave {
  position: absolute;
  top: 0;
  right: 0px;
}

td button:hover {
  color: white;
  background-color: #ff6e00;
}

td select option:hover,
td:hover {
  background-color: #ff6e00;
}

.toLeft {
  left: 0 !important;
}

.special,
.special option {
  font-size: 14px !important;
}

.updateformshow {
  margin: auto;
  width: 50%;
}

option {
  font-size: 16px !important;
}

/********************  Preloader *******************/
#preLoader {
  height: 100px;
  width: 260px;
  margin: 70px auto 0;
  position: relative;
}

#preLoader .loader {
  background: #ccc;
  width: 40px;
  height: 40px;
  border-radius: 24px;
  display: inline-block;
  position: absolute;
}

#preLoader .loader-1 {
  animation: animateDot1 1.5s linear infinite;
  left: 130px;
  background: #f73138;
}

#preLoader .loader-2 {
  background: #00b733;
  left: 60px;
  animation: animateDot2 1.5s linear infinite;
  animation-delay: 0.5s;
}

#preLoader .loader-3 {
  background: #448afc;
  left: 130px;
  animation: animateDot3 1.5s linear infinite;
}

#preLoader .loader-4 {
  background: #950faf;
  left: 60px;
  animation: animateDot4 1.5s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animateDot1 {
  0% {
    transform: rotate(0) translateX(-60px);
  }

  25%,
  75% {
    transform: rotate(180deg) translateX(-60px);
  }

  100% {
    transform: rotate(360deg) translateX(-60px);
  }
}

@keyframes animateDot2 {
  0% {
    transform: rotate(0) translateX(-70px);
  }

  25%,
  75% {
    transform: rotate(-180deg) translateX(-70px);
  }

  100% {
    transform: rotate(-360deg) translateX(-70px);
  }
}

@keyframes animateDot3 {
  0% {
    transform: rotate(0) translateX(60px);
  }

  25%,
  75% {
    transform: rotate(180deg) translateX(60px);
  }

  100% {
    transform: rotate(360deg) translateX(60px);
  }
}

@keyframes animateDot4 {
  0% {
    transform: rotate(0) translateX(60px);
  }

  25%,
  75% {
    transform: rotate(-180deg) translateX(60px);
  }

  100% {
    transform: rotate(-360deg) translateX(60px);
  }
}
