/*!

# [Color codes]

body-text-color: #575962
white-color: #ffffff
black-color: #191919
transparent-bg : transparent
default-color : #282a3c
primary-color : #177dff
secondary-color : #716aca
info-color : #36a3f7
success-color : #35cd3a
warning-color : #ffa534
danger-color : #f3545d

-------------------------------------------------------------------*/
*:focus {
  outline: 0;
  box-shadow: none;
}

/*   Typography    */
body,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif;
}

body {
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #2a2f5b;
}

a {
  color: #1572e8;
}

a:hover,
a:focus {
  color: #1269db;
}

h1,
.h1 {
  font-size: 1.725rem;
}

h2,
.h2 {
  font-size: 1.35rem;
}

h3,
.h3 {
  font-size: 1.1625rem;
}

h4,
.h4 {
  font-size: 1.0375rem;
}

h5,
.h5 {
  font-size: 0.9125rem;
}

h6,
.h6 {
  font-size: 0.825rem;
}

p {
  font-size: 14px;
  line-height: 1.82;
  margin-bottom: 1rem;
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.4;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
  color: inherit;
}

small,
.small {
  font-size: 13px;
}

b,
.b,
strong,
.strong {
  font-weight: 600;
}

.page-pretitle {
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #95aac9;
}

.page-title {
  font-size: 23px;
  font-weight: 600;
  color: #444444;
  line-height: 30px;
  margin-bottom: 20px;
}

.page-category {
  color: #444444;
  line-height: 1.8;
  margin-bottom: 25px;
}

.text-primary,
.text-primary a {
  color: #1572e8;
}

.text-primary:hover,
.text-primary a:hover {
  color: #1572e8;
}

.text-secondary,
.text-secondary a {
  color: #6861ce;
}

.text-secondary:hover,
.text-secondary a:hover {
  color: #6861ce;
}

.text-info,
.text-info a {
  color: #6a8bf8 !important;
}

.text-info:hover,
.text-info a:hover {
  color: #48abf7;
}

.text-success,
.text-success a {
  color: #118615 !important;
}

.text-success:hover,
.text-success a:hover {
  color: #31ce36 !important;
}

.text-warning,
.text-warning a {
  color: #ffad46;
}

.text-warning:hover,
.text-warning a:hover {
  color: #ffad46;
}

.text-danger,
.text-danger a {
  color: #f25961;
}

.text-danger:hover,
.text-danger a:hover {
  color: #f25961;
}

label {
  color: #495057;
  font-size: 14px;
}

.text-small {
  font-size: 11px;
}

.metric-value {
  margin-bottom: 5px;
  line-height: 1;
  white-space: nowrap;
}

.metric-label {
  font-size: 0.975rem;
  font-weight: 500;
  color: #686f76;
  white-space: nowrap;
  margin-bottom: 0;
}

/*   Font-weight    */
.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-mediumbold {
  font-weight: 400;
}

.fw-bold {
  font-weight: 600;
}

.fw-extrabold {
  font-weight: 700;
}

/* 		Opacity  	*/
.op-9 {
  opacity: 0.9;
}

.op-8 {
  opacity: 0.8;
}

.op-7 {
  opacity: 0.7;
}

.op-6 {
  opacity: 0.6;
}

.op-5 {
  opacity: 0.5;
}

.op-4 {
  opacity: 0.4;
}

.op-3 {
  opacity: 0.3;
}

/*    Layouts     */
body {
  min-height: 100vh;
  position: relative;
  background: #f9fbfd;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.border-left,
.border-right,
.border-bottom,
.border-top {
  border-color: #f0f1f3;
}

.dropdown-menu {
  width: fit-content;
  border: none;
}

.no-box-shadow {
  box-shadow: none;
}

/*    margin-top negative   */
.mt--5,
.my--5 {
  margin-top: -3rem;
}

.mt--4,
.my--4 {
  margin-top: -1.5rem;
}

.mt--3,
.my--3 {
  margin-top: -1rem;
}

.mt--2,
.my--2 {
  margin-top: -0.5rem;
}

.mt--1,
.my--1 {
  margin-top: -0.25rem;
}

/*      Wrapper      */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  top: 0;
  height: 100vh;
}

.main-header {
  top: 0;
  background: #ffffff;
  min-height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1001;
  box-shadow: 0px 0px 5px rgba(18, 23, 39, 0.5);
}

.main-header .navbar-header {
  min-height: 62px;
}

.main-header .navbar-header .btn-toggle {
  margin-right: 30px;
  margin-left: 20px;
}

.logo-header {
  float: left;
  width: 250px;
  height: 62px;
  line-height: 60px;
  color: #333333;
  z-index: 1001;
  font-size: 17px;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  z-index: 1001;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s;
}

.logo-header .big-logo {
  margin-right: 8px;
}

.logo-header .big-logo:hover {
  text-decoration: none;
}

.logo-header .big-logo .logo-img {
  width: 35px;
  height: 35px;
}

.logo-header .logo {
  color: #2a2f5b;
  opacity: 1;
  position: relative;
  height: 100%;
}

.logo-header .logo:hover {
  text-decoration: none;
}

.logo-header .logo .navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-right: 0px;
}

.logo-header .nav-toggle {
  position: absolute;
  top: 0;
  right: 18px;
  z-index: 5;
}

.logo-header .navbar-toggler {
  padding-left: 0px;
  padding-right: 0px;
  opacity: 0;
  display: none;
}

.logo-header .navbar-toggler .navbar-toggler-icon {
  height: 1em;
  width: 1em;
  color: #545454;
  font-size: 22px;
}

.logo-header .more {
  background: transparent;
  border: 0;
  font-size: 22px;
  padding: 0;
  opacity: 0;
  width: 0;
  display: none;
}

.btn-toggle {
  font-size: 20px;
  line-height: 20px;
  padding: 0px;
  background: transparent;
  color: #2a2f5b;
}

.btn-toggle:hover,
.btn-toggle:focus {
  opacity: 1;
}

#search-nav {
  flex: 1;
  max-width: 300px;
  transition: all 0.4s;
}

#search-nav.focus {
  max-width: 400px;
}

.table{
 background-color: white !important;
}

.accordion-button{
  background-color: #bed9ff;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); */
}