.dataTables_wrapper .dataTables_paginate .paginate_button {
    min-width: 1em;
    padding: none;
  }
  
  .fixed-pagination {
    position: fixed;
    top: 20px;
    /* Adjust the distance from the top as needed */
    right: 20px;
    /* Adjust the distance from the right as needed */
    z-index: 100;
    /* Ensure the control stays above other elements */
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    cursor: pointer !important;
    background-color: var(--info) !important;
    color: white !important;
    border: none !important;
    padding: 0.1rem 0.5rem;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    cursor: pointer !important;
    background-color: transparent !important;
    color: var(--brand-bg) !important;
    border: none !important;
    padding: 0.1rem 0.5rem;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    transition: 1s;
    text-decoration: var(--info) solid underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
  }
  
  .dataTables_length select {
    width: fit-content !important;
  }
  
  .dataTables_paginate span {
    background-color: transparent !important;
  }
  

  /* fixed table header */
.fixTableHead {
  overflow-y: auto;
  /* height: 100vh; */
  border-collapse: collapse;
  width: 100%;
}

.fixTableHead thead tr {
  position: relative;
}

.fixTableHead thead th {
  position: sticky !important;
  top: -2px;
  resize: horizontal;
  overflow: hidden;
  min-width: 70px;
  max-height: fit-content;
}

/* pivottable */

.dataframe {
  width: 100%;
}

.dataframe th,
.dataframe td {
  padding: 0;
  margin: 0;
  /* font-size: xx-small; */
  width: fit-content !important;
  height: fit-content !important;
}

.dataframe thead th {
  text-align: center;
  white-space: nowrap;
  transform-origin: 50% 50%;
  width: fit-content;
  height: fit-content;
  background-color: var(--plain-text-bg) !important;
}

.dataframe thead th:before {
  content: "";
  padding-top: 20%;
  display: inline-block;
  vertical-align: middle;
}

.dataframe thead th[colspan] {
  transform: rotate(0deg);
  width: fit-content;
  height: fit-content;
}

.dataframe thead th:before {
  content: "";
  padding-top: 0;
  display: inline;
  vertical-align: middle;
}

.dataframe td {
  white-space: wrap;
}

.dataframe {
  text-align: center;
  padding: 0;
  border: 1px solid;
}

/* draggable */
#draggable,
#draggable2 {
  width: 100px;
  height: 100px;
  padding: 0.5em;
  float: left;
  margin: 10px 10px 10px 0;
}

#droppable {
  width: 150px;
  height: 150px;
  padding: 0.5em;
  float: left;
  margin: 10px;
  border: 1px solid black;
}

/* Functional CSS */
/* Draggable and Dropable */

#sortable1,
#sortable2,
#sortable3 {
  background-color: var(--bs-topnav-bg);
  color: white;
  border-radius: 2%;
  max-width: fit-content;
  min-width: 20px;
  min-height: 200px;
  list-style-type: none;
  margin: auto;
  padding: 5px;
  margin-right: 10px;
  font-size: medium;
}

#sortable1 {
  color: teal;
  background-color: var(--bs-body-bg);
  /* border: 2px solide var(--bs-border-color); */
}

#sortable3 {
  min-height: fit-content;
}

#sortable1 li,
#sortable2 li,
#sortable3 li {
  margin: 2px;
  padding: 2px;
  margin-left: 2px;
  /* font-size: 1.2em; */
  width: fit-content;
}

.ui-state-default {
  padding: 0;
  border: 2px solid darkblue;
}

/* Error Display */
.errorlist {
  font-weight: bold;
  font-style: italic;
  color: var(--bs-inform-color);
}
