/* This css only for all kinds of tables */
/* 
1. general table style 
2. partial render datatable in detail view 
3. fixed table header
4. pivottable style
5. Draggable and Dropable and sortable
*/
/* ----- 1. general table style -----*/
table,
.table,
table.dataTable,
.dataframe {
  color: var(--plain-text) !important;
  border-collapse: collapse !important;
  width: 100%;
}

th {
  background-color: var(--plain-text-bg) !important;
  max-width: fit-content !important;
  padding: 2px !important;
  font-weight: 500 !important;
  word-wrap: break-word !important;
}

td {
  padding: 2px !important;
  white-space: wrap;
  word-wrap: break-word !important;
  max-width: 10em !important;
}

.dataTable th {
  max-width: 5em !important;
  width: fit-content !important;
}

table.dataframe tr:nth-child(even) {
  background-color: var(--plain-text-bg);
}

/* 2. partial render datatable in detail view */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  min-width: 1em;
  padding: none;
}

.fixed-pagination {
  position: fixed;
  top: 20px;
  /* Adjust the distance from the top as needed */
  right: 20px;
  /* Adjust the distance from the right as needed */
  z-index: 100;
  /* Ensure the control stays above other elements */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  cursor: pointer !important;
  background-color: var(--info) !important;
  color: white !important;
  border: none !important;
  padding: 0.1rem 0.5rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  cursor: pointer !important;
  background-color: transparent !important;
  color: var(--brand-bg) !important;
  border: none !important;
  padding: 0.1rem 0.5rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  transition: 1s;
  text-decoration: var(--info) solid underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.dataTables_length select {
  width: fit-content !important;
}

.dataTables_paginate span {
  background-color: transparent !important;
}


/* ----------fixed table header-------------- */
.fixTableHead {
  overflow-y: auto;
  /* height: 100vh; */
  border-collapse: collapse;
  width: 100%;
}

.fixTableHead thead tr {
  position: relative;
}

.fixTableHead thead th {
  position: sticky !important;
  top: -2px;
  resize: horizontal;
  overflow: hidden;
  min-width: 70px;
  max-height: fit-content;
}

/*----------- pivottable ---------------*/

.dataframe {
  width: 100%;
}

.dataframe th,
.dataframe td {
  padding: 0;
  margin: 0;
  width: fit-content !important;
  height: fit-content !important;
}

.dataframe thead th {
  text-align: center;
  white-space: nowrap;
  transform-origin: 50% 50%;
  width: fit-content;
  height: fit-content;
  background-color: var(--plain-text-bg) !important;
}

.dataframe thead th:before {
  content: "";
  padding-top: 20%;
  display: inline-block;
  vertical-align: middle;
}

.dataframe thead th[colspan] {
  transform: rotate(0deg);
  width: fit-content;
  height: fit-content;
}

.dataframe thead th:before {
  content: "";
  padding-top: 0;
  display: inline;
  vertical-align: middle;
}

.dataframe td {
  white-space: wrap;
}

.dataframe {
  text-align: center;
  padding: 0;
  border: 1px solid;
}

.dataframe th {
  font-weight: bold !important;
}
/* ------------ Draggable and Dropable and sortable ------------ */
#sortable1,
#sortable2,
#sortable3 {
  background-color: var(--bs-topnav-bg);
  color: white;
  border-radius: 2%;
  max-width: fit-content;
  min-width: 20px;
  min-height: 250px;
  list-style-type: none;
  margin: auto;
  padding: 5px;
  margin-right: 10px;
  font-size: medium;
}

#sortable1 {
  display: flex !important;
  color: teal;
  background-color: var(--bs-body-bg);
  min-height:fit-content;
  /* border: 2px solide var(--bs-border-color); */
}
#sortable2{
  height: 500px;
}
#sortable3 {
  min-height: 60px;
}

#sortable1 li,
#sortable2 li,
#sortable3 li {
  margin: 2px;
  /* padding: 2px; */
  /* margin-left: 2px; */
  /* width: 2em; */
  /* height: fit-content; */
  /* word-wrap: break-word !important; */
}

.ui-state-default {
  padding: 0;
  border: 2px solid var(--info);
}
.ui-sortable-placeholder {
  width: 15px;
  border: 5px solid rgb(12,194,170);
  visibility:visible !important;
}
/* Error Display */
.errorlist {
  font-weight: bold;
  font-style: italic;
  color: var(--bs-inform-color);
}