<!--prettier-ignore-->
{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} mysite{% endblock %}
<!--prettier-ignore-->
{% block content%}

<div class="position-relative w-100 bg-transparent">
  <div class="row bg-transparent">
    <h1>Screening data</h1>
  </div>
  <div class="d-flex flex-row bg-light justify-content-between">
    {%include "aa_chem/sidebar.html"%}
    <div class="main d-flex flex-column">
      {%include "aa_chem/readForm/Taxonomy_card.html"%}
    </div>
  </div>
</div>



<!--prettier-ignore-->
{% endblock%}