 <!-- Stock Section -->
    <div class="d-flex m-0 p-0">
    
      {% include 'utils/lefticons.html' with title="createStock" modal="createStockModal" %}
      <div class="accordion bg-transparent w-100" id="cell-stock-detail">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" style="max-height: 20px" data-bs-toggle="collapse"
              data-bs-target="#collapseCellStock" aria-expanded="true" aria-controls="collapseTwo">
              <h5 class="fs-6 my-0">
                Stock
              </h5>
              {% include 'utils/miscellaneous/showentries_badge.html' with obj_count=stock_obj_count %}
  
            </button>
          </h2>
          <div id="collapseCellStock" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#cell-stock-detail">
            <div class="accordion-body">
              <div class="table-responsive">
             
                {%include 'utils/datatable_sm.html' with table_id='datatable_stock' objects=stock_obj data_fields=stock_fields|slice:"1:" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>