<div class="modal-dialog modal-lg">
    <!--prettier-ignore-->
    {% url 'cell_create' as createurl %}
     {%include 'utils/modal/modal_form.html' with title='Create Cell' urlname=createurl form_id="Create_Cell"%}
  </div>
  <!-- validate cell name input -->
  <script>
    $(document).ready(function () {
      $('button[type="submit"]').click(function (e) {
        console.log($("#taxo-name"));
        if ($("#taxo-name").length) {
          var searchName = $("#taxo-name").val(); //
          if (searchName == "") {
            e.preventDefault(); // prevent form submission
            $("#search-input").focus();
          }
        }
      });
    });
  </script>