
<!-- From https://htmx.org/examples/modal-bootstrap/ -->

<!--
We start with a button that triggers the dialog, 
along with a DIV at the bottom of your markup where the dialog will be loaded

This button uses a GET request to /modal when this button is clicked. 
The contents of this file will be added to the DOM underneath the #modals-here DIV.
-->
<button
    hx-get="/modal"
    hx-target="#modals-here"
    hx-trigger="click"
    data-bs-toggle="modal"
    data-bs-target="#modals-here"
    class="btn primary">Open Modal</button>

<div id="modals-here"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>


<!-- The server responds with a slightly modified version of Bootstrap’s standard modal -->
 <div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Modal title</h5>
    </div>
    <div class="modal-body">
      <p>Modal body text goes here.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
</div>


<!--        https://www.youtube.com/watch?v=atPFBgUP88k                                    -->

index.html 
<style>
    .modal-overlay {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        botton: 0;
        z-index: 1;
        background-color: grey;
    }
    .modal-content {
        background-color: white;
        padding: 20px;
        width: 50%;
        border: 1px solid black;
        margin: 15% auto;
    }
</style>

<button 
    hx-get="/modal"
    hx-target="modal-container"> 
    Open Modal
</button>

<div id="modal-container">

</div>


modal.html opened by /modal
<div class="modal-overlay" hx-trigger="click target:modal-overlay" hx-target="#modal-container" hx-get="/null">
    <div class="modal-content">
        Hello
    </div>
</div>




