{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} mysite{% endblock %}
{% block content %}

<head>
  <style></style>
</head>

<div class="row gx-3 justify-content-center">
  <!-- <div class="col"> -->

  <div class="card-body d-flex flex-column align-items-center mt-0 gap-2">
    {%load static%}
    <img
      class="card-img-top"
      style="width: 40rem"
      src="{% static '/images/brand/CO-ADD_Logo_White_NoBackground_Baseline1500x375.png' %}"
      alt=""
    />
    <h1 class="card-title" style="color: var(--orange)">
      Open-access Antimicrobial Screening Database
    </h1>
    <p class="card-text fs-4" style="color: var(--orange)">
      Helping Chemists Discovery New Antibiotics to Fight Drug-Resistance
      Infection
    </p>
  </div>

  <div class="col-md-2 d-flex flex-column justify-content-around gap-3">
    <a href="{%url 'compounds'%}" class="btn btn-lg"
      >explore<i class="bi bi-chevron-right"></i
    ></a>

    <a href="{%url 'dataexport'%}" class="btn btn-lg"
      >download<i class="bi bi-download"></i
    ></a>
  </div>

  <!-- </div> -->
</div>
<div class="d-flex justify-content-center">
  <a
    class="landp-img-01 d-flex align-items-center justify-content-center h4 lead"
    href="#"
  >
    <!-- <svg class="svg-inline--fa fa-hexagon fa-w-18 fa-rotate-90" aria-hidden="true" focusable="false"
      data-prefix="far" data-icon="hexagon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="10 10 1000 900"
      data-fa-i2svg="">
      <path fill="currentColor"
        d="M441.5 39.8C432.9 25.1 417.1 16 400 16H176c-17.1 0-32.9 9.1-41.5 23.8l-112 192c-8.7 14.9-8.7 33.4 0 48.4l112 192c8.6 14.7 24.4 23.8 41.5 23.8h224c17.1 0 32.9-9.1 41.5-23.8l112-192c8.7-14.9 8.7-33.4 0-48.4l-112-192zM400 448H176L64 256 176 64h224l112 192-112 192z">
      </path>
    </svg> -->

    objects.count Compounds
  </a>

  <a
    class="landp-img-02 d-flex align-items-center justify-content-center h4 lead"
    href="#"
  >
    objects.count Targets
  </a>

  <a
    class="landp-img-03 d-flex align-items-center justify-content-center h4 lead"
    href="#"
  >
    objects.count Assays
  </a>
  <a
    class="landp-img-02 d-flex align-items-center justify-content-center h4 lead"
    href="#"
  >
    objects.count Targets
  </a>
</div>
<div class="info">More information...</div>

{%endblock%}
