{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} mysite{% endblock %}
{% block content %}

<head>
  <style>

  </style>
</head>


<div class="row vh-100 ">

  <!-- <div class="col"> -->
  <div class="card text-light m-auto mt-3"
    style="width: 100rem;background-image:url('../static/css/coaddbg01.png') ; background-size: cover; background-repeat: no-repeat; background-position: center; ">

    <div class="card-body d-flex flex-column align-items-center justify-content-start mt-0 gap-2">
      <div class="d-flex">

        <div class="landp-img-01 d-flex align-items-center justify-content-center h4 lead" href="#" hx-trigger="load">
          <!-- <svg class="svg-inline--fa fa-hexagon fa-w-18 fa-rotate-90" aria-hidden="true" focusable="false"
            data-prefix="far" data-icon="hexagon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="10 10 1000 900"
            data-fa-i2svg="">
            <path fill="currentColor"
              d="M441.5 39.8C432.9 25.1 417.1 16 400 16H176c-17.1 0-32.9 9.1-41.5 23.8l-112 192c-8.7 14.9-8.7 33.4 0 48.4l112 192c8.6 14.7 24.4 23.8 41.5 23.8h224c17.1 0 32.9-9.1 41.5-23.8l112-192c8.7-14.9 8.7-33.4 0-48.4l-112-192zM400 448H176L64 256 176 64h224l112 192-112 192z">
            </path>
          </svg> -->


          {{objects.count}} Compounds

        </div>
        <div class="landp-img-02 d-flex align-items-center justify-content-center  h4 lead" href="#" hx-trigger="load">

          {{objects.count}} Targets

        </div>
        <div class="landp-img-03 d-flex align-items-center justify-content-center  h4 lead" href="#" hx-trigger="load">

          {{objects.count}} Assays

        </div>
      </div>
      {%load static%}
      <img class="card-img-top" style="width: 40rem"
        src="{% static '/css/CO-ADD_Logo_White_NoBackground_Baseline1500x375.png' %}" alt="">
      <h1 class="card-title text-center">
        Open-access Antimicrobial Screening Database
      </h1>
      <p class="card-text fs-4">
        Helping Chemists Discovery New Antibiotics to Fight Drug-Resistance
        Infection
      </p>

      <div class="d-flex flex-wrap justify-content-between gap-3 w-50">
        <a href="{%url 'compounds'%}" class="btn btn-lg  text-light" style="background-color: #fd7e14;">explore<i
            class="bi bi-chevron-right"></i></a>

        <a href="#" class="btn btn-lg w-50 border border-2 text-light">download<i class="bi bi-download"></i></a>
      </div>
    </div>
  </div>
  <div class="banner"></div>
  <!-- </div> -->
</div>

{%endblock%}