{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} mysite{% endblock %}
{% block content %}
<div class="row vh-100">


  <!-- ================================================================================== -->
  <div>
    <form id="search-form" autocomplete="off">
      {% csrf_token %}
      <input type="text" id="search-input" placeholder="search Toxonomy" class="form-control">
    </form>
    <div id="results-box" class="results-card"></div>

  </div>
  <!-- ===================================================================================== -->
  <form id="createGroupForm" method="POST" class="post-form" name="create">
    {% csrf_token %}
    <h4 class="modal-title">Create Organism</h4>
    <input type="text" id="taxo-name" name="setTaxo" style="display: none;">
    <select class="form-select" multiple aria-label="multiple select example" name="strain" id="straintype">
      <option selected>Open this select menu</option>
      <option value="{{a}}">{{a}}</option>
      <option value="{{b}}">{{b}}</option>
      <option value="{{c}}">{{c}}</option>
    </select>

    <select class="form-select" multiple aria-label="multiple select example" name="risk" id="straintype">
      <option selected>Open this select menu</option>
      {%for obj in risks%}
      <option value="{{obj.Dict_Value}}">{{obj.Dict_Value}}</option>
      {%endfor%}
    </select>


    <input type="submit" class="btn btn-success m-auto" value="Add" name="note" />

  </form>

</div>

<script>
  const delay_by_in_ms = 700
  let scheduled_function = false
  const searchForm = document.getElementById("search-form")
  const searchInput = document.getElementById("search-input")
  const resultsBox = document.getElementById("results-box")

  const csrf = document.getElementsByName("csrfmiddlewaretoken")[0].value

  const sendSearchData = (inputtext) => {
    $.ajax({
      type: 'POST',
      url: '{%url "org_search"%}',
      data: {
        'csrfmiddlewaretoken': csrf,
        'inputtext': inputtext,
      },
      success: (res) => {
        console.log(res)
        const data = res.data
        if (Array.isArray(data) && searchInput.value.length > 0) {
          for (var i = 0; i < data.length; i++) {
            var block = document.createElement('button');
            block.setAttribute('id', i);
            block.innerText = data[i]['name']
            resultsBox.appendChild(block);
            block.addEventListener('click', function () {
              alert(this.id)
              console.log("working")
              searchInput.value = this.innerText
              var setTaxo = document.getElementById("taxo-name")
              setTaxo.value = this.innerText
              console.log("finish")
            })
            // resultsBox.insertAdjacentHTML('beforeend', `<button class="stretched-link" value="${i.name}" onclick="myFunc(this.value)">${data[i].name}</button> `)
          }
          // data.forEach(i => {
          //   resultsBox.insertAdjacentHTML('beforeend', `<button class="stretched-link" value="${i.name}" onclick="myFunc(this.value)">${i.name}</button> `)

          // })

        } else {
          if (searchInput.value.length > 0) {
            resultsBox.innerHTML = `<b>${data}</b>`
          } else {
            resultsBox.classList.add('not-visible')
          }
        }
      },
      error: (err) => {
        console.log(err)
      }

    })
  }

  const myFunc = (val) => {
    console.log(val)
    searchInput.value = val
    var setTaxo = document.getElementById("taxo-name")
    setTaxo.value = val
    resultsBox.innerHTML = ''

  }
  searchInput.addEventListener('keyup', e => {
    resultsBox.innerHTML = ''
    if (resultsBox.classList.contains('not-visible')) {
      resultsBox.classList.remove('not-visible')
    }
    // if (scheduled_function) {
    //   clearTimeout(scheduled_function)
    // }

    // scheduled_function = setTimeout(sendSearchData(e.target.value), delay_by_in_ms)
    sendSearchData(e.target.value)

  })


</script>

{%endblock%}