
<form id="createGroupForm" method="POST" class="post-form" name="create">
  {% csrf_token %}

  <h4 class="modal-title">Create Organism</h4>
  </div>

  {{ form.as_p }}
  
   <select class="form-select" multiple aria-label="multiple select example" name="strain" id="straintype">
  <option selected>Open this select menu</option>
                    <option value={{a}}>t</option>
                    <option value={{b}} >c</option>
                    <option value={{c}}>p</option>
                </select>
  

  <input type="submit" class="btn btn-success m-auto" value="Add" />
  </div>
</form>
