<!--prettier-ignore-->
{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} mysite{% endblock %}
<!--prettier-ignore-->
{% block content%}
<div class="col-md-8 vh-80 m-auto">


    <p class="m-atuo">

    <div id="{{Organism.Organism_ID}}">
        <a class="btn btn-success btn-sm">Update</a>
    </div>

    <div id="OrganismUpdateModal" class="modal fade " role="dialog">
    </div>

    <script>
        // document.formHasErrors = {% if form.errors %}true{% else %} false{% endif %};

        $(document).ready(function () {
            btn = "#" + "{{Organism.Organism_ID}}"
            let my_modal = $('#OrganismUpdateModal');
            $(`${btn} a`).click(function () {
                my_modal.load("{% url 'organism_update' Organism.Organism_ID %}", function () {
                    my_modal.modal("show");
                });
            });


            if (document.formHasErrors) {
                my_modal.modal('show');
            }


        });

    </script>
    {% if form_error %}
    <script>
        $(document).ready(function () {

            let my_modal = $('#OrganismUpdateModal');
            my_modal.modal("show");
        })
    </script>
    {% endif %}

    <!-- <th:block th:if="${formErrors}">
        <script>
            $(document).ready(function () {
                $('#OrganismUpdateModal').modal('show');
            })
        </script>
    </th:block> -->

    </p>
    <p><a href="{% url 'organism_delete' Organism.Organism_ID %}">Delete</a></p>
    <div class="card">
        <b>
            {%include 'utils/message.html'%}
        </b>
        <div class="card-header">
            Organism Taxonomy {{Organism.Organism_Name}}
        </div>
        <div class="row">
            <div class="col-md-4">

                <table class="table">

                    <thead>
                        <tr>
                            <th scope="col">Organism Name</th>
                            <th scope="col">{{Organism.Organism_Name}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"> Organism Class</th>
                            <td> {{Organism.Organism_Name.Class.Dict_Value}}
                            </td>

                        </tr>
                        <tr>
                            <th scope="row">Organism Desc</th>
                            <td>{{Organism.Organism_Desc}}</td>

                        </tr>
                        <tr>
                            <th scope="row">Risk Group</th>
                            <td colspan="2">{{Organism.Risk_Group}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">

                <table class="table">

                    <thead>
                        <tr>
                            <th scope="col">Strain ID</th>
                            <th scope="col">{{Organism.Strain_ID}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"> Strain_Type</th>
                            <td> {{Organism.Strain_Type}}</td>

                        </tr>
                        <tr>
                            <th scope="row">Strain Code</th>
                            <td>{{Organism.Strain_Code}}</td>

                        </tr>
                        <tr>
                            <th scope="row">Strain Desc</th>
                            <td colspan="2">{{Organism.Strain_Desc}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{%endblock%}