{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
<!--prettier-ignore-->
{% block content%}
<div class="d-flex flex-row vh-100">

  <!--prettier-ignore-->
  {%include 'utils/leftbar.html' with list_url='mic_pub_list' card_url='mic_pub_card' %}
  <!-- Sidebar View -->
  {%include "utils/sidebar.html"%}
  <!-- Main View -->
  <div class="d-flex flex-column w-100">
    {% include 'utils/main_horizalbar.html' with title='MIC_Pub' model_name='MIC_Pub' application='ddrug' %}
    <!-- list View Content -->
    <div class="contain-fluid data-contain">
      <!--prettier-ignore-->
      {%include 'utils/datatable_general.html' with modelname='MIC_Pub' %}
      
    </div>
  </div>
</div>
{% endblock%}
