<div class="modal-dialog">
  <div class="modal-content" style="width: 30rem">
    <div class="modal-header">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="mx-2">
      <h4 class="my-0">Update Stock</h4>
      <form id="StockUpdateForm" class="post-form" method="POST" action="{%url 'stock_update' object.pk %}">
        {% csrf_token %}
        <!--  -->
        {{form.as_p}}
        <input type="submit" class="btn btn-outline-secondary" value="update" />
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </form>
    </div>
    <div id="form_result"></div>
  </div>
</div>