<form
  id="DrugUpdateForm"
  method="POST"
   action="{%url 'drug_update' object.pk %}"
>
  {% csrf_token %}

  <div class="row">
    <div class="col-md-4">
      <table class="table table-hover table-sm align-middle table-bg">
        <tbody>
          <!--prettier-ignore-->
          <tr>
            <th>Name</th>
            <td>
              {{object.drug_name}}
              <div class="not-visible">{{form.drug_name}} {{form.drug_id}}</div>
            </td>
       
              <td rowspan="10">
                <a id="drug_detail{{object.pk}}" class="card-link">
                  {%load static%}
    
                  <img
                    src="{%static 'images/'%}{{object.pk}}.svg"
                    alt="structure"
                    width="80%"
                    class="lazyload"
                    loading="lazy"
                    style="background-color: transparent !important"
                  />
                </a>
                <div
                  id="drug_detail_structure{{object.pk}}"
                  class="modal fade"
                  data-bs-backdrop="static"
                  role="dialog"
                ></div>
              </td>
     
          </tr>
           <!--prettier-ignore-->
           {% for field in form.group1 %}
           <tr>
           <!--prettier-ignore-->
           {%include 'utils/row_editabletable.html' with form_label=field.label_tag data_type=field.label_tag form_field=field %}
           <!--prettier-ignore-->
     
           </tr>
           {%endfor%}
          </tbody>
      </table>
     
    </div>
    <div class="col-md-4">
      <!-- Table 2 -->
      <table class="table table-hover table-sm align-middle table-bordered">
        <tbody>
          {% for field in form.group2 %}
          <tr>
          <!--prettier-ignore-->
          {%include 'utils/row_editabletable.html' with form_label=field.label_tag data_type=field.label_tag form_field=field %}
          <!--prettier-ignore-->
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <!-- Table 3 -->
      <table class="table table-hover table-sm align-middle table-bordered">
        <tbody>
          {% for field in form.group3 %}
          <tr> 
          <!--prettier-ignore-->
           {%include 'utils/row_editabletable.html' with form_label=field.label_tag data_type=field.label_tag form_field=field %}
           <!--prettier-ignore-->
          </tr>
           {%endfor%}

        </tbody>
      </table>
      <div class="col-md-3 updateformshow not-visible">
        <div class="d-flex justify-content-evenly align-baseline ">
          {%include 'utils/miscellaneous/save_btn.html'%}
          <!--  -->
          {%include 'utils/miscellaneous/cancel_btn_reloc.html'%}
          
        </div>
    </div>
  </div>
</form>


