{% extends 'base.html'%}
<!--  -->
{% block title%} COADD{% endblock %} 

{% block content%}
<!--  -->
<div class="d-flex flex-row vh-100">
  {% url 'excel-import' process_name='Drug' as urlname %}
  <!--prettier-ignore-->
  {% include 'utils/leftbar.html' with import_module=urlname list_url='drug_list' card_url='drug_card' create_object='createDrug' create_objectModal='createDrugModal' %}
  <!-- Sidebar View -->
  {% include "utils/sidebar.html" %}
  <!-- Main View -->
  <div class="d-flex flex-column w-100">
    {% include 'utils/main_horizalbar.html' with title='Drug' model_name='Drug' application='ddrug' %}
    <!-- Card View Content -->
    <div class="contain-fluid data-contain">
      <div class="row d-flex flex-wrap mx-2">

        {% for object in page_obj %}
        <!--  -->
        {% url 'drug_detail' object.pk as url_name %}
        <!--prettier-ignore-->
        {% with url_name=url_name object_name=object.drug_name datatype='Drug' object_var1=object.pk object_img=object.pk object_id_slug=object.pk object_smiles=object.smiles object_var2b_label='MW' object_var2b=object.mw object_var3_label='MF ' object_var3=object.mf object_var6_label='Target ' object_var6=object.drug_target object_var7_label='Class ' object_var7=object.drug_class%}
        <!--prettier-ignore-->
        {% include 'utils/card.html' %}
        {% endwith%}
        <!--prettier-ignore-->
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!--prettier-ignore-->

<script>
  $(document).ready(function () {
    $("img.lazyload").lazyload();
  });
</script>

{% endblock%}
