{% extends 'base.html'%}
<!--  -->
{% block title%} COADD{% endblock %} {% block content%}
<!--  -->
<div class="d-flex flex-row justify-content-between vh-100">
{%include 'utils/leftbar.html' with list_url='drug_list' card_url='drug_card' create_object='createDrug' create_objectModal='createDrugModal'%}
  <!-- Sidebar View -->
  {%include "utils/sidebar.html"%}
  <!-- Main View -->
  <div class="main d-flex flex-column">
  {%include 'utils/main_horizalbar.html'%}
    <!-- Card View Content -->
    <div class="contain-fluid">
      <div class="row d-flex flex-wrap mx-2">
        {% for object in page_obj %}
        <!--  -->
        {% url 'drug_detail' object.pk as url_name %}
        <!--prettier-ignore-->
        {%include 'utils/card.html' with url_name=url_name object_name=object.drug_name datatype='Drug' object_var1=object.pk object_img=object.pk object_id_slug=object.pk object_smiles=object.smiles %}
        <!--prettier-ignore-->
        {%endfor%}
      </div>
    </div>
  </div>
</div>
<!--prettier-ignore-->

<script>
  $(document).ready(function () {
    $("img.lazyload").lazyload();
  });
</script>

{% endblock%}
