<style>
.modal-dialog {
    max-width: fit-content;
    max-height: fit-content;

}


</style>
<div class="modal-dialog" >
      <div class="modal-content">
            <div class="modal-header m-0">
                  <div class="modal-title badge bg-secondary">{{object.pk}}</div>
                  <button id="close_{{object.pk}}" class="btn-close" data-bs-dismiss="modal"
                        data-name="close_{{object.pk}}"></button>
            </div>
            <div class="modal-body m-0">
                  <!--  -->
                  <input type="text" id="mol" value="{{object_mol}}" hidden />
                  {% include 'utils/ketcher.html' %}
                  <hr />

                  <button id="close_{{object.pk}}" class="btn-close" data-bs-dismiss="modal"
                        data-name="close_{{object.pk}}"></button>

                  {% load static %}
                  <script type="text/javascript" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
                  <script>
                        //this function will be called after the JavaScriptApplet code has been loaded.
                        $('[data-name="close_{{object.pk}}"]').on("click", function () {
                              $(".modal-dialog").remove();
                        });
                  </script>
            </div>
      </div>
</div>