<!--prettier-ignore-->
{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
<!--prettier-ignore-->
{% block content%}
<div class="mx-2 border border-2">
    <div>
        <a href="" data-bs-toggle="modal" data-bs-target="#structureEdit_{{object.pk}}">
           click modal
          </a>
    
          <!-- Modal -->
        <div class="modal fade" id="structureEdit_{{object.pk}}" data-bs-backdrop="static" tabindex="-1"
          aria-labelledby="structureEdit_{{object.pk}}Label" aria-hidden="true">
          <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="structureEdit_{{object.pk}}Label">structureEdit_{{object.pk}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                
    
                <!-- <div id="chemdrawjs-container" style="height: 400px;">
                  chemdraw
                </div> -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div>
        <a class="btn btn-sm btn-outline-secondary" href="{%url 'drug_card' %}"><i class="bi bi-view-list"></i><i
                class="bi bi-arrow-bar-left"></i></a>
    </div>
    <div class="m-atuo">
        <div class="d-flex justify-content-between my-2" style="float:right">

        </div>
    </div>
    <div class="accordion" id="organism-detail">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" style="max-height:20px;" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="fs-6 my-0">{{object.pk}}
                    </h5>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#organism-detail">
                <div class="accordion-body">
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                    </ul>
                    {% endif %}
                    <b>
                        {%include 'utils/message.html'%}
                    </b>
                    {%include 'ddrug/drug/drug_u.html'%}
                    <div class="row border label">
                        <div class="d-flex p-0 bd-highlight" style="font-size: x-small;">
                            <div>
                                <strong>Created </strong>
                                {{object.acreated_at |date:"d M, Y" }}
                                <!--  -->
                                {{object.acreated_at|time:"H:i" }} AEST
                            </div>
                            <div> <strong> &nbsp; by </strong>
                                {{object.acreated}}
                            </div>
                            {%if object.aupdated_at%}
                            <div>&nbsp; | &nbsp;</div>
                            <div>
                                <strong> &nbsp;Modified </strong>
                                {{object.aupdated_at |date:"d M, Y" }}
                                <!--  -->
                                {{object.aupdated_at|time:"H:i" }} AEST
                            </div>
                            <div>
                                <strong> &nbsp; by </strong>

                                {{object.aupdated}}
                            </div>
                            {%endif%}
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    {%endblock%}