{% extends 'base.html'%}
{% block title%} COADD{% endblock %}
{% block content%}
{%include 'utils/topbar.html'%}
<div class="d-flex flex-row justify-content-between vh-100">
  <!-- Sidebar View -->
  {%include "utils/sidebar.html"%}
  <!-- Main View -->
  <div class="main d-flex flex-column">
    <div class="d-flex flex-wrap justify-content-between m-2 p-0 align-items-baseline">
      <!-- Call Create Taxonomy  Modal-->
      <div>
        <a id="createDrug" class="card-link" style="float:right;">Add New
          <i class="bi bi-plus"></i>
        </a>
        <div id="createDrugModal" class="modal fade" role="dialog">
        </div>
      </div>
      <!-- End---------------------- -->

      {% include 'utils/pagination.html'%}
      {%include 'utils/selectAllExp.html'%}
      <!-- Swich Table/Card View -->
      <div class="m-0">
        <a href="{%url 'drug_list'%}" class="btn btn-outline-secondary"><i class="bi bi-list"></a>
        <a href="{%url 'drug_card'%}" class="btn btn-outline-secondary"><i class="bi bi-grid-fill"></i></a>
      </div>
      <!-- End -->
    </div>
    <!-- Card View Content -->
    <div class="contain-fluid">
      <div class="row d-flex flex-wrap mx-2">
        {% for object in page_obj %}
        {%include 'utils/card.html' with object_id=object.pk datatype='Drug' object_var1=object.drug_name object_img=object.pk object_id_slug=object.pk %}
        <!-- ------------------------------------------------------------------------------------------------------- -->

        <!-- ------------------------------------------------------------------------------------------------------------------------------- -->
        {%endfor%}
      </div>

    </div>
  </div>

</div>
<!--prettier-ignore-->
{%load static%}
<script type="text/javascript" src="{%static 'js/modal/create_drug.js'%}"></script>
{% endblock%}