{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
<!--prettier-ignore-->
{% block content%}
<div class="d-flex flex-row vh-100">
  {% url 'excel-import' process_name='Drug' as urlname %}
  <!--prettier-ignore-->
  {% include 'utils/leftbar.html' with import_module=urlname list_url='drug_list' card_url='drug_card' create_object='createDrug' create_objectModal='createDrugModal' %}
  <!-- Sidebar View -->
  {% include "utils/sidebar.html" %}
  <!-- Main View -->
  <div class="d-flex flex-column w-100">
    {% include 'utils/main_horizalbar.html' with title='Drug' model_name='Drug' application='ddrug' %}
    <div class="contain-fluid data-contain">
    <!-- list View Content -->
    <div class="row d-flex flex-wrap mx-2 fixTableHead ">
      <!--prettier-ignore-->
      {% include 'utils/datatable_general.html' with url_name='drug_detail' modelname='Drug' %}
    </div>
  </div>
  </div>
</div>
{% endblock%}
