<div class="modal-dialog modal-lg">
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{object.pk}}</h5>
        <button  class="btn-close" onclick="window.location.reload(true);" class="btn btn-outline-secondary">
           
        </button>
    </div>
    <div class="modal-body">
        <h2>below is JSME drawing </h2>
        <h1>JSME test page</h1>
        {%include 'utils/message.html'%}
        <table align="center">
            <tr>
                <td id="appletContainer"></td>
            </tr>
            </tr>
        </table>
        
        
        
        <div align="center">
            <button TYPE="button" onClick="jsmeApplet.reset()">Clear Editor</button>
            <button type="button" onclick='JSApplet.JSME.clearFontCache()'>Clear the font cache</button>
            <button type="button" onclick='jsmeApplet.repaint()'>Repaint the applet</button>
        </div>
        
        
        
        <table align="center">
            <tr>
                <td colspan="3" style="font-weight:bold;">Export chemical structure from applet:</td>
            </tr>
            <tr>
        
                <td>
                Click get smiles, close the pop-window and click apply button on the sidebar to apply Substructure Query.
                <br>   <button type="button" onclick='getSmiles();'>Get smiles</button>
                </td>
        
            </tr>
            <tr class="not-visible">
                <td colspan="5">
                    <TEXTAREA id="jme_output_{{object.pk}}" ROWS=20 COLS=80></TEXTAREA>
                </td>
            </tr>
        
        </table>
        
        
        {%load static%}
        <script type="text/javascript" src="{% static 'js/jsme/jsme.nocache.js' %}"></script>        
        <script>
        
            //this function will be called after the JavaScriptApplet code has been loaded.
            function jsmeOnLoad() {
                // glutathione is chiral
                  
                var drug_smiles ="{{object.smiles}}";
                var drug_mol="{{object_mol}}"
                 //"CC(CC(=O)N[C@@H](CS)C(=O)NCC(=O)O)[C@H](N)C(=O)O"; 
        
        
                jsmeApplet = new JSApplet.JSME("appletContainer", "600px", "440px", {
                    //optional parameters
                    "options": "query,hydrogens,fullScreenIcon",
                    //"smiles" : glutathione_smiles
                    //"jme" : glutathione_JME
                    //"mol" : glutathione_mol
                    "chem":  drug_mol // use generic input file format with automatic chemical format detection
        
                });
        
                document.JME = jsmeApplet;
        
            }
        
            function getSmiles() {
                var data = document.JME.smiles();
                document.getElementById("jme_output_{{object.pk}}").value = data;
                $('#smiles_input').val(data)
                sessionStorage.setItem('smiles_query', data.toString())
                console.log(sessionStorage.getItem('smiles_query'))
        
            }
        
        
        </script>
        
    </div>
</div>

</div>

