<label for="" class="ms-2 position-absolute" style="margin-top: -1rem !important">
  <span class="fs-4 text-muted px-1 rounded-3 border broder-2">Genetics</span>
</label>

<div id="Label-GeneModel" class="card-body d-flex justify-content-center">
  <a class="landp-img-01 d-flex align-items-center justify-content-center h4 lead" data-bs-toggle="tooltip"
    data-bs-placement="left" href="{%url 'gene_list'%}" title=" {{nGene}} entries">
    Gene
  </a>

  <div class="row w-75">
    <div class="col align-items-center m-auto ps-5">
      <a class="badge land-badge bg-info border m-auto" data-bs-toggle="tooltip" data-bs-placement="left"
        href="{%url 'sequence_list'%}" title="{{nIDS}} entries" inactivate>
        ID by Sequence
      </a>
      <a class="badge land-badge bg-info border m-auto" data-bs-toggle="tooltip" data-bs-placement="left"
        href="{%url 'id_pub_list'%}" title="{{nIDP}} entries" inactivate>
        ID from Public</a>
    </div>
    <div class="col align-items-center m-3 ">
      <a class="badge land-badge bg-info border m-auto" data-bs-toggle="tooltip" data-bs-placement="left"
        href="{%url 'wgs-fastqc_list'%}" title="{{nFastQC}} entries" inactivate>
        FastQC - WGS
      </a>
      <a class="badge land-badge bg-info border m-3" data-bs-toggle="tooltip" data-bs-placement="left"
        href="{%url 'wgs-checkm_list'%}" title="{{nCheckM}} entries" inactivate>
        CheckM - WGS
      </a>
    </div>
  </div>
</div>