<div
  class="card m-auto mt-5 bg-transparent rounded-3 border border-5"
  style="width: 36rem"
>
  <div class="card-head">
    <label
      for="Label-OrganismModel"
      class="ms-2 position-absolute"
      style="margin-top: -1rem !important"
    >
      <span class="fs-4 text-muted px-1 rounded-3 border broder-2">Gene</span>
    </label>
  </div>
  <div id="Label-OrganismModel" class="card-body d-flex justify-content-center">
    <a
      class="landp-img-01 d-flex align-items-center justify-content-center h4 lead"
      href="{%url 'gene_list'%}"
      data-bs-toggle="tooltip"
      data-bs-placement="left"
      title=" entries"
    >
      Gene
    </a>
    <div class="d-flex flex-column mx-2">
      <a
        class="hex text-light"
        href="{%url 'id_pub_list'%}"
        data-bs-toggle="tooltip"
        data-bs-placement="left"
        title=" entries"
      >
        <span class="hex-txt"> ID_Pub </span>
      </a>
      <a
        class="hex text-light"
        href="{%url 'sequence_list'%}"
        data-bs-toggle="tooltip"
        data-bs-placement="left"
        title=" entries"
      >
        <span class="hex-txt"> Sequence </span>
      </a>
    </div>
    <div class="d-flex flex-column mx-2">
      <a
        class="badge land-badge bg-info border m-auto"
        href="{%url 'wgs-fastqc_list'%}"
        data-bs-toggle="tooltip"
        data-bs-placement="left"
        title=" entries"
      >
        WGS_FastQC
      </a>
      <a
        class="badge land-badge bg-info border m-auto"
        href="{%url 'wgs-checkm_list'%}"
        data-bs-toggle="tooltip"
        data-bs-placement="left"
        title=" entries"
      >
        WGS_CheckM
      </a>
    </div>
  </div>
</div>
