{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
{% block content %}

<div class="d-flex flex-row vh-100">
{%include 'utils/leftbar.html' with import_module=urlname list_url='userslist' card_url='userslist' create_object='createAppUser' create_objectModal='createAppUserModal' model_name='AppUser'%}
{%include "utils/sidebar.html"%}
<!-- Main View -->
<div class="d-flex flex-column w-100">
    <h1 class="mx-auto"> {{object}} </h1>
</div>
</div>
{%endblock%}