<div class="modal-dialog">
  <div class="modal-content">
    <!-- {%include 'utils/message.html'%} -->
    <form id="createAppUserForm" method="POST" class="post-form" name="create-AppUser"
      action="{% url 'createAppUser' %}">
      {% csrf_token %}
      <div class="modal-header">
        <h4 class="modal-title">Create AppUser</h4>
      </div>

      {{ form.as_p }}
      <div class="modal-footer">
        <input type="submit" class="btn btn-success m-auto" value="Add" />
      </div>
    </form>
  </div>
</div>