<tr class="editing">
  <td width="5%" class="p-0">
    {%if user.permission == 'Admin' %}
     
   
    {% url 'updateAppUser' object.name as appuser_url %}
    <!--  -->
    {% include 'utils/miscellaneous/update_btn_htmx.html' with url=appuser_url %}
   
   <span>

     {%include 'apputil/appUsersDel.html' %}
   </span>
    {%endif%}
  </td>
  <td>{{object.first_name}}</td>
  <td>{{object.last_name}}</td>
  <td>{{object.email}}</td>
  <td>{{object.is_active}}</td>
  <td>{{object.username}}</td>
  <td>{{object.name}}</td>

  <td>{{object.initials}}</td>
  <td>{{object.permission}}</td>
  <td>{{object.is_appuser}}</td>

</tr>
