<tr class="editing">
  <td class="d-flex m-0" style="width: 10%">
    {%if user.permission == 'Admin' %}
    <button
      class="border border-0"
      hx-get="{% url 'updateAppUser' object.name %}"
      hx-trigger="click"
      
    >
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>    
    {%include 'apputil/appUsersDel.html' %}
    {%endif%}
  </td>
  <td>{{object.first_name}}</td>
  <td>{{object.last_name}}</td>
  <td>{{object.email}}</td>
  <td>{{object.is_active}}</td>
  <td>{{object.username}}</td>
  <td>{{object.name}}</td>

  <td>{{object.initials}}</td>
  <td>{{object.permission}}</td>
  <td>{{object.is_appuser}}</td>

</tr>
