{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} mysite{% endblock %}
{% block content %}

<!-- Include -->
<div class="container vh-100">
  {%if request.user.is_superuser%}
  <div id="createAppUser">
    <a style="float:right" class="btn btn-success btn-sm">
      <i class="bi bi-plus"></i>
      <span>Add New AppUser</span>
    </a>
  </div>

  <div id="createAppUserModal" class="modal fade" role="dialog">
  </div>
  <script>

    $(document).ready(function () {

      let my_modal = $("#createAppUserModal");

      $("#createAppUser a").click(function () {
        my_modal.load("{%url 'createAppUser' %}", function () {
          my_modal.modal("show"); // Open Modal

        });
      });
    });

  </script>
  {%endif%}
  <hr>
  <div class="w-75 h-75 m-auto">

    <table class="table table-hover bg-light">
      <thead>
        <tr>

          <th scope="col">Username</th>
          <th scope="col">User Initial</th>
          <th scope="col">Description</th>

          <th scope="col">Email</th>
          <th scope="col">User Permissions</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for user in objects %}
        {%if user.is_appuser%}
        <tr>
          <th scope="row">{{user.username}}</th>
          <td>{{user.initials}}</td>
          <td>{{user.title_name}}</td>
          <td>
            {{user.email}}

          </td>
          <td>
            {{user.permissions}}
          </td>

          <td>
            {%if request.user.is_superuser%}
            <div id="{{user.pk}}">
              <a class="btn btn-success btn-sm">Update</a>
            </div>

            <div id="AppUserUpdateModal" class="modal fade" role="dialog">
            </div>
            <script>

              $(document).ready(function () {
                btn = "#" + "{{user.pk}}"
                let my_modal = $('#AppUserUpdateModal');
                $(`${btn} a`).click(function () {
                  my_modal.load("{% url 'updateAppUser' user.pk %}", function () {
                    my_modal.modal("show");
                  });
                });
              });

            </script>
            {%endif%}

          </td>
          <td>
            {%if request.user.is_superuser%}
            <div id="d{{user.pk}}">
              <a class="btn btn-success btn-sm">delete</a>
            </div>

            <div id="AppUserDelModal" class="modal fade" role="dialog">
            </div>
            <script>

              $(document).ready(function () {
                btn = "#d" + "{{user.pk}}"
                console.log(btn)
                let my_modal = $('#AppUserDelModal');
                $(`${btn} a`).click(function () {
                  my_modal.load("{% url 'deleteAppUser' user.pk %}", function () {
                    my_modal.modal("show");

                  });
                });
              });

            </script>
            {%endif%}
          </td>
        </tr>
        {%endif%}
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
<!--prettier-ignore-->
</div>
{%endblock%}