{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} mysite{% endblock %}
{% block content %}

<!-- Include -->
<div class="container vh-100">
  {%include "utils/sidebar.html"%}
  <div id="createDict">
    <a style="float:right" class="btn">
      <i class="bi bi-plus"></i>
      <span>Add New Dict</span>
      {%include 'utils/message.html'%}
    </a>
  </div>
  <div id="createDictModal" class="modal fade" role="dialog">
  </div>
  <script>
    
    $(document).ready(function () {
      
      let my_modal = $("#createDictModal");
      
      $("#createDict a").click(function () {
        my_modal.load("{%url 'dict_create'%}", function () {
          my_modal.modal("show"); // Open Modal
          
        });
      });
    });
    
    </script>

<hr>
  <div class="w-75 h-75 m-auto">
    {% include 'utils/pagination.html'%}

    <table class="table table-hover bg-light" id="id_dictionary_table">
      <thead>
        <tr>
          <th scope="col">Class</th>
          <th scope="col">name</th>
          <th scope="col">description</th>

        </tr>
      </thead>
      <tbody hx-target="closest tr" hx-swap="outerHTML">
        {% for object in objects %}
        {%include './dictionary_tr.html'%}
        {%endfor%}
      </tbody>
    </table>
  </div>
</div>
<!--prettier-ignore-->
</div>


{%load static%}
<script type="text/javascript" src="{% static 'js/js_utils/dataTables.min.js'%}"></script>

<script>
 $(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#id_dictionary_table thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#id_dictionary_table thead');
 
    var table = $('#id_dictionary_table').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');
 
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();
 
                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    });
});
</script>
{%endblock%}