{% load custom_filters %}
<tr> 
  <td>
    <!-- Trigger for Modal -->
    {%if user.permission == 'Admin'%}
    <button class="card-link text-danger fs-6" data-bs-toggle="modal" data-bs-target="#{{ object.pk|to_valid_selector }}" >
      <i class="fa-regular fa-trash-can"></i>
    </button>
    {%else%}
    <button class="btn btn-small border-0 m-0 p-0" disabled>
      <i class="fa-regular fa-trash-can"></i>
    </button>
    {%endif%}  
  </td> 
  <td class="" data-type="dict_value" data-value="{{object.dict_value}}">
    {{object.dict_value}}
  </td>
  <td class="editablerow" data-name="{{object.dict_value}}" data-type="dict_class" data-value="{{object.dict_class}}">
    {{object.dict_class}}
  </td>
  <td class="editablerow" data-name="{{object.dict_value}}" data-type="dict_desc" data-value="{{object.dict_desc}}">
    {{object.dict_desc}}
  </td>
  <td class="editablerow" data-name="{{object.dict_value}}" data-type="dict_desc" data-value="{{object.dict_sort}}">
    {{object.dict_sort}}
  </td>
</tr>

<!-- Modal -->
<div class="modal fade" id="{{object.pk|to_valid_selector}}" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog">
    <!--prettier-ignore--> 
    {%include 'utils/modal/delete.html' with title=object.pk model_name="Dictionary" %}
  </div>
</div>

