{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} mysite{% endblock %}
{% block content %}

<!-- Include -->
<div class="d-flex flex-row justify-content-between vh-100">
  {%include 'utils/leftbar.html' with list_url='dict_view' card_url='dict_view' create_object='createDict' create_objectModal='createDictModal'%}
  <!-- Sidebar View -->
  {%include "utils/sidebar.html"%}
  <!-- Main View -->
  <div class="main d-flex flex-column">
    <!-- prettier-ignore -->
    {%include 'utils/main_horizalbar.html'%}
    <!-- prettier-ignore -->

    <div class="fixTableHead">
      <table class="table table-small table-bordered sorting_table table-hover bg-light" id="id_dictionary_table">
        <thead>
          <tr>
            {%for field in fields%}
            <th class="order_field" style="width: fit-content">{{field}}</th>
            {%endfor%}
            <th class="text-danger" style="width: 5px"></th>
          </tr>
        </thead>
        <tbody>
          {% for object in page_obj %}
          <!--  -->
          {%include './dictionary_tr.html'%}
          <!--  -->
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--prettier-ignore-->


{%load static%}
<script type="text/javascript" src="{%static 'js/modal/create_dictionary.js'%}"></script>

<script>
  $(document).ready(function () { });
  $('[data-type="deleteDict"] a').click(function () {
    console.log("click");
    var td = $(this).parent();
    var dict_value = td.data("name");
    var data = { dict_value: dict_value };
    sendToServerdelete(data, td);
  });
  const csrftoken = getCookie("csrftoken");
  const sendToServerdelete = (data, td) => {
    console.log(data);
    $.ajax({
      url: "{%url 'dict_delete'%}",
      type: "POST",
      headers: { "X-CSRFToken": csrftoken },
      data: data,
    })
      .done((response) => {
        console.log(response);
        if (!response.result) {
          td.append(
            '<p class="text-danger"> You have no permission to change. click here <button class="btn btn-small" onClick="window.location.reload();"> <i class="fa-solid fa-arrows-rotate"></i></button></p>'
          );
        } else {
          window.location.reload();
        }
      })
      .fail(() => {
        console.log("Error occured");
      });
  };
</script>
{%load static%}
<script type="text/javascript" src="{%static 'js/editablerow.js'%}"></script>
{%endblock%}