{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%}COADD{% endblock %}
{% block content %}

<!-- Include -->
<div class="d-flex flex-row vh-100">
  <!-- prettier-ignore -->
    {% url 'pivoted-table' app_model='apputil-ApplicationLog' as pivot_url%}
    {% include 'grid/base/left_navbar.html' with list_url='loglist' pivot_url=pivot_url %}
  <!-- Sidebar View -->

  {% include "utils/sidebar.html" %}
  <!-- Main View -->
  <div class="d-flex flex-column w-100">
    <!-- prettier-ignore -->

    {% include 'datatable/base/datatable_top.html' with model_name='ApplicationLog' application='apputil' title='Application Log' %}
    {% include 'datatable/base/datatable_colfilter.html' with table_id='ApplicationLog' %}
  </div>
</div>
{% endblock %}
