{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%}COADD{% endblock %}
{% block content %}

<!-- Include -->
<div class="d-flex flex-row vh-100">
  <!-- prettier-ignore -->
    {% url 'pivoted-table' app_model='apputil-ApplicationLog' as url_pivotedtable%}
    {% include 'utils/leftbar.html' with list_url='loglist' url_pivotedtable=url_pivotedtable %}
  <!-- Sidebar View -->

  {% include "utils/sidebar.html" %}
  <!-- Main View -->
  <div class="d-flex flex-column w-100">
    <!-- prettier-ignore -->

    {% include 'utils/main_horizalbar.html' with model_name='ApplicationLog' application='apputil' title='Application Log' %}
    {% include 'utils/datatable_filter.html' with table_id='ApplicationLog' %}
  </div>
</div>
{% endblock %}
