{% extends "base.html" %}
{% block title%} mysite{% endblock %}
{% block content %}
<div class="d-flex flex-row bg-light justify-content-between vh-100">
  {%include "utils/sidebar.html"%}
  <div class="main d-flex flex-column">

    <div class="d-flex flex-wrap justify-content-between">

      {% include 'utils/pagination.html'%}
      <a id="createOrganism" class="card-link" style="float:right;">Add<i class="bi bi-plus"></i>
      </a>
      <div id="createOrganismModal" class="modal fade" role="dialog" data-bs-backdrop="static">
      </div>
      <script>

        $(document).ready(function () {

          let my_modal = $("#createOrganismModal");

          $("#createOrganism").click(function () {
            my_modal.load("{%url 'org_create'%}", function (response) {
              if (response == "Permission Not Granted") {
                alert("permission!")

              } else {
                my_modal.modal("show"); // Open Modal
              }

            });
          });
        });

      </script>
      <div>

        <a href="{%url 'org_list'%}" class="btn btn-outline-secondary"><i class="bi bi-list"></i></a>
        <a href="{%url 'org_card'%}" class="btn btn-outline-secondary">
          <i class="bi bi-grid-fill"></i>

        </a>
      </div>
    </div>
    <hr>

    <div class="contain-fluid">
      <div class="row d-flex flex-wrap ">
        {% for object in page_obj %}
        <!-- object_list -->
        <div class="col-md-2 vh-80 border border-2 m-2">


          <p class="i bi-tag fw-bold lead fs-5 m-auto"><a class="card-link"
              href="{%url 'org_detail' object.pk %}">{{object.organism_name}} <br><span class="fw-light fs-6">
                (ID:
                {{object.organism_id}} )</span>
            </a>
          </p>


          <ul class="fw-lighter fs-6 m-auto">
            <li>Created by: {{object.acreated_by}}</li>
            <li>Created at:{{object.acreated_at}}</li>
            {%if object.aupdated_by%}
            <li>Updated at: {{object.aupdated_by}}</li>
            <li>Updated at: {{object.aupdated_at}}</li>
            {%endif%}
          </ul>
          <p>
          <div class="text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{object.pk}}"
            aria-expanded="false" aria-controls="{{object.pk}}">
            <i class="bi bi-chevron-bar-down"></i><i class="bi bi-chevron-bar-up"></i>
          </div>

          </p>
          <div class="collapse" id="collapse{{object.pk}}">



            About...

          </div>
        </div>
        {%endfor%}

      </div>
      {% include 'utils/pagination.html'%}
      <hr />
    </div>

  </div>
</div>
{%endblock%}