<!--prettier-ignore-->
{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} mysite{% endblock %}
<!--prettier-ignore-->
{% block content%}
<div class=" mx-2 border border-2">


    <p class="m-atuo">

    <div id="{{object.pk}}">
        <a class="btn btn-success btn-sm">Update</a>
    </div>

    <div id="OrganismUpdateModal" class="modal fade " role="dialog">
    </div>

    <script>
        // document.formHasErrors = {% if form.errors %}true{% else %} false{% endif %};

        $(document).ready(function () {
            btn = "#" + "{{object.pk}}"
            let my_modal = $('#OrganismUpdateModal');
            $(`${btn} a`).click(function () {
                my_modal.load("{% url 'organism_update' object.pk %}", function (response) {
                    if (response == "Permission Not Granted") {
                        alert("permission!")

                    } else {
                        my_modal.modal("show"); // Open Modal
                    }
                });
            });


            if (document.formHasErrors) {
                my_modal.modal('show');
            }


        });

    </script>
    {% if form_error %}
    <script>
        $(document).ready(function () {

            let my_modal = $('#OrganismUpdateModal');
            my_modal.modal("show");
        })
    </script>
    {% endif %}
    </p>

    <p>
        <a class="btn btn-success btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            Update collapse window
        </a>

    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body" style="width: 80rem ;">
            <h4 class="my-0">Update Organism: {{object.organism_name}}</h4>
            <h5>Class: {{Class}}</h5>
            <!-- <p>{{Organism_Name}}</p> -->
            {% include 'utils/search_organism.html' %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
            <!-- ===================================================================================== -->
            <hr>
            <form id="OrganismUpdateForm" method="POST" class="post-form" name="create"
                action="{%url 'organism_update' object.Organism_ID %}">
                {% csrf_token %}
                {{form.as_p}}
                <input type="text" id="taxo-name" name="search_organism" style="display: none;">
                <input type="submit" class="btn m-auto mt-5" value="Updated" name="note" />

            </form>
            <a href="{% url 'org_detail' object.Organism_ID %}">cancel</a>
        </div>

    </div>

    <p><a href="{% url 'organism_delete' object.Organism_ID %}">Delete</a></p>
    <div class="card m-4">
        <b>
            {%include 'utils/message.html'%}
        </b>
        <div class="card-header">
            Organism Taxonomy {{object.Organism_Name}}
        </div>
        <div class="row">
            <div class="col-md-4 table-responsive-sm">

                <table class="table table-bordered m-2">

                    <thead>
                        <tr>
                            <th scope="col" class="table-light">ID</th>
                            <th scope="col" class="table-light">{{object.Organism_ID}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="table-light"> Name</th>
                            <td><a href="{%url 'taxo_detail' object.Organism_Name %}">{{object.Organism_Name}}</a>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light"> Class (change to editetable)</th>
                            <td> {{object.Organism_Name.Class.Dict_Value}}
                            </td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Risk Group</th>
                            <td class="editablechoices tdclass" data-id="{{object.pk}}" data-type="Risk_Group">
                                {{object.Risk_Group}}
                                <!-- <div class="select"></div>
                                <div class="results-select">
                                    <button class='btncancel'><i class='bi bi-x'></i></button>
                                    <button class='btnsave'><i class='bi bi-check'></i></button>
                                </div> -->
                                <select class="results-select" aria-label="select example " name="Risk_Group"
                                    id="Risk_Group">
                                    {% for obj in Risk_Group_choice %}
                                    <option class="option-select" value="{{obj.Dict_Value}}">{{obj}}</option>
                                    {%endfor%}
                                </select>

                            </td>

                        </tr>

                        <tr>
                            <th scope="row" class="table-light">Pathogen</th>
                            <td class="editablechoices tdclass" data-id="{{object.pk}}" data-type="Pathogen_Group">
                                {{object.Pathogen_Group}}

                                <select class="results-select" name="Pathogen_Group" id="Pathogen_Group">
                                    {% for obj in Pathogen_Group_choice %}
                                    <option class="option-select" value="{{obj.Dict_Value}}">{{obj}}</option>
                                    {%endfor%}
                                </select>


                            </td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Panels (chnage to editable)</th>
                            <td data-id="{{object.pk}}" data-type="Panels">
                                {{object.Panels}}</td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Lab Restriction</th>
                            <td class="editable" data-id="{{object.pk}}" data-type="Lab_Restriction">
                                {{object.Lab_Restriction}}</td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Biol Approval</th>
                            <td class="editablechoices tdclass" data-id="{{object.pk}}" data-type="Bio_Approval">
                                {{object.Bio_Approval}}

                                <select class="results-select" name="Bio_Approval" id="Bio_Approval">
                                    {% for obj in Bio_Approval_choice %}
                                    <option class="option-select" value="{{obj.Dict_Value}}">{{obj}}</option>
                                    {%endfor%}
                                </select>


                            </td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Import Permit</th>
                            <td class="editable" data-id="{{object.pk}}" data-type="Import_Permit">
                                {{object.Import_Permit}}</td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">MTA Document</th>
                            <td class="editable" data-id="{{object.pk}}" data-type="MTA_Document">
                                {{object.MTA_Document}}</td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">MTA Status</th>
                            <td class="editablechoices tdclass" data-id="{{object.pk}}" data-type="MTA_Status">
                                {{object.MTA_Status}}

                                <select class="results-select" name="MTA_Status" id="MTA_Status">
                                    {% for obj in MTA_Status_choice %}
                                    <option class="option-select" value="{{obj.Dict_Value}}">{{obj}}</option>
                                    {%endfor%}
                                </select>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="col-md-4 table-responsive-sm">

                <table class="table table-bordered m-2">

                    <tbody>

                        <tr>
                            <td colspan="2" class="table-light">Strain </td>

                        </tr>

                        <tr>
                            <th scope="row" class="table-light">Strain ID</th>
                            <td class="editable" data-id="{{object.pk}}" data-type="Strain_ID">{{object.Strain_ID}}
                            </td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Strain Code</th>
                            <td class="editable" data-id="{{object.pk}}" data-type="Strain_Code">
                                {{object.Strain_Code}}</td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Strain Description</th>
                            <td class="editable" data-id="{{object.pk}}" data-type="Strain_Desc">
                                {{object.Strain_Desc}}</td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Strain Notes</th>
                            <td class="editable" data-id="{{object.pk}}" data-type="Strain_Notes">
                                {{object.Strain_Notes}}</td>

                        </tr>

                        <tr>
                            <th scope="row" class="table-light"> Strain_Type</th>
                            <td class="editablechoices tdclass" data-id="{{object.pk}}" data-type="Strain_Type">
                                {{object.Strain_Type}}

                                <select id="results-box" class="results-select" multiple
                                    aria-label="multiple select example " name="Strain_Type" id="straintype">
                                    {% for obj in Strain_Type_options %}
                                    <option class="option-select" value="{{obj.Dict_Value}}">{{obj}}</option>
                                    {%endfor%}
                                </select>

                            </td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Gen Type (change)</th>
                            <td data-id="{{object.pk}}" data-type="Gen_Type">{{object.Gen_Type}}
                            </td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Sequence</th>
                            <td class="editable" data-id="{{object.pk}}" data-type="Sequence">{{object.Sequence}}
                            </td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Sequence Link</th>
                            <td class="editable" data-id="{{object.pk}}" data-type="Sequence_Link">
                                {{object.Sequence_Link}}</td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Sequence MLST (change)</th>
                            <td data-id="{{object.pk}}" data-type="Sequence_ML_ST">
                                {{object.Sequence_ML_ST}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3 table-responsive-sm">

                <table class="table table-bordered m-2">
                    <tbody>


                        <tr>
                            <th scope="col" colspan="2" class="table-light">Preference</th>


                        </tr>

                        <tr>
                            <th scope="row" class="table-light">Oxygen Pref</th>
                            <td class="editablechoices tdclass" data-id="{{object.pk}}" data-type="Oxygen_Pref">
                                {{object.Oxygen_Pref}}


                                <select class="results-select" aria-label="select example " name="Oxygen_Pref"
                                    id="Oxygen_Pref">
                                    {% for obj in Oxygen_Pref_choice %}
                                    <option class="option-select" value="{{obj.Dict_Value}}">{{obj.Dict_Value}}
                                        <br><small> {{obj.Dict_Desc}}<small>
                                    </option>
                                    {%endfor%}
                                </select>

                            </td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Atmosphere Pref</th>
                            <td class="editable" data-id="{{object.pk}}" data-type="Atmosphere_Pref">
                                {{object.Atmosphere_Pref}}</td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Nutrient Pref</th>
                            <td class="editable" data-id="{{object.pk}}" data-type="Nutrient_Pref">
                                {{object.Nutrient_Pref}}</td>


                        </tr>
                        <!-- <tr>
                            <th scope="row" class="table-light">Biofilm Pref</th>
                            <td class="editable" data-id="{{object.pk}}" data-type="Biofilm_Pref">
                                {{object.Biofilm_Pref}}</td>


                        </tr> -->
                        {% include 'utils/editable_tr.html' with fieldname=object.Biofilm_Pref pk=object.pk %}
                        <tr>
                            <th scope="row" class="table-light">Biologist (change)</th>
                            <td data-id="{{object.pk}}" data-type="Biologist">
                                {{object.Biologist}}</td>


                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Tax ID</th>
                            <td class="editable" data-id="{{object.pk}}" data-type="Tax_ID">
                                {{object.Tax_ID}}</td>


                        </tr>

                    </tbody>
                </table>
            </div>
        </div>




        {% load static %}
        <script type="text/javascript" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
        <script src="{% static 'js/editableTable.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/js_utils/getCookie.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/js_utils/ajax_update.js' %}" type="text/javascript"></script>
        <script src="{% static 'js/editableTablechoices.js' %}" type="text/javascript"></script>


        <script>
            $(document).ready(function () {
                $("body").click(function (e) {
                    // console.log($(e.target).parent())
                    // if ($("button").length !== 0 && $(e.target).parent("td").length == 0 && $(e.target).parent("td.editablechoices").length === 0) {
                    //     $("select").removeClass("visible")
                    //     $("button").remove();
                    //     $("input").remove();
                    //     var td_collection = $("td")
                    //     $("td").each(function () {
                    //         if (!$(this).hasClass("editable") || !$(this).hasClass("editablechoices")) {
                    //             if ($(this).find("select") === 1) {
                    //                 $(this).addClass("editablechoices")
                    //             } else {
                    //                 $(this).addClass("editable")
                    //             }
                    //         }
                    //     })

                    //     // window.location.reload()
                    // }
                });
                var i = 0;
                $('td').each(function () {
                    i++;
                    var newID = 'menu' + i;
                    $(this).attr('id', newID);
                    $(this).val(i);
                });

            })
        </script>





    </div>



    <!-- <div>


        {% for field, val in object %}
        <div>
            <label>{{ field }}:</label>
            <p>{{ val }}</p>
        </div>
        {% endfor %}
    </div>
</div> -->

    {%endblock%}