{% extends "base.html" %}
{% block content %}
{%include 'utils/topbar.html'%}
<div class="d-flex flex-row bg-light justify-content-between vh-100">
    {%include "utils/sidebar.html"%}
    <div class="main d-flex flex-column">
        <div class="d-flex flex-wrap justify-content-between">

            {% include 'utils/pagination.html'%}
            <div>
                <!-- -----------------------------------------View Switch-------------------------------------------------------------------- -->
                <a href="{%url 'org_list'%}" class="btn btn-outline-secondary"><i class="bi bi-list"></i></a>
                <a href="{%url 'org_card'%}" class="btn btn-outline-secondary"><i class="bi bi-grid-fill"></i></a>
            </div>
        </div>
        <hr>

        <div class="row d-flex flex-wrap">
            <!-- object_list -->

<a id="createOrganism" class="card-link text-success" style="float: right">Add New
  <i class="bi bi-plus"></i>
</a>
<div id="createOrganismModal" class="modal fade" role="dialog" data-bs-backdrop="static"></div>
{%include 'utils/datatable_overview.html' %}
<script>
  $(document).ready(function () {
    let my_modal = $("#createOrganismModal");

    $("#createOrganism").click(function () {
      my_modal.load("{%url 'org_create'%}", function (response) {
        if (response == "Permission Not Granted") {
          alert("permission!");
        } else {
          my_modal.modal("show");
        }
      });
    });
  });
</script>



        </div>

    </div>

</div>

</div>



{% endblock %}