<!--prettier-ignore-->
{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} mysite{% endblock %}
<!--prettier-ignore-->
{% block content%}
<div class=" mx-2 border border-2">


    <p class="m-atuo">

    <div id="{{object.Organism_ID}}">
        <a class="btn btn-success btn-sm">Update with Organism Name</a>
    </div>

    <div id="OrganismUpdateModal" class="modal fade " role="dialog">
    </div>

    <script>
        // document.formHasErrors = {% if form.errors %}true{% else %} false{% endif %};

        $(document).ready(function () {
            btn = "#" + "{{object.Organism_ID}}"
            let my_modal = $('#OrganismUpdateModal');
            $(`${btn} a`).click(function () {
                my_modal.load("{% url 'organism_update' object.Organism_ID %}", function (response) {
                    if (response == "Permission Not Granted") {
                        alert("permission!")

                    } else {
                        my_modal.modal("show"); // Open Modal
                    }
                });
            });


            if (document.formHasErrors) {
                my_modal.modal('show');
            }


        });

    </script>
    {% if form_error %}
    <script>
        $(document).ready(function () {

            let my_modal = $('#OrganismUpdateModal');
            my_modal.modal("show");
        })
    </script>
    {% endif %}
    </p>

    <p>
        <a class="btn btn-success btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            collapse window
        </a>

    </p>
    <div class="collapse show" id="collapseExample">
        <div class="card card-body" style="width: 80rem ;">
            <h4 class="my-0">Update Organism: {{object.Organism_Name}}</h4>
            <h5>Class: {{Class}}</h5>
            <!-- <p>{{Organism_Name}}</p> -->

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
            <!-- ===================================================================================== -->
            <hr>
            <form id="OrganismUpdateForm" method="POST" class="post-form" name="create"
                action="{%url 'organism_update' object.Organism_ID %}">
                {% csrf_token %}
                <!-- {{form.as_table}} -->
                <div class="row">

                    <div class="col-md-4 table-responsive-sm">

                        <table class="table table-bordered m-2">


                            <tbody>
                                <tr>
                                    <th scope="row" class="table-light"> Name</th>
                                    <td><a
                                            href="{%url 'taxo_detail' object.Organism_Name %}">{{object.Organism_Name}}</a>
                                    </td>

                                </tr>

                                <tr>
                                    <th scope="row" class="table-light">
                                        <label for="id_Risk_Group">Risk Group</label>
                                    </th>
                                    <td class="editablechoices tdclass" data-id="{{object.pk}}" data-type="Risk_Group">
                                        {{form.Risk_Group}}

                                    </td>

                                </tr>

                                <tr>
                                    <th scope="row" class="table-light">Pathogen</th>
                                    <td class="editablechoices tdclass" data-id="{{object.pk}}"
                                        data-type="Pathogen_Group">
                                        {{form.Pathogen_Group}}

                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row" class="table-light">Panels (chnage to editable)</th>
                                    <td data-id="{{object.pk}}" data-type="Panels">
                                        {{form.Panels}}</td>

                                </tr>
                                <tr>
                                    <th scope="row" class="table-light">Lab Restriction</th>
                                    <td class="editable" data-id="{{object.pk}}" data-type="Lab_Restriction">
                                        {{form.Lab_Restriction}}</td>

                                </tr>
                                <tr>
                                    <th scope="row" class="table-light">Biol Approval</th>
                                    <td class="editablechoices tdclass" data-id="{{object.pk}}"
                                        data-type="Bio_Approval">
                                        {{form.Bio_Approval}}


                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row" class="table-light">Import Permit</th>
                                    <td class="editable" data-id="{{object.pk}}" data-type="Import_Permit">
                                        {{form.Import_Permit}}</td>

                                </tr>
                                <tr>
                                    <th scope="row" class="table-light">MTA Document</th>
                                    <td class="editable" data-id="{{object.pk}}" data-type="MTA_Document">
                                        {{form.MTA_Document}}</td>

                                </tr>
                                <tr>
                                    <th scope="row" class="table-light">MTA Status</th>
                                    <td class="editablechoices tdclass" data-id="{{object.pk}}" data-type="MTA_Status">
                                        {{form.MTA_Status}}

                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4 table-responsive-sm">

                        <table class="table table-bordered m-2">

                            <tbody>

                                <tr>
                                    <td colspan="2" class="table-light">Strain </td>

                                </tr>

                                <tr>
                                    <th scope="row" class="table-light">Strain ID</th>
                                    <td class="editable" data-id="{{object.pk}}" data-type="Strain_ID">
                                        {{form.Strain_ID}}
                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row" class="table-light">Strain Code</th>
                                    <td class="editable" data-id="{{object.pk}}" data-type="Strain_Code">
                                        {{form.Strain_Code}}</td>

                                </tr>
                                <tr>
                                    <th scope="row" class="table-light">Strain Description</th>
                                    <td class="editable" data-id="{{object.pk}}" data-type="Strain_Desc">
                                        {{form.Strain_Desc}}</td>

                                </tr>
                                <tr>
                                    <th scope="row" class="table-light">Strain Notes</th>
                                    <td class="editable" data-id="{{object.pk}}" data-type="Strain_Notes">
                                        {{form.Strain_Notes}}</td>

                                </tr>

                                <tr>
                                    <th scope="row" class="table-light"> Strain_Type</th>
                                    <td class="editablechoices tdclass" data-id="{{object.pk}}" data-type="Strain_Type">
                                        {{form.Strain_Type}}
                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row" class="table-light">Gen Type (change)</th>
                                    <td data-id="{{object.pk}}" data-type="Gen_Type">{{form.Gen_Type}}
                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row" class="table-light">Sequence</th>
                                    <td class="editable" data-id="{{object.pk}}" data-type="Sequence">{{form.Sequence}}
                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row" class="table-light">Sequence Link</th>
                                    <td class="editable" data-id="{{object.pk}}" data-type="Sequence_Link">
                                        {{form.Sequence_Link}}</td>

                                </tr>
                                <tr>
                                    <th scope="row" class="table-light">Sequence MLST (change)</th>
                                    <td data-id="{{object.pk}}" data-type="Sequence_ML_ST">
                                        {{form.Sequence_ML_ST}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3 table-responsive-sm">

                        <table class="table table-bordered m-2">
                            <tbody>


                                <tr>
                                    <th scope="col" colspan="2" class="table-light">Preference</th>


                                </tr>

                                <tr>
                                    <th scope="row" class="table-light">Oxygen Pref</th>
                                    <td class="editablechoices tdclass" data-id="{{object.pk}}" data-type="Oxygen_Pref">
                                        {{form.Oxygen_Pref}}

                                    </td>

                                </tr>
                                <tr>
                                    <th scope="row" class="table-light">Atmosphere Pref</th>
                                    <td class="editable" data-id="{{object.pk}}" data-type="Atmosphere_Pref">
                                        {{form.Atmosphere_Pref}}</td>

                                </tr>
                                <tr>
                                    <th scope="row" class="table-light">Nutrient Pref</th>
                                    <td class="editable" data-id="{{object.pk}}" data-type="Nutrient_Pref">
                                        {{form.Nutrient_Pref}}</td>


                                </tr>
                                <!-- <tr>
                                        <th scope="row" class="table-light">Biofilm Pref</th>
                                        <td class="editable" data-id="{{object.pk}}" data-type="Biofilm_Pref">
                                            {{object.Biofilm_Pref}}</td>
                                            
                                            
                                        </tr> -->

                                <tr>
                                    <th scope="row" class="table-light">Biologist (change)</th>
                                    <td class="editablechoices tdclass" data-id="{{object.pk}}" data-type="Biologist">
                                        <div class="detail">
                                            {{object.Biologist}}
                                        </div>
                                        <div class="form-control select">{{form.Biologist}}</div>
                                    </td>


                                </tr>
                                <tr>
                                    <th scope="row" class="table-light">Tax ID</th>
                                    <td class="editable" data-id="{{object.pk}}" data-type="Tax_ID">
                                        {{form.Tax_ID}}</td>


                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <input type="text" id="taxo-name" name="searchbar_01" style="display: none;">
                <input type="submit" class="btn m-auto mt-5" value="Updated" name="note" />

            </form>
            <a href="{% url 'org_detail' object.Organism_ID %}">cancel</a>
        </div>

    </div>

    <p><a href="{% url 'organism_delete' object.Organism_ID %}">Delete</a></p>
    <div class="card m-4">
        <b>
            {%include 'utils/message.html'%}
        </b>
        <div class="card-header">
            Organism Taxonomy {{object.Organism_Name}}
        </div>
        <div class="row">
            <div class="col-md-4 table-responsive-sm">

            </div>
            <div class="col-md-3 table-responsive-sm">

            </div>
        </div>






    </div>



</div>
{% load static %}
<script type="text/javascript" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>

<script src="{% static 'js/js_utils/getCookie.js' %}" type="text/javascript"></script>
<script src="{% static 'js/js_utils/ajax_update.js' %}" type="text/javascript"></script>
<script src="{% static 'js/editableTablechoices.js' %}" type="text/javascript"></script>

{%endblock%}