{% extends "base.html" %}
{% block title%} COADD{% endblock %}
{% block content %}
{%include 'utils/topbar.html'%}
<div class="d-flex flex-row bg-transparent justify-content-between vh-100">
  {%include "utils/sidebar.html"%}
  <div class="main d-flex flex-column">

    <div class="d-flex flex-wrap justify-content-between">

      {% include 'utils/pagination.html'%}
      <a id="createBatch" class="card-link" style="float:right;">Add<i class="bi bi-plus"></i>
      </a>
      <div id="createBatchModal" class="modal fade" role="dialog" data-bs-backdrop="static">
      </div>
      <script>

        $(document).ready(function () {

          let my_modal = $("#createBatchModal");

          $("#createBatch").click(function () {
            my_modal.load("{%url 'batch_create'%}", function (response) {
              if (response == "Permission Not Granted") {
                alert("permission!")

              } else {
                my_modal.modal("show"); // Open Modal
              }

            });
          });
        });

      </script>

    </div>


    <div class="contain-fluid">
      <div class="row d-flex flex-wrap ">
        {% for object in page_obj %}
        <!-- object_list -->
        <div class="col-md-2 vh-80 m-2">
          <div class="card">
            <p class="fw-bold lead fs-5 m-auto"><a class="card-link" href="#">{{object.orgbatch_id}} <br><span
                  class="fw-light fs-6">
                  (Organism ID:
                  {{object.organism_id}} )</span>
              </a>
            </p>
            <hr>
            <a id="createStockfor{{object.pk}}" class="card-link" style="float:right;"><i class="bi bi-plus"></i> Stock
            </a>
            <div id="createStockModal{{object.pk}}" class="modal fade" role="dialog" data-bs-backdrop="static">
            </div>
            <script>

              $(document).ready(function () {

                let my_modal = $("#createStockModal{{object.pk}}");

                $("#createStockfor{{object.pk}}").click(function () {
                  my_modal.load("{%url 'stock_create'%}", function (response) {
                    if (response == "Permission Not Granted") {
                      alert("permission!")

                    } else {
                      my_modal.modal("show"); // Open Modal
                    }

                  });
                });
              });

            </script>
            <hr>
            <ul class="fw-lighter fs-6 m-auto">

              <li>

                {%for stock in object.orgbatchstock_set.all %}
                <p>{{stock.biologist}}</p>
                {%endfor%}
              </li>
            </ul>
            <p>
            <div class="text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{object.pk}}"
              aria-expanded="false" aria-controls="{{object.pk}}">
              <i class="bi bi-chevron-bar-down"></i><i class="bi bi-chevron-bar-up"></i>
            </div>

            </p>
            <div class="collapse" id="collapse{{object.pk}}">

              About...

            </div>
          </div>
        </div>
        {%endfor%}

      </div>


    </div>

  </div>
</div>



{%endblock%}