<!--prettier-ignore-->
{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
<!--prettier-ignore-->
{% block content%}
<div class="mx-2 border border-2">
    <div>
        <a class="btn btn-sm btn-outline-secondary" href="{%url 'org_card' %}"><i class="bi bi-view-list"></i><i
                class="bi bi-arrow-bar-left"></i></a>
    </div>

    <div class="m-atuo">
        <div class="d-flex justify-content-between my-2">

            <div id="{{object.pk}}">
                <a class="btn btn-sm">Update Organism Name</a>
            </div>
            {%include 'dorganism/deleteForm/Organism_del.html'%}
        </div>

        <div id="OrganismUpdateModal" class="modal fade " role="dialog" data-bs-backdrop="static">
        </div>

        <script>
            $(document).ready(function () {
                btn = "#" + "{{object.pk}}"
                let my_modal = $('#OrganismUpdateModal');
                $(`${btn} a`).click(function () {
                    my_modal.load("{% url 'organism_update' object.pk %}", function (response) {
                        if (response == "Permission Not Granted") {
                            alert("permission!")

                        } else {
                            my_modal.modal("show"); // Open Modal
                        }
                    });
                });
                if (document.formHasErrors) {
                    my_modal.modal('show');
                }
            });

        </script>

        <!-- <script>
            $(document).ready(function () {
                let my_modal = $('#OrganismUpdateModal');
                if (document.formHasErrors) {
                    my_modal.modal('show');
                }
            })
        </script> -->

    </div>
    <div class="accordion" id="organism-detail">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" style="max-height:20px;" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h5 class="fs-6 my-0">{{object.organism_name}} |
                        {{object.organism_name.org_class.dict_value}}

                    </h5>


                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#organism-detail">
                <div class="accordion-body">

                    <!-- <p>{{Organism_Name}}</p> -->

                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                    </ul>
                    {% endif %}
                    <!-- ===================================================================================== -->

                    <b>
                        {%include 'utils/message.html'%}
                    </b>
                    {%include '../updateForm/Organism_u_withoutname.html'%}


                </div>

            </div>

        </div>
    </div>



    <div>
        {% for object in batch_obj %}
        <div id="batch{{object.pk}}">
            {%include 'dorganism/partial/batch_div.html'%}


        </div>


        {%endfor%}

    </div>
    {% load static %}
    <script type="text/javascript" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'js/editableTable.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/editableTablechoices.js' %}" type="text/javascript"></script>
    <!-- <script src="{% static 'js/table-edits.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/table-editable.int.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/js_utils/getCookie.js'%}"></script> -->
    <script type="text/javascript" src="{% static 'js/js_utils/dataTables.min.js'%}"></script>

    <script>
        $(document).ready(function () {
            $("#datatable_batch").DataTable({
                searching: false,
                paging: false,
            });
        });
    </script>
    <script src="https://unpkg.com/htmx.org@1.8.4"
        integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV"
        crossorigin="anonymous"></script>


    <div id="createBatchModal" class="modal fade" role="dialog"></div>

    <script>
        $(document).ready(function () {
            let my_modal = $("#createBatchModal");

            $("#createBatch").click(function () {
                my_modal.load("{%url 'batch_create'%}", function (response) {
                    if (response == "Permission Not Granted") {
                        alert("permission!");
                    } else {
                        my_modal.modal("show"); // Open Modal
                    }
                });
            });
        });
    </script>


    {%endblock%}