{% extends "base.html" %}
{% block content %}
<div class="d-flex flex-row bg-light justify-content-between vh-100">
    {%include "utils/sidebar.html"%}
    <div class="main d-flex flex-column">
        <div class="d-flex flex-wrap justify-content-between">
            <a href="{%url 'importOrg'%}" class="btn btn-outline-secondary"><i class="bi bi-cloud-arrow-up"></i>import
                organism</a>
            <div>

                <a href="{%url 'org_list'%}" class="btn btn-outline-secondary"><i class="bi bi-list"></i></a>
                <a href="{%url 'org_card'%}" class="btn btn-outline-secondary"><i class="bi bi-grid-fill"></i></a>
            </div>
        </div>
        <hr>

        <div id="createOrganism">

            <a class="btn m-auto" style="float:right;">Create New Organism
                <i class="bi bi-plus"></i>
            </a>
        </div>

        <div id="createOrganismModal" class="modal fade" role="dialog">
        </div>
        <script>

            $(document).ready(function () {

                let my_modal = $("#createOrganismModal");

                $("#createOrganism a").click(function () {
                    my_modal.load("{%url 'org_create'%}", function (response) {
                        if (response == "Permission Not Granted") {
                            alert("permission!")

                        } else {
                            my_modal.modal("show"); // Open Modal
                        }

                    });
                });
            });

        </script>


        <!-- -----------------------------------------View Switch-------------------------------------------------------------------- -->

        {% include 'utils/pagination.html'%}

        <div class="contain-fluid">

            <div class="row d-flex flex-wrap mx-2">
                <!-- object_list -->

                <table class="table table-bordered  border border-2">
                    <tbody>
                        {% for object in object_list%}

                        <tr>
                            {%for field, val in object%}

                            <th class="sidebar">
                                {{ field }}
                                <input type="text" value="filter">
                            </th>
                            <th class="resizer">-</th>


                            {%endfor%}
                        </tr>
                        <!-- <tr>
                            {%for field, val in object%}

                            <td>
                                {{ val }}
                            </td>
                            <td class="dragbar">
                                -
                            </td>
                            {%endfor%}
                        </tr> -->
                        {%endfor%}
                </table>
                </tbody>

            </div>



        </div>
        <hr>

        {% include 'utils/pagination.html'%}
    </div>

</div>

</div>

<script>
    $(document).ready(() => {
        console.log("loading document")
        $('a.switch').click(function () {
            var url = this.href + '?' + window.location.href.split('?')[1];
            window.location.href = url;
            return false;
        });


    })
</script>

{% endblock %}