<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
  <div class="modal-dialog modal-dialog-centered modal-xl" style="width: fit-content;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Stock Table</h5>
      </div>
      <div class="modal-body">
        {%include 'utils/datatable_stock.html'%}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
        <button type="button" class="btn m-auto mt-5" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
      </div>
    </div>
  </div>
</div>

{%load static%}
<script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js_utils/dataTables.min.js'%}"></script>
<script>
  function closeModal() {
    var container = document.getElementById("modals-here")
    var backdrop = document.getElementById("modal-backdrop")
    var modal = document.getElementById("modal")

    modal.classList.remove("show")
    backdrop.classList.remove("show")

    setTimeout(function () {
      container.removeChild(backdrop)
      container.removeChild(modal)
    }, 200)
  }
</script>

<script>
  $(document).ready(function () {
    $("#datatable_stock").DataTable({
      searching: false,
      paging: false,
    });
  });
</script>