<!--prettier-ignore-->
{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} mysite{% endblock %}
<!--prettier-ignore-->
{% block content%}
<div class=" mx-2 border border-2">

    <div>

        <a class="btn btn-sm btn-outline-secondary" href="{%url 'taxo_card' %}"><i class="bi bi-view-list"></i><i
                class="bi bi-arrow-bar-left"></i></a>
    </div>
    <p class="m-atuo">
    <div id="{{Taxonomy.pk}}">
        <a class="btn btn-success btn-sm">Update</a>
    </div>

    <div id="OrganismUpdateModal" class="modal fade " role="dialog">
    </div>

    <script>
        // document.formHasErrors = {% if form.errors %}true{% else %} false{% endif %};

        $(document).ready(function () {
            btn = "#" + "{{Taxonomy.pk}}"
            let my_modal = $('#TaxonomyUpdateModal');
            $(`${btn} a`).click(function () {
                my_modal.load("{% url 'taxonomy_update' Taxonomy.pk %}", function () {
                    my_modal.modal("show");
                });
            });


            if (document.formHasErrors) {
                my_modal.modal('show');
            }


        });

    </script>
    {% if form_error %}
    <script>
        $(document).ready(function () {

            let my_modal = $('#TaxonomyUpdateModal');
            my_modal.modal("show");
        })
    </script>
    {% endif %}


    </p>
    <p><a href="{% url 'taxonomy_delete' Taxonomy.pk %}">Delete</a></p>
    <div class="card m-4">
        <b>
            {%include 'utils/message.html'%}
        </b>
        <div class="card-header">
            Organism Taxonomy {{Taxonomy.pk}}
        </div>
        <div class="row">
            <div class="col-md-4 table-responsive-sm">

                <table class="table table-bordered m-2">

                    <thead>
                        <tr>
                            <th scope="col" class="table-light">Organism Name</th>
                            <th scope="col" class="table-light">{{Taxonomy.pk}}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="table-light"> Other Names</th>
                            <td><a href="">{{Taxonomy.other_names}}</a>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light"> Class</th>
                            <td> {{Taxonomy.org_class.dict_desc}}
                            </td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Tax_ID</th>
                            <td class="" data-id="{{Taxonomy.pk}}" data-type="tax_id">
                                {{Taxonomy.tax_id}} (integer)
                            </td>

                        </tr>

                        <tr>
                            <th scope="row" class="table-light">Parent_Tax_ID</th>
                            <td class="" data-id="{{Taxonomy.pk}}" data-type="parent_tax_id">
                                {{Taxonomy.parent_tax_id}} (integer)

                            </td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Tax_Rank</th>
                            <td class="editable" data-id="{{Taxonomy.pk}}" data-type="tax_rank">
                                {{Taxonomy.tax_rank}}</td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Division</th>
                            <td class="editable" data-id="{{Taxonomy.pk}}" data-type="division">
                                {{Taxonomy.division}}</td>

                        </tr>
                        <tr>
                            <th scope="row" class="table-light">Lineage</th>
                            <td class="" data-id="{{Taxonomy.pk}}" data-type="lineage">
                                (Taxonomy.lineage)
                                {% for obj in Taxonomy.lineage %}
                                <p>* {{obj}} </p>
                                {%endfor%}
                                </select>


                            </td>

                        </tr>


                    </tbody>
                </table>
            </div>



        </div>
    </div>

</div>

{%endblock%}