<!--prettier-ignore-->
{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} mysite{% endblock %}
<!--prettier-ignore-->
{% block content%}

<div class="position-relative w-100 bg-transparent">

    <div class="d-flex flex-row bg-light justify-content-between vh-100">
        {%include "utils/sidebar.html"%}

        <div class="main d-flex flex-column">
            <div class="d-flex flex-wrap justify-content-between">
                <a href="{%url 'importTaxo'%}" class="btn btn-outline-secondary"><i
                        class="bi bi-cloud-arrow-up"></i>import
                    Taxonomy</a>
                <div>

                    <a href="{%url 'taxo_list'%}" class="btn btn-outline-secondary"><i class="bi bi-list"></a>
                    <a href="{%url 'taxo_card'%}" class="btn btn-outline-secondary"><i class="bi bi-grid-fill"></i></a>
                </div>
            </div>
            <hr>





            <div class="row d-flex flex-wrap">

                {% include 'utils/datatable_taxonomy.html'%}
            </div>


            <script>
                $(document).ready(() => {
                    console.log("loading document")
                    $('a.switch').click(function () {
                        var url = this.href + '?' + window.location.href.split('?')[1];
                        window.location.href = url;
                        return false;
                    });


                })
            </script>


        </div>
    </div>
</div>



<!--prettier-ignore-->
{% endblock%}