

<!-- for is_dict -->
{% load custom_filters %}

<div class="d-flex flex-column w-100">
  <!-- Message for 3 sec -->
 <!-- <b> {%include 'utils/message.html'%} </b> -->

  <!-- Table Title -->
  <h2 class="accordion-header" id="headingOne">
    <button class="collapsed accordion-button mt-0" style="max-height: fit-content" type="button" data-bs-toggle="collapse"
      data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <h5 class="fs-4 my-0"><b>{{model_name}}</b>
      </h5>
    </button>
  </h2>

  <!-- Pagination Buttons -->
  <div class="d-flex flex-wrap justify-content-between m-2 p-0 align-items-baseline">
    {% include 'grid/base/pagination.html' %}
  </div>

  <!-- Data Table -->
  <!-- <div class="contain-fluid data-contain" style="height: 100vh;overflow: auto;" -->
  <div class="contain-fluid data-contain" style="height: 90vh;overflow: auto">
    <table class="table table-hover sorting_table fixTableHead table-bg" style="width: 100%">
      <thead>
        <tr>
          <th class="text-center" style="width: 0%" ><i class="bi bi-app-indicator text-body "></i></th>
          <!-- Nth Columns for fields -->
          {% for field in fields %}
            {% if field|is_dict %}
              <!-- If field isdict - use field.key -->
              {% for key in field.keys %}
                <th class="order_field" style="width: fit-content" data-name="{{key}}">{{key}}</th>
              {% endfor %}
            {% else %}
              <!-- use field -->
              <th class="order_field" style="width: fit-content" data-name="{{field}}">{{field}}</th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>

      <tbody hx-target="closest tr" hx-swap="outerHTML">
        {% for object in page_obj %}
          <tr>
            {% if update_url %}
              <td>
                <a id="update{{model_name}}"
                    class="btn btn-sm "
                    hx-get="{% url update_url object.pk %}"
                    hx-target="#update-body"
                    hx-swap="innerHTML"
                    data-bs-toggle="modal"
                    data-bs-target="#update{{model_name}}_modal"
                    data-bs-placement="right"
                    data-bs-backdrop="static"
                    title="Update {{model_name}}">
                  <i class="bi bi-record-circle-fill" ></i>
                </a>
              </td>
            {% else %}
              <td> </td>
            {% endif %}

            {% for item in object.get_values %}
              <td>
                {% if item|is_dict %}                   
                    <!-- If item isdict - display item.key and use  item.value as link -->
                    {% for key, value in item.items %}      
                      <a href="{{value}}" target="_blank">{{ key }}</a>
                    {% endfor %}
                {% else %}
                  {{item}}
                {% endif %}
              </td>
            {% endfor%}
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>