{% load custom_filters %}
<div style="height: 100vh;overflow: auto;">


  <table class="table table-hover sorting_table fixTableHead table-bg" style="width: 100%">
    <thead>
      <tr>

        <!-- Nth Columns for fields -->
        {% for field in fields %}
          {% if field|is_dict %}
            <!-- If field isdict - use field.key -->
            {% for key in field.keys %}
              <th class="order_field" style="width: fit-content" data-name="{{key}}">{{key}}</th>
            {% endfor %}
          {% else %}
            <!-- use field -->
            <th class="order_field" style="width: fit-content" data-name="{{field}}">{{field}}</th>
          {% endif %}
        {% endfor %}

    </tr>
    </thead>

    <tbody hx-target="closest tr" hx-swap="outerHTML">

      {% for object in objects %}
        <tr>
          {% for item in object.get_values %}
            <td>
            {% if item|is_dict %} <!-- custom filter -->   
              {% for key, value in item.items %}      
                <a href="{{value}}" target="_blank">{{ key }}</a>
              {% endfor %}
            {% else %}
              {{item}}
            {% endif %}
            </td>
          {% endfor %}      
        </tr>

      {% endfor %}
    </tbody>

  </table>
</div>