<!-- for is_dict -->
{% load custom_filters %}

<table id="{{table_id}}" class="table-bg" style="width: 100%">
  <thead>
    <tr>
      {% for field in data_fields %}
        {% if field|is_dict %}
          <!-- If field isdict - use field.key -->
          {% for key in field.keys %}
            <th class="order_field" style="width: fit-content" data-name="{{key}}">{{key}}</th>
          {% endfor %}
        {% else %}
          <th>{{field}}</th>
        {% endif %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for object in objects %}
      <tr>
        {% for item in object.get_values %}
          <td>
            {% if item|is_dict %}                   
                <!-- If item isdict - display item.key and use  item.value as link -->
                {% for key, value in item.items %}      
                <a href="{{value}}" target="_blank">{{ key }}</a>
                {% endfor %}
            {% else %}
              {{item}}
            {% endif %}
          </td>
        {% endfor%}
      </tr>
    {% endfor %}
  </tbody>
</table>
