{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%}COADD{% endblock %}

{% block content %}
<div style="margin-top: 20px; height: 50px"></div>

<div class="container d-flex flex-wrap justify-content-around">

    <div id="Label-OrganismModel" class="card-body d-flex justify-content-center">   
        {% url 'org_list' as org_url %}
        {% include 'button/land_btn_primary.html' with title='ORGANISM' url=org_url totalnumber=nOrg %}
    </div>
 
    <div id="Cells" class="card-body d-flex justify-content-center">
        {% url 'cell_list' as cell_url %}
        {% include 'button/land_btn_primary.html' with title='CELL' url=cell_url totalnumber=nCell %}
    </div>

    <div id="Label-Sequence" class="card-body d-flex justify-content-center">
        
        {% url 'genomeseq_list' as genomeseq_url %}
        {% include 'button/land_btn_primary.html' with title='SEQUENCE' url=genomeseq_url totalnumber=nSeq %}
    </div>


    <div id="Label-DrugModel" class="card-body d-flex justify-content-center">
        <!--  -->
        {% url 'drug_card' as drug_url %}
        {% include 'button/land_btn_primary.html' with title='DRUG' url=drug_url totalnumber=nDrug %}
    </div>

</div>
<div class="container d-flex flex-wrap justify-content-around">

    <div id="Label-Projects" class="card-body d-flex justify-content-center">
        {% url 'project_list' as prj_url %}
        {% include 'button/land_btn_secondary.html' with title='PROJECT' url=prj_url totalnumber=nProject %} 
    </div> 

    <div id="Label-Screens" class="card-body d-flex justify-content-center">        
        {% url 'screenrun_list' as seq_url %}
        {% include 'button/land_btn_secondary.html' with title='SCREEN' url=seq_url totalnumber=nRun %}
    </div>
</div>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    {% include 'utils/messagebox.html' %}
</div>

{% endblock content %}
