{%include 'partials/main.html'%}

<head>


    {%include 'partials/title-meta.html' with title="Horizontal Preloader Layout" %}
    {%include 'partials/main.html'%}
    {%include 'partials/head-css.html'%}

</head>

<body data-topbar="dark" data-layout="horizontal" data-layout-mode="light">

    <!-- Loader -->
    <!-- <div id="preloader">
        <div id="status">
            <div class="spinner-chase">
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
                <div class="chase-dot"></div>
            </div>
        </div>
    </div> -->

    <!-- Begin page -->
    <div id="layout-wrapper">


        {%include 'partials/horizontal.html'%}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">


            <!-- End Page-content -->

            <!-- Modal -->

            <!-- end modal -->

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->


    <!-- apexcharts -->
    {%load static%}
    <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>

    <script src="{% static 'assets/js/pages/dashboard.init.js' %}"></script>

    <script src="{% static 'assets/js/app.js'%}"></script>
</body>

</html>