{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
<!--prettier-ignore-->
{% block content%}
<div class="d-flex flex-row justify-content-between vh-100">
  {%url 'excel-import' process_name='Gene' as urlname%}
  <!--prettier-ignore-->
  {%include 'utils/leftbar.html' with list_url='gene_list' card_url='gene_list' create_object='createGene' create_objectModal='createGeneModal'%}
  <!-- Sidebar View -->
  {%include "utils/sidebar.html"%}
  <!-- Main View -->
  <div class="main d-flex flex-column">
    {%include 'utils/main_horizalbar.html'%}
    <!-- list View Content -->
    <div class="contain-fluid data-contain">
      <h5 class="fw-bold text-center text-info view-title"> GENE Table</h5>
    <div class="fixTableHead">
      <!--prettier-ignore-->
      {%include 'utils/datatable_filter.html' with modelname='Gene' url_name='gene_detail'%}
      </div>
    </div>
  </div>
</div>
{% endblock%}
