<div class="modal-dialog">
  <div class="modal-content" style="width: 50rem;">
    <div class="modal-header">
      <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="card mt-3 text-left">


      <hr>
      <form method="POST" class="post-form" name="create" action="{%url 'batch_create'%}">
        {% csrf_token %}
        {{form.as_p}}
        <input type="text" id="taxo-name" name="search_organism" style="display: none;">

        <hr>
        <input type="submit" class="btn btn-outline-secondary" value="Add" name="note" />
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>

      </form>
    </div>

  </div>

</div>