<div class="modal-dialog">
  <div class="modal-content" style="width: 50rem;">

    <div class="card mt-3 text-left">
      <h4 class="my-0">Create Organism</h4>
      {% include 'utils/searchbar_01.html' %}
      <!-- ===================================================================================== -->
      <hr>
      <form method="POST" class="post-form" name="create" action="{%url 'org_create'%}">
        {% csrf_token %}
        {{form}}
        <input type="text" id="taxo-name" name="searchbar_01" style="display: none;">

        <hr>
        <input type="submit" class="btn m-auto mt-5" value="Add" name="note" />

      </form>
    </div>
    <a href="{% url 'org_list' %}">cancel</a>

  </div>

</div>