
<div>
  <button type="button" class="btn btn-outline-success "> 
    <a href="{% url 'load_readouts' pk=object.pk %}" style="color:inherit"> Upload Readouts </a>
  </button>

  <button type="button" class="btn btn-outline-success"> 
    <a href="{% url 'load_motherplates' pk=object.pk %}" style="color:inherit"> Upload Motherplates </a>
  </button>

  {% comment %} 
  <button type="button" class="btn btn-outline-success disabled">  
    <a href="{% url 'load_testplates' pk=object.pk %}" style="color:inherit"> Upload Testplate Info </a>
  </button>


  <button type="button" class="btn btn-outline-success disabled"> 
    <a href="{% url 'screenrun_report' pk=object.pk %}" style="color:inherit"> Apply Motherplate Info</a>
  </button>

  <button type="button" class="btn btn-outline-success disabled"> 
    <a href="{% url 'screenrun_report' pk=object.pk %}" style="color:inherit"> Analyse Testplates</a>
  </button>
{% endcomment %}

  <button type="button" class="btn btn-outline-success "> 
    <a href="{% url 'screenrun_report' pk=object.pk %}" style="color:inherit"> Create Report</a>
  </button>
</div>