
<div>

  <button type="button" class="btn btn-outline-success "> 
    <a href="{% url 'load_readouts' pk=object.pk %}" style="color:inherit"> Upload Readouts </a>
  </button>

  {% if runtype == 'PSR' %}
    <button type="button" class="btn btn-outline-success"> 
      <a href="{% url 'gen_motherplates_psr' pk=object.pk %}" style="color:inherit"> Generate PSR Motherplates</a>
    </button>
  {% elif runtype == 'HCR' %}
    <button type="button" class="btn btn-outline-success disabled"> 
      <a href="{% url 'gen_motherplates_hcr' pk=object.pk %}" style="color:inherit"> Generate HCR Motherplates</a>
    </button>
  {% endif %}

  <button type="button" class="btn btn-outline-success"> 
    <a href="{% url 'load_motherplates' pk=object.pk %}" style="color:inherit"> Upload Motherplates </a>
  </button>

  <button type="button" class="btn btn-outline-success {% if process_status < 2 %}disabled {% endif %} ">  
    <a href="{% url 'load_testplatelist' pk=object.pk %}" style="color:inherit"> Upload Testplates</a>
  </button>

{% comment %} 
  <button type="button" class="btn btn-outline-success disabled"> 
    <a href="{% url 'screenrun_report' pk=object.pk %}" style="color:inherit"> Apply Motherplate Info</a>
  </button>

  <button type="button" class="btn btn-outline-success {% if process_status < 3 %}disabled {% endif %}"> 
    <a href="{% url 'analyze_testplates' pk=object.pk %}" style="color:inherit"> Analyze Testplates</a>
  </button>
{% endcomment %}

  <button type="button" class="btn btn-outline-success {% if process_status < 9 %}disabled {% endif %}"> 
    <a href="{% url 'screenrun_report' pk=object.pk %}" style="color:inherit"> Generate Report</a>
  </button>
</div>