{% extends "base.html" %}
<!--  -->
{% block title%}COADD{% endblock %}
<!--  -->
{% load custom_filters %}

{% block content %}

  <table >
    <thead> <!-- Header -->
      <tr>
        {% for field in fields %}
          {% if field|is_dict %}
            {% for key in field.keys %}
              <th>{{key}}</th>
            {% endfor %}
          {% else %}
            <th>{{field}}</th>
          {% endif %}
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      <tr>
        {% if page_obj %} <!-- Pagination  -->
          {% for object in page_obj%}
            {% for item in object.get_values %}
              <td>
                {% if item|is_dict %}     
                  {% for key, value in item.items %}      
                    <a href="{{value}}" target="_blank">{{ key }}</a>
                  {% endfor %}
                {% else %}
                  {{item}}
                {% endif %}
              </td>
            {% endfor %}
          {% endfor %}

        {% else %} <!-- NO Pagination  -->
          {% for item in object.get_values %}
            <td>
              {% if item|is_dict %}     
                {% for key, value in item.items %}      
                  <a href="{{value}}" target="_blank">{{ key }}</a>
                {% endfor %}
              {% else %}
                {{item}}
              {% endif %}
            </td>
          {% endfor %}
        {% endif %}       
      </tr>
    </tbody>
  </table>

{% endblock content %}

<!--  -->
{% comment %} <div class="d-flex flex-row vh-100">
  {% url 'pivoted-table' app_model='dscreen-Screen_Run' as url_pivotedtable%}
  {% include 'utils/leftbar.html' with list_url='org_list' card_url='org_card' create_object='createScreenRun' create_objectModal='createScreenRunModal' url_pivotedtable=url_pivotedtable %}
  <!-- Sidebar View -->
  {% include "utils/sidebar.html" %}
  

  <!-- Main View -->
  <div class="d-flex flex-column w-100"> 

    <!-- prettier-ignore -->
    {% include 'utils/main_horizalbar.html' with title='ScreenRun'  model_name='Screen_Run' application='dscreen' %}
    <!-- prettier-ignore -->
    <!--  -->


    <!-- list View Content -->
   <div class="contain-fluid data-contain">
      <!-- prettier-ignore --> <!-- Here include datatable_general --> 
      {% include 'utils/datatable_general.html' with run_id='RunID' url_name='run_detail' modelname='Screen_Run' %}
    </div>
    </div>

</div> {% endcomment %}
