{% extends "base.html" %}
<!--  -->
{% block title%}COADD{% endblock %}
<!--  -->
{% block content %}
<!--  -->
<div class="d-flex flex-row vh-100">
  {% url 'pivoted-table' app_model='dscreen-Screen_Run' as pivot_url%}
  {% include 'grid/base/left_navbar.html' with list_url='screenrun_list' card_url='' create_object='createScreenRun' create_objectModal='createScreenRunModal' pivot_url='' %}
  <!-- Sidebar View -->
  {% include "utils/sidebar.html" %}
  

  <!-- Main View -->
  <div class="d-flex flex-column w-100"> 

    <!-- prettier-ignore -->
    {% include 'datatable/base/datatable_top.html' with title='ScreenRun'  model_name='Screen_Run' application='dscreen' %}
    <!-- prettier-ignore -->
    <!--  -->


    <!-- list View Content -->
   <div class="contain-fluid data-contain">
      <!-- prettier-ignore --> <!-- Here include datatable_general --> 
      {% include 'datatable/base/datatable_base.html' with modelname='Screen_Run' %}
    </div>
    </div>

</div>
{% endblock %}
