{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%}COADD{% endblock %}
{% block content %}

<!-- <div class="container-fluid"> -->

<div class="text-center" style="
    width: 30em;
    position: absolute;
    top: 10%;
    left: 35%;
  ">
  <!-- <div class="card-body w-30 h-50 m-auto fs-4 py-5"> -->
    <h5 class="logintext fs-6 fw-bold m-5">Welcome to Organism DataBase <br> <span> Log in </span> with your account to continue</h5>

    {%include 'utils/message.html'%}
    <form method="POST" action="{% url 'login'%}" autocomplete="off">
      {%csrf_token%}
      <!--  -->
      <div class="Login-form" style="position:relative">

        <label for="user-input">UQ User</label>
        {{form.username}}
      </div>
      <br>
      <div class="Login-form" style="position:relative">

        <label for="password-input">Password</label>
        {{form.password}}
      </div>

      <button type="submit" class="login">
    Log In
      </button>
    </form>
  <!-- </div> -->
</div>
<!-- </div> -->
<script>

  $(document).ready(function () {
   
    $('.Login-form input').on('focus', function () {
      $(this).closest('.Login-form').find('label').addClass('active');
    });

    $('.Login-form input').on('blur', function () {
      if ($(this).val() === '') {
       
        $(this).closest('.Login-form').find('label').removeClass('active');
      }
    });
  });
</script>
{%endblock%}