{%if model_name == 'Dictionary' or model_name == 'AppUser' %}
<!--  -->
{%if user.permission != 'Admin'%}
<a
  id="#"
  class="btn-sm"
  data-bs-toggle="tooltip"
  data-bs-placement="right"
  title="Admin Access"
  ><i class="bi bi-file-earmark-plus text-secondary"></i>
</a>
<!--  -->
{%else%}
<a
  id="{{create_object}}"
  class="btn-sm"
  data-bs-toggle="tooltip"
  data-bs-placement="right"
  title="Add New Entry {{create_object}}"
  ><i class="bi bi-file-earmark-plus text-light"></i>
</a>
<!--  -->
{%endif%}
<!--  -->
{%else%}
<a
  id="{{create_object}}"
  data-name="general"
  class="btn-sm"
  data-bs-toggle="tooltip"
  data-bs-placement="right"
  title="Add New Entry {{create_object}}"
  ><i class="bi bi-file-earmark-plus fs-6 text-light"></i>
</a>
{%endif%}
<div
  id="{{create_objectModal}}"
  class="modal fade"
  role="dialog"
  data-bs-backdrop="static"
></div>
