<div class="row border label">
    <div class="d-flex p-0 bd-highlight" style="font-size: x-small;">
        <div>
            <strong>Created </strong>
            {{object_acreated_at |date:"d M, Y" }}
            <!--  -->
            {{object_acreated_at|time:"H:i" }} AEST
        </div>
        <div> <strong> &nbsp; by </strong>
            {{object_acreated}}
        </div>
        {%if object_aupdated_at%}
        <div>&nbsp; | &nbsp;</div>
        <div>
            <strong> &nbsp;Modified </strong>
            {{object_aupdated_at |date:"d M, Y" }}
            <!--  -->
            {{object_aupdated_at|time:"H:i" }} AEST
        </div>
        <div>
            <strong> &nbsp; by </strong>

            {{object_aupdated}}
        </div>
        {%endif%}
    </div>
</div>