<tr
  hx-trigger="cancel"
  class="editing"
  hx-get="{%url 'org_detail' object.organism_id.pk %}"
>
  <!-- <td></td> -->
  <td>
    <input
      type="submit"
      value="update"
      hx-put="{%url 'batch_update' pk=object.pk%}"
      hx-include="closest tr"
      hx-trigger="click"
    />
    <a href="{% url 'org_detail' object.organism_id.pk %}">Cancel</a>
  </td>
  <td>{{form.orgbatch_id}}</td>
  <td>{{form.batch_notes}}</td>
  <td>{{form.qc_status}}</td>
  <td>{{form.supplier}}</td>
  <td>{{form.supplier_code}}</td>
  <td>{{form.stock_date}}</td>
  <td>{{form.stock_level}}</td>
  <td>{{form.biologist}}</td>
</tr>
