<tr hx-trigger="cancel" class="editing" hx-get="{%url 'org_detail' object.organism_id.pk %}">
  <!-- <td></td> -->
  <td>
    <button class="border border-0 bg-transparent" type="submit" value="update"
      hx-put="{%url 'batch_update' pk=object.pk%}" hx-include="closest tr" hx-trigger="click" onclick="setTimeout(function(){ location.reload(); }, 100);">
      <i class="fa-regular fa-floppy-disk text-success m-auto"></i>
    </button>
    {%include 'utils/miscellaneous/cancel_btn_reloc.html'%}
  </td>

  <td class="not-visible">{{form.orgbatch_id}}</td>
  {%for field in form.group_updatebatch%}
  <td>{{field}}</td>
  {%endfor%}

</tr>

{%load static%}
<script type="text/javascript" src="{%static 'js/js_utils/htmx_header.js'%}"></script>

<script>
  $(document).ready(function () {
    $('option').each(function () {
      console.log("selectt")
      replace_string = $(this).text().replace("<small class='not-visible'>", " | ").replace("</small>", "")
      $(this).text(replace_string)
    })
  })
</script>