<div class="modal-dialog">
  <div class="modal-content" style="width: 30rem">
    <div class="modal-header">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="window.location.reload(true);"></button>
    </div>
    <div class="mx-2">
      <h4 class="my-0">Create Batch</h4>
      {% include 'utils/search_organism_id.html' %}
      <form method="POST" class="post-form" name="create" action="{%url 'batch_create'%}">
        {% csrf_token %}
        <!-- ignore prettier -->
        {{form.as_p}}
        <input type="text" id="microorg" name="search_organism" style="display: none" />
        <!-- id "taxo-name" used in search_organism.js to assign ajax result -->

        <hr />
        <input type="submit" class="btn btn-outline-secondary" value="Add" name="note" />
        <a href="#" onclick="window.location.reload(true);" class="btn btn-outline-secondary">
          <!-- <a  class="btn btn-outline-secondary"> -->
          Cancel
        </a>
      </form>
    </div>
  </div>
</div>
  
<!-- <script>
  //this function will be called after the JavaScriptApplet code has been loaded.
  $(".btn-close, a").on('click', function(){
  $(".modal-dialog").remove();
})
</script>   -->