<form id="django-filter-table" method="get" class="d-block" style="height: 100vh; overflow: auto">
  <table class="table table-bordered table-hover sorting_table fixTableHead" style="width: 100%">
    <thead>
      <tr>
        <!-- detail view link name if exists -->
        <th style="width: 1rem"></th>
        <!-- customized/verbose model fields name -->
        <!--prettier-ignore  -->
        {%for field in filter.form %}
        {%if field.name != 'Search_all_fields' and field.name != 'tax_id'%}
        <th class="order_field" style="width: fit-content" data-name="{{field.label}}">
          {{field.label}}<br />{{field}}
        </th>
        {%endif%} {%endfor%}
        <!-- object ID -->
        <!--field with web link if exists  -->
        {%if tax_id %}
        <th>Tax ID</th>
        {%endif%}
      </tr>
    </thead>

    <tbody hx-target="closest tr" hx-swap="outerHTML">
      {%if page_obj%}
      <!--prettier-ignore  -->
      {% for object in page_obj%}
      {% if table_id == 'ApplicationUser' %}
      {%include 'apputil/appuser_tr.html' with table_id='ApplicationUser'%}
      {%else%}
      <tr>
        <td>
          <!--prettier-ignore  -->
          {%include 'utils/miscellaneous/selectbox.html' with datatype=modelname object_id=object.pk%}
          <!--  -->
        </td>
        {%for value in object.get_values%}
        <td>{{value}}</td>
        {%endfor%}
        <!-- Special for Taxonomy Tax_id web Link -->
        {%if object.tax_id %}
        <td>
          <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{object.tax_id}}"
            target="_blank">{{object.tax_id}}</a>
        </td>
        {%endif%}
      </tr>
      {%endif%} 
      {%endfor%}
      <!--  -->
      {%else%}
      <tr>
        No Data
      </tr>
      {%endif%}
    </tbody>
  </table>
</form>


<script>
  $("th input").bind("change", function () {
    $("#django-filter-table").submit();
  });
  $("th select").change(function () {
    $("#django-filter-table").submit();
  });
</script>