<a id="createTaxo" class="card-link text-success" style="float: right"
  >Add New
  <i class="bi bi-plus"></i>
</a>

<div id="createTaxoModal" class="modal fade" role="dialog"></div>
{%include 'utils/datatable_overview.html'%}
<script>
  $(document).ready(function () {
    let my_modal = $("#createTaxoModal");

    $("#createTaxo").click(function () {
      my_modal.load("{%url 'taxo_create'%}", function (response) {
        if (response == "Permission Not Granted") {
          alert("permission!");
        } else {
          my_modal.modal("show"); // Open Modal
        }
      });
    });
  });
</script>
