<table id="{{table_id}}" class="cell-border table-hover" style="width: 100%">
  <thead>
    <tr>
      <th style="width: 10em"></th>
     {%if hiddenfield%}
      <th class="not-visible">{{hiddenfield}}</th>
     {%endif%}
      {%for th in data_fields %}
      <th>{{th}}</th>
      {%endfor%}
    </tr>
  </thead>
  <tbody hx-target="closest tr" hx-swap="outerHTML">
    {% for object in objects %}
    <!--  -->
    {%if html_name%}
    {%include html_name%}
    {%else%}
    <tr>
      <td>{{object.organism}}</td>
    {%for value in object.get_values%}
    <td>{{value}}</td>
    {%endfor%}
    </tr>
    {%endif%}
    <!--  -->
    {%endfor%}
  </tbody>
</table>
<script
  src="https://unpkg.com/htmx.org@1.8.4"
  integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV"
  crossorigin="anonymous"
></script>

{%load static%}
<script type="text/javascript" src="{% static 'js/create_childtable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/destroy_childtable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/childtable.js' %}"></script>


<script>
  $(document).ready(function () {
    // Table Batch
    var table = $('#'+'{{table_id}}').DataTable({
      searching: false,
      paging: "{{table_id}}" === 'datatable_vitekast' ? true : false,
      info:false
    });
    
    if ("{{table_id}}"==="datatable_batch"){

      permission='{{user.permission}}'
      childtable(permission, table)
    }
    const csrftoken = getCookie("csrftoken");
    
  });
</script>
