<table id="datatable_batch" class="cell-border" style="width: 100%">
  <thead>
    <tr>
      <th>Stock</th>
      {%for th in batch_fields %}
      <th>{{th}}</th>
      {%endfor%}
      <th style="width: 10em">EDIT</th>
    </tr>
  </thead>
  <tbody hx-target="closest tr" hx-swap="outerHTML">
    {% for object_batch in batch_obj %}
    <!--  -->
    {%include 'dorganism/readForm/Batch_tr.html'%}
    <!--  -->
    {%endfor%}
  </tbody>
</table>
<script
  src="https://unpkg.com/htmx.org@1.8.4"
  integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV"
  crossorigin="anonymous"
></script>
{%load static%}
<script src="{% static 'js/js_utils/getCookie.js'%}"></script>

<script>
  $(document).ready(function () {
    // Table Batch
    var table = $("#datatable_batch").DataTable({
      searching: false,
      paging: false,
    });

    const csrftoken = getCookie("csrftoken");
    $("#datatable_batch tbody").on("click", "td.dt-control", function (e) {
      var tr = $(this).closest("tr");
      var row = table.row(tr);

      if (row.child.isShown()) {
        // This row is already open - close it
        destroyChild(row);
        tr.removeClass("shown");
      } else {
        // Open this row
        // getStockData(row.data()[1]);
        createChild(row);
        tr.addClass("shown");
      }
    });
  });
  function createChild(row) {
    // This is the table we'll convert into a DataTable
    var Batch_id = row.data()[1];
    var table = $('<table id="Stock" class="display" width="100%"/>');

    // Display it the child row
    row.child(table).show();
    // Initialise as a DataTable
    var usersTable = table.DataTable({
      dom: "Bfrtip",
      pageLength: 1,
      ajax: {
        url: `/stocklist/${Batch_id}`,
        type: "GET",
        headers: { "X-CSRFToken": csrftoken },
        data: { Batch_id },
      },
      columns: [
        {
          title: "Add",
          data: null,
          defaultContent:
            `<button id="create_stock">Create</button>` +
            '<div id="createStockModal" class="modal fade" role="dialog"></div>',
        },
        { title: "Stock ID", data: "stock_id" },
        { title: "Stock Created", data: "stock_created" },
        { title: "Stock Left", data: "stock_left" },
        { title: "Stock Note", data: "stock_note" },
        { title: "Stock Type", data: "stock_type" },
        { title: "Stock Date", data: "stock_date", type: "datetime" },
        {
          title: "Update",
          data: null,
          defaultContent:
            `<button id="update_stock">Update</button>` +
            '<div id="updateStockModal" class="modal fade" role="dialog"></div>',
        },
        {
          title: "Delete",
          data: null,
          defaultContent:
            `<button id="delete_stock">Delete!</button>` +
            '<div id="deleteStockModal" class="modal" role="dialog"></div>',
        },
      ],
      // select: true,
      searching: false,
      paging: false,
    });

    $("#Stock tbody").on("click", `#create_stock`, function () {
      var data = usersTable.row($(this).parents("tr")).data();
      let my_modal = $("#createStockModal");
      console.log(data);
      var pk = data["stock_id"];
      console.log(pk);
      my_modal.load("{%url 'stock_create'%}", function (response) {
        if (response == "Permission Not Granted") {
          alert("permission!");
        } else {
          my_modal.modal("show"); // Open Modal
        }
      });
    });

    $("#Stock tbody").on("click", `#delete_stock`, function () {
      var data = usersTable.row($(this).parents("tr")).data();
      let my_modal = $("#deleteStockModal");
      console.log(data);
      var pk = data["stock_id"].toString();
      console.log(pk);
      my_modal.load(`deleteStock/${pk}`, function (response) {
        if (response == "Permission Not Granted") {
          alert("permission!");
        } else {
          my_modal.modal("show"); // Open Modal
        }
      });
    });

    $("#Stock tbody").on("click", `#update_stock`, function () {
      var data = usersTable.row($(this).parents("tr")).data();
      let my_modal = $("#updateStockModal");
      console.log(data);
      var pk = data["stock_id"].toString();
      console.log(pk);
      my_modal.load(`updateStock/${pk}`, function (response) {
        if (response == "Permission Not Granted") {
          alert("permission!");
        } else {
          my_modal.modal("show"); // Open Modal
        }
      });
    });
  }
  function destroyChild(row) {
    var table = $("table", row.child());
    table.detach();
    table.DataTable().destroy();

    // And then hide the row
    row.child.hide();
  }

  const csrftoken = getCookie("csrftoken");
</script>

