{%include './preloader.html'%}

<h5>{%include 'utils/message.html'%}</h5>
<table id="datatable_batch" class="cell-border" style="width: 100%">
  <thead>
    <tr>
      <a id="createBatch" class="card-link text-success" style="float: right"
        >Add New
        <i class="bi bi-plus"></i>
      </a>
      {%for th in batch_fields %}
      <th style="width: fit-content; height: fit-content; padding: 0">
        {{th}}
      </th>

      {%endfor%}
    </tr>
  </thead>

  <tbody>
    {% for object in batch_obj %}
    <tr>
      {%for value in object.get_values%}
      <td>{{value}}</td>
      {%endfor%}
    </tr>
    {%endfor%}
  </tbody>
</table>

<div id="createBatchModal" class="modal fade" role="dialog"></div>

<script>
  $(document).ready(function () {
    let my_modal = $("#createBatchModal");

    $("#createBatch").click(function () {
      my_modal.load("{%url 'batch_create'%}", function (response) {
        if (response == "Permission Not Granted") {
          alert("permission!");
        } else {
          my_modal.modal("show"); // Open Modal
        }
      });
    });
  });
</script>
