{%include './preloader.html'%}

<h5>{%include 'utils/message.html'%}</h5>
<table id="datatable_taxonomy" class="cell-border" style="width: 100%">
  <thead>

    <tr>
      {%for field in fields%}
      <th>{{field}}</th>
      {%endfor%}
      <th>NCBI Tax ID</th>
      <th>Lineage</th>
    </tr>
  </thead>

  <tbody>
    {% for object in page_obj%}
    <tr>
      {%for value in object.get_values%}
      <td>{{value}}</td>
      {%endfor%}
      <td><a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{object.tax_id}}"
          target="_blank">{{object.tax_id}}</a></td>
      <td>
        {% for i in object.lineage%}
        {{i}},
        {%endfor%}
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>

{%load static%}
<script type="text/javascript" src="{% static 'js/js_utils/dataTables.min.js'%}"></script>

<script>
  $(document).ready(function () {
    $("#datatable_taxonomy").DataTable({
      searching: false,
      paging: false,
    });
  });
</script>