{%include './preloader.html'%}

<h5>{%include 'utils/message.html'%}</h5>
<table id="datatable_general" class="table table-bordered sorting_table" style="width: 100%">
  <thead>

    <tr>
      {%for field in fields%}
      <th class="order_field" style="width: fit-content;">{{field}}</th>
      {%endfor%}

    </tr>
  </thead>

  <tbody>
    {% for object in page_obj%}
    <tr>
      {%for value in object.get_values%}
      <td>{{value}}</td>
      {%endfor%}
    </tr>
    {%endfor%}
  </tbody>
</table>