<table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
    <thead>
        <tr>
            <th>Organism ID</th>
            <th>Organism Name</th>
            <th>RiskGroup</th>
            <th>Pathogen</th>
            <th>Lab Restriction</th>
            <th>Bio Approval</th>
        </tr>
    </thead>


    <tbody>
        {%for object in object_list%}
        <tr>
            <td>{{object.pk}}</td>
            <td>{{object.organism_name}}</td>
            <td>{{object.risk_group}}</td>
            <td>{{object.pathogen_group}}</td>
            <td>{{object.lab_restriction}}</td>
            <td>{{object.bio_approval}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>


{%load static%}
<script src="{% static 'assets/libs/jquery/jquery.min.js'%}"></script>
<script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'assets/libs/metismenu/metisMenu.min.js'%}"></script>
<script src="{% static 'assets/libs/simplebar/simplebar.min.js'%}"></script>
<script src="{% static 'assets/libs/node-waves/waves.min.js'%}"></script>

<!-- Required datatable js -->
{%load static%}
<script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
<!-- Buttons examples -->
<script src="{% static 'assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
<script src="{% static 'assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
<script src="{% static 'assets/libs/jszip/jszip.min.js'%}"></script>
<script src="{% static 'assets/libs/pdfmake/build/pdfmake.min.js'%}"></script>
<script src="{% static 'assets/libs/pdfmake/build/vfs_fonts.js'%}"></script>
<script src="{% static 'assets/libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
<script src="{% static 'assets/libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
<script src="{% static 'assets/libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>

<!-- Responsive examples -->
<script src="{% static 'assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>

<!-- Datatable init js -->
<script src="{% static 'assets/js/pages/datatables.init.js'%}"></script>

<script src="{% static 'assets/js/app.js'%}"></script>

</body>

</html>