<div class="mx-5" data-bs-toggle="tooltip" data-bs-placement="right"
    title="">
   
    <form class="d-flex flex-wrap" method="POST" action="{% url 'dataexport' %}" id="form_export_model_data">
      {% csrf_token %}
      <input type="hidden" name="selected_pks" id="selectedIdsInput">
      <input type="hidden" name="app_name" value="{{application}}">
      <input type="hidden" name="model_name" value="{{model_name}}">
      <input type="hidden" name="organism_pk" value="{{related_pk}}">
 
      <input type="hidden" name="submit" value> <!-- get button value to formdetail-->
      <button class="btn btn-sm border border-3 mx-2" type="submit" name="csvdownload" value="csvdownload" data-name="exportData"><i class="fa-solid fa-download text-success"></i> .CSV</button>
      <button class="btn btn-sm border border-3" type="submit" name="xlsxdownload" value="xlsxdownload" data-name="exportData"><i class="fa-solid fa-download text-success"></i> .XLSX</button>
    </form>

  </div>
  <script>
    // select wanted data to export
    var selected_data = [];
    var selected_data_string = '';
  
    $('button[data-name="exportData"]').click(function (e) {
  
      let submit_value = $(this).val()
      console.log(submit_value)
      if ($("input:checkbox[name=selectAll]").is(':checked')) {
        selected_data_string = 'SelectAll';
      } else {
        $("input:checkbox[name=type]:checked").each(function () {
          selected_data.push($(this).val().toString());
        });
  
        // Stringify the array
        if (selected_data.length > 0) {
          selected_data_string = JSON.stringify(selected_data);
        }
      }
  
      // Set the value of the hidden input field
      $('input[name="selected_pks"]').val(selected_data_string);
      $('input[name="submit"]').val(submit_value)
  
    });
  
  
  </script>