<table id="{{table_id}}" class="table-bg" style="width: 100%">
  <thead>
    <tr>  
      {% for col in data_df_fields %}
        <th>{{col}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody hx-target="closest tr" hx-swap="outerHTML">
    {% for row in data_df %}
      <tr>        
        {% for cell in row %}
          <td>{{cell}}</td>
        {% endfor%}
      </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Sorting option -->
<script>
  $(document).ready(function () {
    // Table Batch
    var table = $('#'+'{{table_id}}').DataTable({
      searching: false,
      paging: false,
      info: false,
      order: [[0, 'asc']],
    });
    
    const csrftoken = getCookie("csrftoken");    
  });
</script>

