{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
{% block content %}
<table id="datatable_stock" class="cell-border" style="width: 100%">
  <thead>
    <tr>
      <a id="createStock" class="card-link text-success" style="float: right">Add New
        <i class="bi bi-plus"></i>
      </a>
      {%for th in stock_fields %}
      <th style="width: fit-content; height: fit-content; padding: 0">
        {{th}}
      </th>
      {%endfor%}
      <th>Update</th>
    </tr>
  </thead>

  <tbody hx-target="closest tr" hx-swap="outerHTML">
    {%if object_list%}
    {% for object in object_list %}
    {%include 'dorganism/updateForm/Stock_tr.html'%}
    {%endfor%}
    {%else%}
    <tr>

      {%for th in stock_fields %}
      <td>
        No data
      </td>
      {%endfor%}
      <td>Update</td>
    </tr>
    {%endif%}
  </tbody>
</table>

<div id="createStockModal" class="modal fade" role="dialog"></div>

<script>
  $(document).ready(function () {
    let my_modal = $("#createStockModal");

    $("#createStock").click(function () {
      my_modal.load("{%url 'stock_create'%}", function (response) {
        if (response == "Permission Not Granted") {
          alert("permission!");
        } else {
          my_modal.modal("show"); // Open Modal
        }
      });
    });
  });
</script>

{%endblock%}