<div class="row  row-cols-2 row-cols-lg-3 g-2 g-lg-3 ">
  {%for field in form.visible_fields%}
  <div class="col border border-2 django-form-table">
    <label>{{field.label}}</label>
    <p>{{field | safe}}</p>
    <span class="badge bg-info text-light">{{field.help_text}}</span>
    <span class="badge bg-info text-danger">{{field.errors}}</span>
  </div>
  {%endfor%}
</div>

<script>

  $(document).ready(function () {
    if($('option')){

      $('option').each(function () {
        replace_string = $(this).text().replace("<small class='not-visible'>", " | ").replace("</small>", "")
        $(this).text(replace_string)
      })
    }
      })
  
</script>
