<!-- Start upload datafiles, scanne virus -->
<br>
<div id="fileupload-basic" class="container">
    <!-- <div id="dropzone">
        Drop some directory here.
        <pre id="_log"></pre>
    </div> -->
    <h3>
        <span>
            Files Upload
        </span>
    </h3>
    <section class="row" id="Import_step1">
        <h4 class="title is-2" id="datamodel"> <small> Prcoess Name: </small>{{process_name}}</h4>
        <div class="">

            <form method="POST" enctype="multipart/form-data" class="post-form">
                {% csrf_token %}
                {{form.as_p}}


                <button id="data_upload" type="submit" class="btn btn-outline-success m-2"> Upload Confirm
                </button>
            </form>
        </div>
        <div>
            <div id="output"></div>
        </div>
    </section>
    <!-- The belowing section is for pdf uploading and validation process -->
    <!-- Run check entries in .csv or excel file -->
    <h3>
        <span>
            Data Validate
        </span>
    </h3>
    <section id="Import_step2">
        <h3 class="text-danger">
            {%include 'utils/message.html'%}
        </h3>
        {%if file_list %}
        <div class="card mx-5">
            <div class="card-body">
                <ol class="d-flex flex-wrap justify-content-start align-items-start">
                    {%for f in file_list%}

                    <li class="checkbox-container-export d-inline-block m-1">
                        <label for="" class="text-danger">
                            <input class="filled-in" type="checkbox" value="{{f}}" name="uploadedfiles_select" />
                            {{f}} </label>
                    </li>
                    {%endfor%}
                </ol>
            </div>
        </div>

        <div class="field is-grouped">
            <p class="control text-success">
                Files uploaded successfully, you can:
            <ul>

                <li>
                    Select uploaded files or old files to validate before you import it into DB
                    <button class="button" type="submit" name="RUN" data-type="Validation">Form Validation</button>
                    or
                </li>
                <li id="delete_cancel_task">
                    Select files delete
                    <a class="button" data-type="Delete" href="javascript:void(0);">Delete Files <div class="d-inline">
                        </div> </a>


                </li>
                <li>
                    Then <a onclick="window.location.reload(true);">Refresh Page</a>
                </li>

            </ul>

            </p>
        </div>
        <br><br>
        <div>
            <div class="d-flex justify-content-between">
                <div class="fs-3">Task Status</div>

                <div>

                    <button class="btn btn-sm" type="button" id="report-issues" onclick="downloadFile()">Download
                        Full Report</button>

                    <a class="btn btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Full Report click here
                    </a>

                    <div class="collapse" id="collapseExample">
                        <div class="card card-body" id="tasksreport">

                        </div>
                    </div>
                </div>

            </div>
            <br>

            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>File names</th>
                        <th>Status</th>
                        <th>!!Errors</th>
                        <th>**Warnings</th>
                        <th>!!**Description</th>

                    </tr>
                </thead>
                <tbody id="tasks">
                </tbody>
            </table>
            <hr>


        </div>
        {%else%}

        <h1 class="text-warning"> <strong> No files uploaded, please back to the step 1</strong></h1>
        {%endif %}
    </section>
    {%include 'utils/preloader.html'%}

    <!-- Proceeding Save data -->
    <h3>
        <span>
            Save or Cancel
        </span>
    </h3>
    <section id="Import_step3" class="not-visible">
        <p>

        <div>Next availabe actions:</div>
        <ul>
            <li>
                IF Files contain errors, cannot be saved to DB, please look at the !!*Description find a solution.
                Files contains warning, you can try to save them in DB.
                <button id="confirmButton" class="button btn btn-sm" type="button" data-type="DB_Validation">Save To
                    DB</button>Then
                <a class="button" data-type="Delete" href="javascript:void(0);">Delete Files <div class="d-inline">
                    </div>
                </a>

            </li>

            <li>
                <ol id="mesg_save_Proceed" class="text-success"></ol>
            </li>
        </ul>
        </p>
    </section>
    <hr>
    <h3>
        <span>
            Finished
        </span>
    </h3>
    <section id="Import_step4" class="not-visible">
        <div></div>
        <ul>
            <li>Please Select and
                <button class="button" data-type="Delete" href="javascript:void(0);"> Delete
                    <div class="d-inline"></div>
                </button>nonusable Files
                <button class="btn btn-sm" onclick="window.location.reload(true);">And Click Refresh</button>
            </li>
            
        </ul>
    </section>
</div>
    
    {%load static%}
<script type="text/javascript" src="{% static 'js/importhandler.js' %}"></script>
<script src="{% static 'js/formWizard/jquery.steps.min.js'%}"></script>
<!-- jQuery steps init -->
<script>
    $("#fileupload-basic").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "fade",
        autoFocus: true,
        stepsOrientation: "vertical"
    });
</script>
<script>
    
    function downloadFile() {
        var textToSave = document.getElementById("tasksreport").innerText;
        var hiddenElement = document.createElement('a');
        hiddenElement.href = 'data:attachment/text,' + encodeURI(textToSave);
        hiddenElement.target = '_blank';
        hiddenElement.download = '{{data_model}}-validationreport.txt';
        hiddenElement.click();
    }
</script>
