<!-- Start upload datafiles, scanne virus -->
<div class="container">
    <div id="progressbar" class="d-flex bg-secondary" style="height: 20px;">
        <span class="flex-fill"></span>
        <span class="flex-fill"></span>
        <span class="flex-fill"></span>
    </div>
    <!-- <div id="dropzone">
        Drop some directory here.
        <pre id="_log"></pre>
    </div> -->
    <section class="row border " id="Import_step1">
        <div class="card mt-5 border">
            <form method="POST" enctype="multipart/form-data" class="form-control">
                {% csrf_token %}
                <!--  -->
                <input type="text" value="{{data_model}}" name="file_data">
                {{form.as_p}}


                <button id="data_upload" type="submit" class="btn btn-outline-success m-2"> Upload
                </button>
            </form>
        </div>
        <div>
            <div id="output">files will be uploaded:</div>
        </div>

</div>

</div>
</section>

<!-- Run check entries in .csv or excel file -->
<hr><br>
<section id="Import_step2">
    <h3 class="text-danger">
        {%include 'utils/message.html'%}
    </h3>
    {%if file_pathlist %}
    <div class="card m-5">
        Uploaded Files and your old files listed here:
        <!--  -->
        {% include 'utils/selectAllExp.html'%}

        {%for f in file_pathlist%}
        <li class="checkbox-container-export">
            <input class="filled-in" type="checkbox" value="{{f}}" name="uploadedfiles_select" />
            <label for=""> {{f}} </label>
        </li>
        {%endfor%}

        Uploaded Data Model is:
        <h3 class="title is-2" id="datamodel">{{data_model}}</h3>
    </div>

    <div class="field is-grouped">
        <p class="control">
            Files uploaded successfully, you can:
        <ul>

            <li>
                Select uploaded files or old files to validate before you import it into DB
                <button class="button" type="submit" name="RUN" data-type="Validation">Form Validation</button>
                or
            </li>
            <li id="delete_cancel_task">
                Select files delete
                <a class="button" data-type="Cancel" href="javascript:void(0);">Delete Files</a>
                Then <a href="{% url 'import-VITEK'%}">Refresh Page</a>

            </li>

        </ul>

        </p>
    </div>
    <br><br>
    <div>
        <h2 class="title is-2">Task Status</h2>
        <br>

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>File names</th>
                    <th>Status</th>
                    <th>!!Errors</th>
                    <th>**Warnings</th>
                    <th>!!**Description</th>

                </tr>
            </thead>
            <tbody id="tasks">
            </tbody>
        </table>
        <hr>
        <div>
            <button class="btn btn-sm" type="button" id="report-issues" onclick="downloadFile()">Download
                Full Report</button>

            <a class="btn btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Full Report click here
            </a>
        </div>

        <div class="collapse" id="collapseExample">
            <div class="card card-body" id="tasksreport">

            </div>
        </div>

    </div>
    {%endif %}
</section>
{%include 'utils/preloader.html'%}

<!-- Proceeding Save data -->
<section id="Import_step3" class="not-visible">
    <p>

    <div>Next availabe actions:</div>
    <ul>
        <li>
            IF Files contain errors, cannot be saved to DB, please look at the !!*Description find a solution.
            Files contains warning, you can try to save them in DB.
            <button class="confirmButton btn btn-sm" type="button" data-type="DB_Validation">Save To DB</button>
        </li>

        <li>
            <a class="btn btn-sm" type="button" href="#delete_cancel_task"> OR Back to delete/cancel</a>
        </li>
    </ul>
    </p>
</section>
<hr>
<section id="Import_step4" class="not-visible">
    <h4 id="mesg_save_Proceed" class="bg-danger"></h4>
    <div></div>
    <ul>
        <li>
            <a class="button" data-type="Cancel" href="javascript:void(0);">Please Select and Delete nonusable Files</a>
            <a class="btn btn-sm" href="{%url 'import-VITEK'%}">And Click Refresh</a>
        </li>

    </ul>
</section>

{%load static%}
<script type="text/javascript" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js_utils/getCookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/importhandler.js' %}"></script>

<script>

    function downloadFile() {
        var textToSave = document.getElementById("upload_report").innerText;
        var hiddenElement = document.createElement('a');
        hiddenElement.href = 'data:attachment/text,' + encodeURI(textToSave);
        hiddenElement.target = '_blank';
        hiddenElement.download = '{{data_model}}-validationreport.txt';
        hiddenElement.click();
    }
</script>

<!-- <script>
    /* constructs a simple directory view from a filesystem */
    async function makedir(entries) {

        const systems = entries.map(entry => traverse(entry, {}));
        return Promise.all(systems);

        async function traverse(entry, fs) {
            if (entry.isDirectory) {
                fs[entry.name] = {};
                let dirReader = entry.createReader();
                await new Promise((res, rej) => {
                    dirReader.readEntries(async entries => {
                        for (let e of entries) {
                            await traverse(e, fs[entry.name]);
                        }
                        res();
                    }, rej);
                });
            } else if (entry.isFile) {
                await new Promise((res, rej) => {
                    entry.file(file => {
                        fs[entry.name] = file;
                        res();
                    }, rej);
                });
            }
            return fs;
        }
    }

    function readDropped(dT) {
        const entries = [...dT.items].map(item => {
            return item.webkitGetAsEntry ? item.webkitGetAsEntry() : null;
        })
            .filter(entry => entry);
        if (entries.length) {
            makedir(entries)
                .then(output)
                .catch(handleSecurityLimitation);
        } else notadir();

    }

    function notadir() {
        _log.textContent = "wasn't a directory, or webkitdirectory is not supported";
    }

    dropzone.ondragover = e => {
        e.preventDefault();
        dropzone.classList.add('over');
    }
    dropzone.ondragexit = dropzone.ondragend = e => dropzone.classList.remove('over');
    dropzone.ondrop = e => {
        e.preventDefault();
        dropzone.classList.remove('over');
        readDropped(e.dataTransfer);
    }

    function output(system_trees) {
        console.log(system_trees);
        _log.textContent = JSON.stringify(system_trees, checkFile, 2);

        function checkFile(key, value) {
            if (value instanceof File) {
                return '{[File] ' + value.name + ', ' + value.size + 'b}';
            } else return value;
        }
    }
</script> -->