<!-- Start upload datafiles, scanne virus -->
<br />
<div id="fileupload-basic" class="container">

  <p>{{excel_upload_info}}</p>
  <section class="row" id="Import_step1">
    <h4 class="title is-2" id="datamodel">
      <small> Prcoess Name: </small>{{process_name}}
    </h4>
    <div class="">
      <form method="POST" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
        <!--  -->
        {% for field in form %}
        {{field}}
        {%endfor%}
        <button
          id="data_upload"
          type="submit"
          class="btn btn-outline-success m-2"
        >
          Upload Confirm
        </button>
      </form>
    </div>
    <div>
      <div style="height: fit-content; overflow: auto;">
        {{table | safe}}
      </div>
      <div id="output">{{excel_upload_info}}</div>
    </div>
  </section>
  <!-- The belowing section is for pdf uploading and validation process -->
  <!-- Run check entries in .csv or excel file -->
</div>
