<!-- Start upload datafiles, scanne virus -->
<div class="container">
    <div id="progressbar" class="d-flex bg-secondary" style="height: 20px;">
        <span class="flex-fill"></span>
        <span class="flex-fill"></span>
        <span class="flex-fill"></span>
    </div>
    <!-- <div id="dropzone">
        Drop some directory here.
        <pre id="_log"></pre>
    </div> -->
    <section class="row border " id="Import_step1">
        <h4 class="title is-2" id="datamodel"> <small> Prcoess Name: </small>{{data_model}} PDF</h4>
        <div class="card border">

            <form method="POST" enctype="multipart/form-data" class="form-control">
                {% csrf_token %}
                <!--  -->
                <input type="text" value="{{data_model}}" name="file_data">
                {{form.as_p}}


                <button id="data_upload" type="submit" class="btn btn-outline-success m-2"> Upload
                </button>
            </form>
        </div>
        <div>
            <div id="output"></div>
        </div>

    </section>

    <!-- Run check entries in .csv or excel file -->
    <section id="Import_step2">
        <h3 class="text-danger">
            {%include 'utils/message.html'%}
        </h3>
        {%if file_pathlist %}
        <div class="card mx-5">
            <div class="card-body">
                <!-- <div class="card-title text-center">Uploaded Files and your old files listed here </div> -->
                <!--  -->
                <ol class="d-flex flex-wrap justify-content-start align-items-start">
                    {%for f in file_pathlist%}

                    <li class="checkbox-container-export d-inline-block m-1">
                        <label for="">
                            <input class="filled-in" type="radio" value="{{f}}" name="uploadedfiles_select" />
                            {{f}} </label>
                    </li>
                    {%endfor%}
                </ol>
            </div>
        </div>

        <div class="field is-grouped">
            <p class="control text-success">
                Files uploaded successfully, you can:
            <ul>

                <li>
                    Select uploaded files or old files to validate before you import it into DB
                    <button class="button" type="submit" name="RUN" data-type="Validation">Form Validation</button>
                    or
                </li>
                <li id="delete_cancel_task">
                    Select files delete
                    <a class="button" data-type="Delete" href="javascript:void(0);">Delete Files <div class="d-inline">
                        </div> </a>


                </li>
                <li>
                    Then <a href="{% url 'import-VITEK'%}">Refresh Page</a>
                </li>

            </ul>

            </p>
        </div>
        <br><br>
        <div>
            <div class="d-flex justify-content-between">
                <div class="fs-3">Task Status</div>

                <div>

                    <button class="btn btn-sm" type="button" id="report-issues" onclick="downloadFile()">Download
                        Full Report</button>

                    <a class="btn btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Full Report click here
                    </a>

                    <div class="collapse" id="collapseExample">
                        <div class="card card-body" id="tasksreport">

                        </div>
                    </div>
                </div>

            </div>
            <br>

            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>File names</th>
                        <th>Status</th>
                        <th>!!Errors</th>
                        <th>**Warnings</th>
                        <th>!!**Description</th>

                    </tr>
                </thead>
                <tbody id="tasks">
                </tbody>
            </table>
            <hr>


        </div>
        {%endif %}
    </section>
    {%include 'utils/preloader.html'%}

    <!-- Proceeding Save data -->
    <section id="Import_step3" class="not-visible">
        <p>

        <div>Next availabe actions:</div>
        <ul>
            <li>
                IF Files contain errors, cannot be saved to DB, please look at the !!*Description find a solution.
                Files contains warning, you can try to save them in DB.
                <button id="confirmButton" class="button btn btn-sm" type="button" data-type="DB_Validation">Save To
                    DB</button>Then
                <a class="button" data-type="Delete" href="javascript:void(0);">Delete Files <div class="d-inline">
                    </div>
                </a>

            </li>

            <li>
                <ol id="mesg_save_Proceed" class="text-success"></ol>
            </li>
        </ul>
        </p>
    </section>
    <hr>
    <section id="Import_step4" class="not-visible">
        <div></div>
        <ul>
            <li>
                <a class="button" data-type="Delete" href="javascript:void(0);">Please Select and Delete nonusable Files
                    <div class="d-inline"></div>
                </a>
                <a class="btn btn-sm" href="{%url 'import-VITEK'%}">And Click Refresh</a>
            </li>

        </ul>
    </section>
</div>

{%load static%}
<script type="text/javascript" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js_utils/getCookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/importhandler.js' %}"></script>

<script>

    function downloadFile() {
        var textToSave = document.getElementById("tasksreport").innerText;
        var hiddenElement = document.createElement('a');
        hiddenElement.href = 'data:attachment/text,' + encodeURI(textToSave);
        hiddenElement.target = '_blank';
        hiddenElement.download = '{{data_model}}-validationreport.txt';
        hiddenElement.click();
    }
</script>