
<!-- Start upload datafiles, scanne virus -->
<div class="container">
    <div id="progressbar" class="d-flex bg-secondary" style="height: 20px;">
    <span class="flex-fill"></span>
    <span class="flex-fill"></span>
    <span class="flex-fill"></span>
    </div>
    <section class="row border " id="Import_step1">
        <div class="card mt-5 border">
            <form method="POST" enctype="multipart/form-data" class="form-control">
                {% csrf_token %}
                <!--  -->
                <input type="text" value="{{data_model}}" name="file_data">
                {{form.as_p}}
                
                    
                        <button id="data_upload" type="submit" class="btn btn-outline-success m-2"> Upload
                        </button>
                    </div>
                </div>
            </form>
   
        </div>
    </section>

    <!-- Run check entries in .csv or excel file -->
    <hr><br>
    <section id="Import_step2">
        <h3 class="text-danger">
            {%include 'utils/message.html'%}
        </h3>
        {%if file_pathlist %}
        <div>
            Uploaded File stored in 
            <!--  -->
            {% include 'utils/selectAllExp.html'%}
            
                {%for f in file_pathlist%}
                <li class="checkbox-container-export">
              <input class="filled-in" type="checkbox" value="{{f}}" name="uploadedfiles_select" />
              <label for=""> {{f}} </label>
            </li>
                {%endfor%}
            
            
            Uploaded Data Model is:
            <h3 class="title is-2" id="datamodel">{{data_model}}</h3>
        </div>
      
        <div class="field is-grouped">
            <p class="control">
                Files uploaded successfully, you can:
            <ul>

                <li>
                    Select files and validate form before you import it into DB
                    <button class="button" type="submit" name="RUN" data-type="Validation">Form Validation</button>
                    or
                </li>
                <li id="delete_cancel_task">
                    Select files delete 
                    <a class="button" data-type="Cancel" href="javascript:void(0);">Delete Files</a>
                    Then <a href="{% url 'import-VITEK'%}">Refresh Page</a>
                    <!-- <button class="button" data-type="Cancel" >Cancel Task</button> -->
                </li>

            </ul>

            </p>
        </div>
        <br><br>
        <div>
            <h2 class="title is-2">Task Status</h2>
            <br>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Data Table</th>
                        <th>Status</th>
                        <th>Result</th>
                        <!-- <th> others...</th> -->
                    </tr>
                </thead>
                <tbody id="tasks">
                </tbody>
            </table>
        </div>
        {%endif %}
    </section>
    {%include 'utils/preloader.html'%}

    <!-- Proceeding Save data -->
    <section id="Import_step3" class="not-visible">
        <p>

        <div>Next availabe actions:</div>
        <ul>
            <li>
                IF Files contain validation==True, you can try to save them in DB
                <button class="confirmButton btn btn-sm" type="button" data-type="DB_Validation">Save To DB</button>
            </li>
          
            <li>
                <a class="btn btn-sm" type="button" href="#delete_cancel_task"> OR Back to delete/cancel</a>
            </li>
        </ul>
    </p>
</section>
<hr>
<section id="Import_step4" class="not-visible">
    <h4 id="mesg_save_Proceed" class="bg-danger"></h4>
      <div></div>
        <ul>
            <li>
                <a class="btn btn-sm" href="{%url 'import-VITEK'%}">OK (refresh Page)</a>
            </li>
          
        </ul>
</section>

{%load static%}
<script
  type="text/javascript"
  src="{% static 'js/jquery-3.6.1.min.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/js_utils/getCookie.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/importhandler.js' %}"
></script>


