{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
<!--prettier-ignore-->
{% block content%}
<div class="d-flex justify-content-center" style="margin-top: 200px;">

    <iframe id="ifKetcher" src="{% url 'ketcher' %}" width="800" height="600"></iframe>
</div>

<script>
    var ketcherFrame = document.getElementById('ifKetcher');
    var ketcher = null;

    if ('contentDocument' in ketcherFrame) {
        console.log(ketcherFrame.contentWindow)
        console.log(ketcherFrame.contentWindow)

        ketcher = ketcherFrame.contentWindow.ketcher;
        console.log("content");
        console.log(ketcher)
        ketcher.setMolecule('c1ccccc1');
    }
    else // IE7
    {
        ketcher = document.frames['ifKetcher'].window.ketcher;
        console.log(ketcher)
    }

</script>
{%endblock%}