<div class="leftbar d-flex flex-column p-0 bg-light" style="width: 2em;">
  {% if title == "Organism" or title == "Drug" or title == "Gene" or title == "Taxonomy" %}
    <div class="d-flex flex-column p-0">
    
      <!-- Update Object-->
      {% include 'utils/miscellaneous/update_btn.html' with model_name=model_name%}
    </div>
    <div class="d-flex flex-column p-0">
      {% if title == "Organism" %}
      <!-- Update Object-->
        {% include 'dorganism/organism/organism_d.html' %}
      {% endif %}
    </div>

    
  
  {%elif title == 'Antibiogram'%}
  <div class="d-flex flex-column p-0">z
    <a
  
    data-name="general"
    class="btn-sm"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    title="Placeholder"
    ><i class="bi bi-file-earmark-plus text-secondary"></i>
  </a>
   
  </div>
    <!--  -->
  {% else %}
    <div class="d-flex flex-column p-0">
        <!-- Update Object-->
        {% include 'utils/modal/create_modal.html' with create_object=title create_objectModal=modal model_name=model_name %}
    </div>
 
  {% endif %}
</div>
