<div class="leftbar d-flex flex-column p-0 mb-3 h-25">
  <div class="d-flex flex-column p-0">
    <a class="btn-sm" id="hidefilter" data-bs-toggle="tooltip" data-bs-placement="right" title="C/O FilterSwitcher">
      <i class="bi bi-funnel fs-5"></i>
    </a>
  </div>
  <div class="d-flex flex-column p-0">

    <a href="{% if list_url%} {% url list_url %} {%else%} # {% endif %}" class="{%if list_url %}btn btn-sm {%else%} btn btn-sm disabled {%endif%}" data-bs-toggle="tooltip" data-bs-placement="right"
      title="Table View"><i class="{%if list_url %} fa-solid fa-table-list fs-5 {%else%} fa-solid fa-table-list fs-5 text-muted{%endif%}"></i></a>
    
 
    <a href="{% if card_url%} {% url card_url %} {%else%} # {% endif %}" class=" {%if card_url %}btn btn-sm {%else%} btn btn-sm disabled {%endif%}" data-bs-toggle="tooltip" data-bs-placement="right"
    title="Card View"><i class="{%if card_url %} fa-solid fa-grip fs-5  {%else%} fa-solid fa-grip fs-5 text-muted{%endif%}"></i></a>
    
   
    <a class="{% if url_pivotedtable%} btn-sm btn-outline-success {%else%} btn btn-sm disabled {%endif%}" data-bs-toggle="tooltip" data-bs-placement="right"
      title="Pivot Table View" href="{{url_pivotedtable}}" target="_blank"><i class="bi bi-file-ppt fs-5"></i>
  </a>
  </div>
  
  <!-- Create New Entry Modal-->
  <div class="d-flex flex-column p-0">
    <!-- prettier-ignore -->
    {% include 'utils/miscellaneous/create_a.html' with create_object=create_object create_objectModal=create_objectModal model_name=model_name %}
  </div>
</div>


{% load static %}
<script src="{%static 'js/js_utils/saveData.js'%}"></script>

<!-- <script>

  function pivot_create() {
    if($("#show_datatable").hasClass("not-visible")){
      $("#show_datatable").removeClass("not-visible")
    }else{
      $("#show_datatable").addClass("not-visible")
    }
    $('input[data-name="pivot"]').val('True')
    $('#django-filter-siderbar').submit()

  }
</script> -->
<script>
  $(document).ready(function () {
    const csrftoken = getCookie("csrftoken");
    

    $(".data_export").on("click", function () {
      // select wanted data to export
      var selected_data = [];

      $("input:checkbox[name=type]:checked").each(function () {
        selected_data.push($(this).val().toString());
      });

      // select wanted model fields
      var selected_fields = [];
      $("input:checkbox[name=model_field_select]:checked").each(function () {
        selected_fields.push($(this).val().toString());
      });
      console.log(selected_fields);
      // export model
      var model_name = $(".checkbox-container-export").data("type");
      console.log(selected_data);
      $.ajax({
        url: "/exportData/",
        type: "POST",
        headers: { "X-CSRFToken": csrftoken },
        data: {
          data_arr: selected_data,
          fields: selected_fields,
          model_name: model_name,
        },
      })
        .done((response) => {
          saveData(response, "mycsv.csv");
        })
        .fail(() => {
          console.log("Error occured");
        });
    });
  });
</script>