<div class="leftbar d-flex flex-column p-0 bg-light">
  {% if title == "Organism" or title == "Drug" %}
  <div class="d-flex flex-column p-0">
   
    <!-- Update Object-->
    {%include 'utils/miscellaneous/update_btn.html' with model_name=model_name%}
  </div>
  <div class="d-flex flex-column p-0">
     {%if title == "Organism"%}
  <!-- Update Object-->
  {%url 'organism_delete' pk=object.pk as urlname%}
  <!--prettier-ignore-->
  {%include 'utils/miscellaneous/delete_btn.html' with modal_name='delorg_modal_'|add:object.pk trigger='delorg_'|add:object.pk urlname=urlname%}
     {%endif%}
  </div>
 
  <!--  -->
  {%else%}

  <div class="d-flex flex-column p-0">

      <!-- Update Object-->
       {%include 'utils/miscellaneous/create_a.html' with create_object=title create_objectModal=modal model_name=model_name%}
 
  </div>
 
{%endif%}
</div>


