{% include 'utils/message.html' %}
<!-- Table Title -->
<h2 class="accordion-header" id="headingOne">
  <button class="collapsed accordion-button" style="max-height: fit-content" type="button" data-bs-toggle="collapse"
    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    <h2 class="fs-5">
      <b>{{title}}</b>
    </h2>
  </button>
</h2>
<div class="d-flex flex-wrap justify-content-between m-2 p-0 align-items-baseline">
  <!-- <div class="d-flex align-items-baseline"> -->
  {% include 'utils/pagination.html'%}
  <!--  -->
  {% include 'utils/miscellaneous/selectAllExp.html' %}

  {%include 'utils/data_download_form.html'%}

</div>

