<div class="msgBox">
  <ul class="card text-success m-5">
    <li>
      <strong>improve UI</strong>
    </li>
    <li>
      <strong>fix multiplechoice issue</strong>
    </li>
    <li>
      <strong>Update Drug Card View add Update View</strong>
      <ol>
        <li>Add Structure Editor</li>
        <li>Update Drug SMOL field by Input Smiles getting from the Editor</li>
      </ol>
    </li>
    <li>
      <strong>upload files for Vitek</strong>
    </li>
    <li>
      <strong>Pivotetable for Vitekcard</strong>
    </li>

    <li>Organism Filter view Class by "GP", "GN", "FG", ""MB</li>
    <li>Dispay VITEK views</li>
    <li>Dictionary list view</li>
    <li>all list view y-scrollbar with fixed table header</li>
    <li></li>
  </ul>
</div>