<label for="">Strain Type</label>
<div class="dropdown">
    <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
        data-bs-toggle="dropdown" aria-expanded="false">
        Select Strain Type
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

        <select class="form-select" multiple aria-label="multiple select example " name="Strain_Type" id="straintype">
            <!-- <option selected>Open this select menu</option> -->
            {% for obj in Strain_Type %}
            <option value="{{obj}}">{{obj}}</option>
            {%endfor%}
        </select>
    </div>
</div>