<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <div class="brand d-flex flex-column align-items-center">
      <a class="navbar-brand" href="{%url 'index'%}">
        {%load static%}
        <img class="d-inline-block align-text-top"
          src="{% static '/images/brand/CO-ADD_Logo_White_NoBackground_CMYK.png'%}" alt="CoADD Logo" />
      </a>

      <a class="nav-link version" href="https://co-add.github.io/README/html/index.html" data-bs-toggle="tooltip"
        data-bs-placement="bottom" title="info README
        ">
        VERSION 0.6
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {% if user.is_authenticated %}
    <div class="nav-item d-flex">


      <a class="nav-link" href="{%url 'index'%}">
        <p class="nav-title"><i class="fa-solid fa-house"></i></p>
      </a>


      <div class="dropdown d-inline-block">
        <a type="button" class="nav-link active" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <p class="d-xl-inline-block nav-title">VIEWS</p>
          <i class="fa-solid fa-chevron-down nav-title"></i>
        </a>
        <ul class="dropdown-menu">
          <!-- item-->
          <li>
            <a class="dropdown-item" href="{%url 'org_card'%}">
              <p>Organism</p>
            </a>
          </li>
          <li>

            <a class="dropdown-item" href="{%url 'taxo_card'%}">
              <p>Taxonomy</p>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="{%url 'batch_card'%}">
              <p>Batch</p>
            </a>
          </li>
          <li>

            <div class="dropdown-divider"></div>
          </li>
          <li>

            <a class="dropdown-item" href="{%url 'drug_card'%}">
              <p>Drug</p>
            </a>
          </li>
          <li>

            <a class="dropdown-item" href="{%url 'vitekcard_list'%}">
              <p>Vitek Card</p>
            </a>
          </li>
          <li>

            <a class="dropdown-item" href="{%url 'vitekast_list'%}">
              <p>Vitek Ast</p>
            </a>
          </li>
        </ul>
      </div>
      <div>

        <a class="nav-link" href="{%url 'ketcher_test' %}">
          <p class="nav-title">Ketcher Test Page</p>
        </a>
      </div>
    </div>
    {%endif%}
    <!-- </li>
      </ul>
    </div> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto fs-5">
        <li class="nav-item d-flex">
          {% if user.is_authenticated %}
          <div class="dropdown d-inline-block">
            <a class="nav-link active" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="rounded-circle header-profile-user" src="{%static 'images/app/avatar.png'%}" alt="Avatar" />
              <p class="d-xl-inline-block nav-title">{{user.username}}</p>
              <i class="fa-solid fa-chevron-down nav-title"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="#">
                <p key="t-profile">
                  Profile {% if user.permission == 'Admin'%}
                  <span class="text-info"> Admin </span>
                  <!-- <a href="{%url 'testsite'%}">testsite</a> -->
                  {%endif%}
                  <!--  -->
                  {% if user.permissin == 'Read'%}
                  <span class="text-info"> Guest</span>
                  {%endif%}
                  <!--  -->
                  {% if user.permissin == 'Write'%}
                  <span class="text-info"> User</span>
                  {%endif%}
                </p>
              </a>
              <a class="dropdown-item" href="#">
                <input class="form-check-input" type="checkbox" id="dark-mode" />
                <label class="form-check-label" for="flexSwitchCheckChecked">
                  <p>Switch to Dark</p>
                </label>
              </a>

              <div class="dropdown-divider"></div>
              {%if user.is_superuser %}

              <a class="dropdown-item" href="{%url 'userslist' %}">
                <p>Users List</p>
              </a>
              <a class="dropdown-item" href="{%url 'dict_view'%}">
                <p>DICTIONARY</p>
              </a>
              {%endif%}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="{%url 'logout'%}">
                <p key="t-logout">Logout</p>
              </a>
            </div>


          </div>

          {%endif%}
        </li>
      </ul>
    </div>
  </div>
</nav>



<script>
  var darkMode_screen = localStorage.getItem("darkMode");
  var darkModeToggle = document.querySelector("#dark-mode");

  // check if dark mode enabled
  // if off turn on
  // if on turn off

  function enabledarkMode() {
    // darkModeToggle.checked = true;
    document.body.classList.add("darkMode");
    const elements = document.querySelectorAll('table');
    elements.forEach((element) => {
      element.classList.add('table-dark');
    });

    localStorage.setItem("darkMode", "enabled");
  }
  function disabledarkMode() {
    document.body.classList.remove("darkMode");
    const elements = document.querySelectorAll('table');
    elements.forEach((element) => {
      element.classList.remove('table-dark');
    });


    localStorage.setItem("darkMode", null);
  }

  if (darkMode_screen === "enabled") {
    darkModeToggle.checked = true;
    enabledarkMode();
  }

  darkModeToggle.addEventListener("click", (e) => {
    darkMode_screen = localStorage.getItem("darkMode");
    if (darkMode_screen !== "enabled") {
      enabledarkMode();
      e.target.checked = true;
      console.log(e.target.checked);
    } else {
      console.log(e.target.checked);
      disabledarkMode();
      e.target.checked = false;
    }
  });
</script>