{% load myapp_extras %}
<!--prettier-ignore-->
<div>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}">previous</a>
            {%else%}
            <span>Previous</span>
            {% endif %}

            {% if page_obj.number > 3 %}
            <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; 1</a>
            {% if page_obj.number > 4 %}
            <span>...</span>
            {% endif %}
            {%endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <a href="{% my_url num 'page' request.GET.urlencode %}" class="">
                {{num}}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a
                href="{% my_url num 'page' request.GET.urlencode %}" class="">
                {{num}}</a>
                {%endif%}
                {%endfor%}
                <!--prettier-ignore-->

                {% if page_obj.has_next %}
                <a href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">Next Page &raquo;</a>
                {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %} <span>...</span>
        <a href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}"> {{
            page_obj.paginator.num_pages }}
        </a>
        {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %} <a
            href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}"
            class="btn btn-sm  btn-outline-btn-outline-secondary"> {{ page_obj.paginator.num_pages }}
            </a>
            {%endif%}
            {% endif %}
            <!--prettier-ignore-->
            </span>
    </div>
    <hr>
    <form method="GET">
        <select name="paginate_by" id="">
            <option value="" selected>{{paginate_by}}</option>
            <option value="5">5</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
        </select>
        <input type="submit" value="Paginate">
    </form>
</div>