{% load custom_filters %}
<th scope="row" class="movable">{{form_label}}</th>
<td class="editable" data-id="{{object.pk}}" data-type="">
  {% if field.name|get_linkname %}
  <a class="d-inline" href="{{field.name|get_linkname}}{{field.initial}}" target="_blank">
    <div class="detail object_value" data-type="{{field.label | safe}}">
      {%if field.initial %}
      {{field.initial}}
      {%endif%}
    </div>
  </a>
  {%else%}
  <div class="detail object_value" data-type="{{field.label | safe}}">
    {%if field.initial %}
    {{field.initial}}
    {%endif%}
  </div>
  {% endif %}
  <div class="select input_form" data-type="{{field.label}}">
    {{form_field}} <br />
    {{form_field.errors}}
  </div>
</td>

<script>
  $(document).ready(function () {
   
    $(".object_value").each(function () {
      var text = $(this).text();
      text = text.replace(/\[|\]/g, "");
      text = text.replace(/'/g, "");
      $(this).text(text);
    });
  });
</script>
