<!-- ================================================================================== -->
<div class="my-0">
  <form id="id_search-form" autocomplete="off">
    {% csrf_token %}
    <label
      for="search_input"
      class="col-sm-5 col-form-label"
      style="font-size: x-small; font-weight: bold"
      >Micro Organism</label
    >
    <input
      type="text"
      id="search-id-input"
      placeholder="search Micro-organism"
      class="form-control"
    />
  </form>
  <div id="id_results-box" class="results-card"></div>
</div>

{%load static%}
<script src="{%static 'js/search_organism_id.js'%}"></script>
