<!-- ================================================================================== -->
<div class="my-0">
  <form id="search-form" autocomplete="off">
    {% csrf_token %}
    <label
      for="search_input"
      class="col-sm-5 col-form-label"
      style="font-size: x-small; font-weight: bold"
      >Organism Name | Class Name</label
    >
    {% if form.organism_name.initial%}
    <input
      type="text"
      id="search-input"
      placeholder="search Toxonomy"
      class="form-control"
      value="{{form.organism_name.initial}}"
    />
    {%else%}
    <input
      type="text"
      id="search-input"
      placeholder="Please search and select a Taxonomy firstly"
      class="form-control"
      required
    />
    {%endif%}
  </form>
  <div id="results-box" class="results-card"></div>
</div>

{%load static%}
<script src="{%static 'js/search_organism.js'%}"></script>

<!-- validate organism name input -->
<script>
  $(document).ready(function () {
    $('button[type="submit"]').click(function (e) {
      if ($("#taxo-name").length) {
        var searchName = $("#taxo-name").val(); //
        if (searchName == "") {
          e.preventDefault(); // prevent form submission
          $("#search-input").focus();
        }
      }
    });
  });
</script>
