<div class="sidebar text-secondary" style="overflow: scroll">
    <form id="django-filter-siderbar" method="get" class="form-group mx-5">
        <div class="d-flex justify-content-evenly">

            <input id="filter-apply" class="form-control-sm btn-outline-secondary my-2" type="submit" value="Apply" />

            <button class="form-control-sm btn-outline-danger my-2" type="reset" onclick="myfun()">Reset</button>
        </div>
        <hr>
        <div class="d-flex">
            <span>show</span>
            <span>

                <select class="border" style="width: fit-content;" name="paginate_by" id="pages_set"
                    onchange="changeFunc();">
                    <option value=50> {{paginate_by}}</option>
                    <option value=25>25 </option>
                    <option value=50>50 </option>
                    <option value=100>100 </option>
                    <option value=200>200 </option>
                </select>
            </span>
            <span>

                entries on one Page
            </span>
        </div>
        <input id="order_input" type="text" name="order_by" class="not-visible">
        <hr>
        {{filter.form.as_p}}
    </form>
    <!-- </form> -->

</div>
<div class="resizer">-</div>
{%load static%}
<script src="{%static 'js/resizebar.js'%}"></script>
<script>
    function myfun() {

        console.log("button clicked")
        form = document.getElementById("django-filter-siderbar")
        form.querySelectorAll('p input').forEach(item => item.removeAttribute("value"))
        form.querySelectorAll('p select option').forEach(item => item.removeAttribute("selected"))
        form.submit();
    }
</script>

<script>
    $(document).ready(function () {
        console.log("working...")
        $("label[for='id_Class_0']").addClass('not-visible');//for radio type select value == "----------""
        $("#filter-apply").on("click", function () {
            console.log("working...")
            var value = $("form").cleaned_data;
            console.log(value)
            document.cookie = "filter=" + value;

        })
    })
</script>