<div id="sidebar" class="text-secondary" style="overflow: scroll">
    <hr />
    <h4 id="item-1">Search</h4>
    <form id="django-filter-siderbar" method="get" class="form-group mx-5">
        {{filter.form.as_p}}
        <input class="form-control-sm btn-outline-secondary my-2" type="submit" value="Apply" />

        <button class="form-control-sm" type="reset" onclick="myfun()">Reset</button>
    </form>


</div>
<div id="resizer"></div>
{%load static%}
<script src="{%static 'js/resizebar.js'%}"></script>

<script>
    function myfun() {

        console.log("button clicked")
        form = document.getElementById("django-filter-siderbar")
        // input_arr.forEach(item => { item.value = null; console.log("clear") })
        // form_input = form.querySelectorAll('p input')
        form.querySelectorAll('p input').forEach(item => item.removeAttribute("value"))
        form.querySelectorAll('p select option').forEach(item => item.removeAttribute("selected"))
        //   this.parentElement.submit();
        form.submit();
    }
</script>