<div class="d-flex bg-dark justify-content-between mb-0">
  <button id="hidefilter" title="hidefilter">
    <i class="bi bi-funnel"></i></i>
  </button>
  <div>
    <button class="btn btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
      aria-controls="offcanvasRight">
      <i class="fas fa-cog fa-spin"></i>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"
      data-bs-backdrop="false" style="width: 200px; margin-top: 8%">
      <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa fa-file-export">Export</i>
          </button>
          <ul class="dropdown-menu">
            <!--  -->

            {%for field in model_fields%}
            <li>
              <input class="filled-in" type="checkbox" value="{{field}}" name="model_field_select" />
              <label for=""> {{field}} </label>
            </li>
            {%endfor%}
            <button class="Download">Click Download</button>
          </ul>
        </div>

        <a class="btn btn-sm m-3 bg-warning" href="{{import_module}}" data-bs-toggle="tooltip" data-bs-placement="top"
          title="Import Data"><i class="fa fa-file-import">To Import {{import_module}}</i>
        </a>
        <a class="btn btn-sm m-3" href="{%url 'batch_card'%}" data-bs-toggle="tooltip" data-bs-placement="top" title="">
          ORGANISM Batch
        </a>
        <a class="btn btn-sm disabled m-3" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh">
          <i class="fa-solid fa-arrows-rotate"></i>
        </a>
      </div>
    </div>
  </div>
</div>

{%load static %}
<script src="{%static 'js/jquery-3.6.1.min.js'%}"></script>
<script src="{%static 'js/js_utils/getCookie.js'%}"></script>

<script>
  // $(document).ready(function () {
  //   $("input:checkbox[name=selectAll]").change(function () {
  //     $(".checkbox-container-export input").prop("checked", this.checked);
  //     console.log("checked all");
  //   });
  // });
</script>
<script>
  $(document).ready(function () {
    const csrftoken = getCookie("csrftoken");

    $(".Download").on("click", function () {
      // select wanted data to export
      var selected_data = [];

      $("input:checkbox[name=type]:checked").each(function () {
        selected_data.push($(this).val().toString());
      });

      // select wanted model fields
      var selected_fields = [];
      $("input:checkbox[name=model_field_select]:checked").each(function () {
        selected_fields.push($(this).val().toString());
      });
      console.log(selected_fields);
      // export model
      var model_name = $(".checkbox-container-export").data("type");
      console.log(selected_data);
      $.ajax({
        url: "/exportData/",
        type: "POST",
        headers: { "X-CSRFToken": csrftoken },
        data: {
          data_arr: selected_data,
          fields: selected_fields,
          model_name: model_name,
        },
      })
        .done((response) => {
          console.log(response);
          // window.location.reload()
          saveData(response, "mycsv.csv");
        })
        .fail(() => {
          console.log("Error occured");
        });
    });
  });

  const saveData = (function () {
    const a = document.createElement("a");
    document.body.appendChild(a);
    a.style = "display: none";
    return function (data, fileName) {
      const blob = new Blob([data], { type: "octet/stream" }),
        url = window.URL.createObjectURL(blob);
      a.href = url;
      a.download = fileName;
      a.click();
      window.URL.revokeObjectURL(url);
    };
  })();
</script>