{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%}COADD{% endblock %}
{% block content %}
<h1>My Wizard</h1>
      <!-- Step line container -->
<div class="d-flex vh-100">
      <div class="step-line m-3 h-25">
        <div class="step {% if wizard.steps.current == 'upload_file' %}active{% endif %}">Upload File</div>
        <div class="step {% if wizard.steps.current == 'check_validation' %}active{% endif %}">Check Validation</div>
        <div class="step {% if wizard.steps.current == 'confirm_validation' %}active{% endif %}">Confirm Validation</div>
        <div class="step {% if wizard.steps.current == 'finalize' %}active{% endif %}">Finalize</div>
    </div>
    <form method="post" enctype="multipart/form-data" class="border w-75 h-75">
        {% csrf_token %}
        {{ wizard.management_form }}
        
        {% if wizard.steps.current == 'upload_file' %}
            <h2>Upload File</h2>
            {{ wizard.form.as_p }}
        {% elif wizard.steps.current == 'check_validation' %}
            <h2>Check Validation</h2>
            {{ wizard.form.as_p }}
        {% elif wizard.steps.current == 'confirm_validation' %}
            <h2>Confirm Validation</h2>
            {{ wizard.form.as_p }}
        {% elif wizard.steps.current == 'finalize' %}
            <h2>Finalize</h2>
            {{ wizard.form.as_p }}
        {% endif %}
        
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">previous</button>
        {% endif %}
        <div class="m-5 mb-0">
        <input type="submit" value="next" >
        <div>
    </form>
</div>

    {% endblock %}