
<!-- Step line container -->
<div class="d-flex vh-100 m-auto w-50">
    <div class="step-line m-3 h-25">
        <h5 class="m-auto badge bg-info">Import Data {{data_model}}</h5>
        <div class="step {% if wizard.steps.current == 'upload_file' %}active{% endif %}">Upload File</div>
        <div class="step {% if wizard.steps.current == 'step1' %}active{% endif %}">{{step1}}</div>
        <div class="step {% if wizard.steps.current == 'step2' %}active{% endif %}">{{step2}}</div>
        <!-- add more steps here-->
        <!-- <div ... -->
        <div class="step {% if wizard.steps.current == 'finalize' %}active{% endif %}">Finalize</div>
    </div>
    <form method="post" enctype="multipart/form-data" class="mx-5 mt-2 d-flex flex-column align-items-center w-75 h-75 border text-center">
        {% csrf_token %}
        {{ wizard.management_form }}

        <!-- This is a start step 0 -->
        {% if wizard.steps.current == 'upload_file' %}
            <h2>Upload File</h2>
            Please only use one of path. 
            {% for field in wizard.form %}
            <p>
                {{ field.label_tag }} {{ field }}
                <span class="badge bg-info text-light">{{ field.help_text }}</span>
                {% for error in field.errors %}
                    <span class="badge bg-danger text-white">{{ error }}</span>
                {% endfor %}
            </p>
        {% endfor %}
          
            <div id="folder-file-names"></div>

         <!-- This is step 1-->
        {% elif wizard.steps.current == 'step1' %}
        <p>upload result: {{check_uploadfile_result}}</p>
        <hr>
        <h2>{{step1}}</h2>
            {% for field in wizard.form %}
            <p>
                {{ field.label_tag }} {{ field }}
                <span class="badge bg-info text-light">{{ field.help_text }}</span>
                {% for error in field.errors %}
                    <span class="badge bg-danger text-white">{{ error }}</span>
                {% endfor %}
            </p>
        {% endfor %}

        <!-- This is step 2-->
        {% elif wizard.steps.current == 'step2' %}
        <h5> Here Show Validation result:<h5>
        {{check_validation_result}}
        <hr>
            <h2>{{step2}}</h2>
            {% for field in wizard.form %}
    <p>
        {{ field.label_tag }} {{ field }}
        <span class="badge bg-info text-light">{{ field.help_text }}</span>
        {% for error in field.errors %}
            <span class="badge bg-danger text-white">{{ error }}</span>
        {% endfor %}
    </p>
{% endfor %}

        <!-- add more steps here-->

        <!-- This is the final-->
       {% elif wizard.steps.current == 'finalize' %}
        <h5>   Here Show Finalize result: <h5>
            {{check_validation_result}}
            <hr>
            <h2>Finalize</h2>
            {% for field in wizard.form %}
            <p>
                {{ field.label_tag }} {{ field }}
                <span class="badge bg-info text-light">{{ field.help_text }}</span>
                {% for error in field.errors %}
                    <span class="badge bg-danger text-white">{{ error }}</span>
                {% endfor %}
            </p>
        {% endfor %}
        {% endif %}
        
        <div class="m-5 mb-0">
        {% if wizard.steps.prev %}
            <button class="btn btn-sm"  name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">previous</button>
        {% endif %}
        {%if wizard.steps.next%}
        <input class="btn btn-sm"  type="submit" value="Next" >
        {%else%}
        <input class="btn btn-sm" type="submit" value="Finalize" >
        {%endif%}
        <a type="button" class="btn btn-sm m-auto border-0" href="{%url 'import-vitek'%}" onclick="window.location.reload(true);">Cancel
        </a>
        <div>
    </form>
</div>
<script>
    const $fileNamesContainer = $("#folder-file-names");
    if ($("#folder-file-names").length){
        $fileNamesContainer.empty();
    }

    if(("{{ form.folder_files.auto_id }}") && ("{{ form.multi_files.auto_id }}")){

        $("#{{ form.folder_files.auto_id }}").on("change", function() {
            $fileNamesContainer.empty();
            const files = this.files;
        for (let i = 0; i < files.length; i++) {
            const fileInfo = $("<div></div>").text(files[i].webkitRelativePath || files[i].name);
            $fileNamesContainer.append(fileInfo);
        }
    });
    $("#{{ form.multi_files.auto_id }}").on("change", function() {
        $fileNamesContainer.empty();
        const files = this.files;
        for (let i = 0; i < files.length; i++) {
            const fileInfo = $("<div></div>").text(files[i].webkitRelativePath || files[i].name);
            $fileNamesContainer.append(fileInfo);
        }
    });
    
    } 
</script>