<!--prettier-ignore-->
{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
<!--prettier-ignore-->
<head>
    <style>
        #pivotable th{
            width: 200px !important;
        }
    </style>
</head>
{% block content%}
{%include 'utils/topbar.html'%}
<div class="position-relative w-100 bg-transparent">
    <div class="d-flex flex-row justify-content-between vh-100">
      {%include "utils/sidebar.html"%}
  
      <div class="main d-flex flex-column" style="height: fit-content">
        <div class="d-flex flex-wrap justify-content-between m-0">
          {% include 'utils/pagination.html'%}
        </div>

          <h1>table</h1>
          <table id='pivotable'>{{table | safe}}</table>
    
      </div>
      </div>
</div>


    
{%endblock%}