<div class="container m-2">
  <!-- <div class="row border"> -->
  <div class="d-flex align-items-baseline">
    <!-- <form action="#" class=""> -->
    <div class="d-flex flex-column mx-2">
      <span style="font-size: small">--Data visualization type--</span>
      <select data-name="data_map_type" class="form-select form-select-sm" aria-label="form-select-sm example"
        style="width: fit-content">
        <option value="1" selected>Pivot table</option>
        <option value="2">Pie Chart</option>
        <option value="3">Plot</option>
      </select>
    </div>
    <div class="d-flex flex-column mx-2">
      <span style="font-size: small">--Select Table Values--</span>
      <select data-name="data_process_value" class="form-select form-select-sm" aria-label=".form-select-sm example"
        style="width: fit-content">
        <option value="{{defaultvalues}}" selected>{{defaultvalues}}</option>
        {%for field in model_fields %}
        <option value="{{field}}">{{field}}</option>
        {%endfor%}
      </select>
    </div>
    <div class="d-flex flex-column mx-2">
      <span style="font-size: small">--Aggregate Functions--</span>
      <select data-name="data_function_type" class="form-select form-select-sm" aria-label=".form-select-sm example"
        style="width: fit-content">
        <option value="Sum" selected>Sum</option>
        <option value="Mean">Mean</option>
        <option value="Std">Std</option>
      </select>
    </div>
    <!-- </form> -->
  </div>

  <hr />
  <div class="d-flex align-items-center my-0">
    <button class="submit_data btn btn-sm mx-5">Start...</button>
    <div class="mx-2">{%include 'utils/selectivedrag_hr.html'%}</div>
  </div>
  <!-- </div> -->
  <hr />
  <div class="row border">
    <div class="d-flex flex-row justify-content-center vh-100">
      <div class="border-2">{%include 'utils/selectivedrag_vt.html'%}</div>

      <div id="pivotable" style="
          width: 1500px;
          overflow: scroll;
          font-size: medium;
          margin-left: 0;
          
        ">
        <span style="color: Blue;">
          Make sure using <strong>Filter and Select Data </strong>before creating
          table. (currently not support data more than 2000). Click
          <strong>"Start..."</strong> Button create pivotable with default column,
          index and value by default aggfunc np.sum.
          Change default setting via drag n drop
          <strong>"Dark-BLUE"</strong> squares and selective options.
        </span>
        <br>
        Example Table(data source: the first page of vitek_card normal table view)
        {{table | safe}}
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
  $(function () {
    $("#sortable1, #sortable2, #sortable3")
      .sortable({
        connectWith: ".connectedSortable",
      })
      .disableSelection();
  });
</script>
{%load static%}
<script src="{% static 'js/vitek_datamap.js' %}"></script>