<div class="container m-2">
  <div class="row border">
    <div class="d-flex align-items-stretch">
      <form action="#" class="m-2 d-flex">
        <select
          data-name="data_map_type"
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
        >
          <option selected>Select Data Map type</option>
          <option value="1">Pivot table</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <select
          data-name="data_process_value"
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
        >
          <option selected>Select Value</option>
          {%for field in fields %}
          <option value="{{field}}">{{field}}</option>
          {%endfor%}
        </select>
      </form>
      <button class="submit"></button>
      <div class="m-auto">{%include 'utils/selectivedrag_hr.html'%}</div>
    </div>
  </div>
  <hr />
  <div class="row border">
    <div class="d-flex flex-row justify-content-center vh-100">
      <div class="border-2">{%include 'utils/selectivedrag_vt.html'%}</div>

      <div
        id="pivotable"
        style="
          width: 1500px;
          overflow: scroll;
          font-size: small;
          margin-left: 0;
        "
      >
        {{table | safe}}
      </div>
    </div>
  </div>
</div>
