<!--prettier-ignore-->
{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
<!--prettier-ignore-->
{% block content%}
{%include 'utils/topbar.html'%}
<div class="position-relative w-100 bg-transparent">
    <div class="d-flex flex-row justify-content-between vh-100">
      {%include "utils/sidebar.html"%}
  
      <div class="main d-flex flex-column" style="height: fit-content">
        <div style="height:10em">
          <div id="draggable" class="ui-widget-content">
            <p>I revert when I&apos;m dropped</p>
          </div>
           
          <div id="draggable2" class="ui-widget-content">
            <p>I revert when I&apos;m not dropped</p>
          </div>
           
          <div id="droppable" class="ui-widget-header">
            <p>Drop me here</p>
          </div>
           
        </div>
      



  <div id='pivotable' style="width: 1000px; overflow-x: scroll; font-size: x-small;">{{table | safe}}

  </div>
</div>
        
        <div class="d-flex flex-wrap justify-content-between m-0">
          {% include 'utils/pagination.html'%}
        </div>
      </div>
      </div>
</div>

<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#draggable" ).draggable({ revert: "valid" });
    $( "#draggable2" ).draggable({ revert: "invalid" });
 
    $( "#droppable" ).droppable({
      classes: {
        "ui-droppable-active": "ui-state-active",
        "ui-droppable-hover": "ui-state-hover"
      },
      drop: function( event, ui ) {
        $( this )
          .addClass( "ui-state-highlight" )
          .find( "p" )
            .html( "Dropped!" );
      }
    });
  } );
  </script>
{%endblock%}