<div class="m-2" style="height: fit-content;">
{% comment %}   
  <h2 class="m-5 text-center">{{data_model}} Data Import for <b>{{pk}}</b> </h2>

  To add to <form ...>
  hx-on::submit="htmx.trigger('#progress-div', 'startProgress')"
{% endcomment %}

<form id="processForm" method="post" enctype="multipart/form-data" class="row m-5 text-center"
  >
    {% csrf_token %}

    {{ wizard.management_form }}

    <div class="col-md-5 border border-2 rounded" style="position: relative;">
      <span class="labeltext px-4 py-1"> {{data_model}} - <b>{{pk}}</b> </span>

      <!-- Process Line - To change to a list of Process -->
      <div class="step-line">
        <div class="step {% if wizard.steps.current == 'select_file' %}active{% endif %}">
          Select Files
        </div>
        <div class="step {% if wizard.steps.current == 'upload' %}active{% endif %}">
          Upload Files
        </div>
        <div class="step {% if wizard.steps.current == 'finalize' %}active{% endif %}">
          Finalise Data
        </div>
      </div>

      <!-- Process Steps -->
      <div class="row bg-transparent" style="height: 20em">

        <!-- Step 0 Select_File -->
        {% if wizard.steps.current == 'select_file' %}  
          <div class="p-4 m-auto">            
            {% for field in wizard.form %}
              <div class="row text-start"><strong>{{ field.label_tag }}</strong></div>
              <div class="row text-start">{{ field }}</div>
              <div class="row ps-4 pt-2 text-start">{{ field.help_text }} </div>
              {% if field.errors %}
                <div class="row p-1 text-start">{{ field.errors }} </div>
              {% endif %}
              <br>
            {% endfor %}
          </div>
          <div> {{instructions|safe}} </div>
 
        <!-- Step 1 Upload -->
        {% elif wizard.steps.current == 'upload' %}
          <div class="p-3 m-auto">
            <table>
              <tbody>
                {% for field in wizard.form %}
                  <tr>
                    <td style="text-align: right; vertical-align: middle;"> <strong>{{ field.label_tag }}</strong></td>
                    <td style="text-align: center; vertical-align: middle;">{{ field }}</td>
                    <td style="text-align: left; vertical-align: middle;">{{ field.help_text }} </td>
                    {% comment %} {% if field.errors %}
                      <div class="row p-1 text-start">{{ field.errors }} </div>
                    {% endif %} {% endcomment %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>        
          <div> {{instructions|safe}} </div>

        <!-- Step 2 Finalize -->
        {% elif wizard.steps.current == 'finalize' %}
          <div class="p-3 m-auto">
            Finalize Upload
          </div>
          <div> {{instructions|safe}} </div>
        <!-- Step 2 Download -->
        {% elif wizard.steps.current == 'download' %}
          <div class="p-3 m-auto">
            Download Generate Files:
            <table>
              <tbody>
              </tbody>
            </table>
          </div>
          <div> {{minstructions|safe}} </div>
        {% endif %}

      </div>

      <!-- Button Actions --> 
        {% if wizard.steps.prev %}
          <button class="btn-active" href="{{reset_url}}?reset">Cancel</button> 
          <button class="btn-active" name="wizard_goto_step" type="submit"
            value="{{ wizard.steps.prev }}"> Previous</button>
        {% else %}
          <button class="btn-active" href="{{reset_url}}?reset">Cancel</button>  
          <button class="btn-disabled" disabled> Previous</button>
        {% endif %}

        {% if wizard.steps.prev and wizard.steps.next %}
          {% if confirm_to_upload %}
            <button class="btn-active" type="submit" value="Next">Next</button>
          {% else %}
            <button class="btn-disabled" disabled> Next</button>
          {% endif %}
        {% elif wizard.steps.next %}
          <button class="btn-active" 
            type="submit" 
            value="Click to start"
        {% comment %}
            -- "Works but does not submit"              
            hx-get="{% url 'start_progress' %}"
            hx-target="#progress-content"
            hx-swap="innerHTML"
            data-bs-toggle="modal" 
            data-bs-target="#progress-modal"
        {% endcomment %}
          >Next</button>
        {% else %}
          <button class="btn-active" type="submit" value="Finalize">Finalize</button>
        {% endif %}
      
    </div>

    <!-- Message Box -->
    <div class="col-md-7 border border-2 rounded" style="position: relative">
      <span class="labeltext px-4 py-1"> Message </span>

      <div class="my-2 mx-auto">
        {% if validation_message != None %}
          {{validation_message}}
        {% endif %}
      </div>
      <!-- Process Line -->
      <div class="row bg-transparent">
        {% if validation_result != None %}
          <div class="col">
            {% include 'process/process_vlogtable.html' %}
          </div>
        {% endif %}
      </div>

{% comment %}  
      <div class="my-2 mx-auto">
        {% if process_message != None %}
          {{process_message}}
        {% endif %}
      </div>
{% endcomment %}

    </div>
  </form>

  <!-- Progress -->
  {% comment %}  
  {% include 'modal/progress_base_modal.html' %}
  <div id="progress-div"
      hx-get="{% url 'start_progress' %}"
      hx-trigger="startProgress"
      hx-swap="innerHTML"
      hx-target="#progress-content"
      data-bs-toggle="modal" 
      data-bs-target="#progress-modal"
    >
    <!-- 
    <div class="progress">
      <div class="progress-bar" style="width:0%">0%</div>
    </div>
    -->
  </div>
  {% endcomment %}

</div>

