{% load custom_filters %}
<div class="d-flex"> 
  {% if select_fields %}
  <ul id="sortable2" class="connectedSortable border text-info" style="min-width: 100px;">
    Index
    {% for key, value in select_vtfields.items %}   
    <li data-name="{{key}}" class="ui-state-default text-info" style="max-width: 80%"> 
      {% if value|is_dict %}
      {% for key in value.keys %}
      {{key }}
      {% endfor %}
    {% else %}
      {{value}}
    {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <ul id="sortable2" class="connectedSortable border text-info" style="min-width: 100px;">
    Index  
  </ul>
  {% endif %}
</div>