{% load custom_filters %}
{% if select_fields %}

<ul id="sortable3" class="connectedSortable d-flex border ms-0 text-info" style="max-width: 100%;">
  Column
  {% for key, value in select_hrfields.items %}
  <li data-name="{{key}}" class="ui-state-default text-info">
    {% if value|is_dict %}
    {% for key in value.keys %}
    {{key }}
    {% endfor %}
  {% else %}
    {{value}}
  {% endif %}
  </li>
  {% endfor %}
</ul>

{% else %}

<ul id="sortable3" class="connectedSortable d-flex border ms-0 text-info" style="max-width: 100%;">
  Column

</ul>
{% endif %}