<a class="card-link border-0 text-success fs-5" data-bs-toggle="modal" data-bs-target="#taxonomy_detail_update"><i
    class="fa-regular fa-pen-to-square"></i></a>

<div class="modal fade" id="taxonomy_detail_update" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <!--prettier-ignore-->
    {% url 'taxonomy_update' pk=object.pk as updateurl %}
    {%include 'utils/modal/modal_form.html' with title='Update Taxonomy' urlname=updateurl %}
  </div>
</div>