<!--prettier-ignore-->
{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
<!--prettier-ignore-->
{% block content%}

  <div class="d-flex flex-row justify-content-between vh-100">
    {%include 'utils/topbar.html' with list_url='taxo_list' card_url='taxo_card' %}
    <!-- Sidebar View -->
    {%include "utils/sidebar.html"%}
     <!-- Main View -->
    <div class="main d-flex flex-column">
      {%include 'utils/main_horizalbar.html' with create_object='createTaxo' create_objectModal='createTaxoModal' %}
        <!--  -->

      <!-- list View Content -->
             <!-- prettier-ignore -->
        {%include 'utils/datatable_general.html' with tax_id='TaxID' url_name='taxo_detail' modelname='Taxonomy'%}
    </div>
  </div>


{%load static%}
<script type="text/javascript" src="{%static 'js/modal/create_taxonomy.js'%}"></script>
<!--prettier-ignore-->
{% endblock%}