<!-- trigger modal -->
<a
  class="card-link text-danger"
  data-bs-toggle="modal"
  data-bs-target="#taxonomy_detail_del"
>
  <i class="fa fa-trash"></i>
</a>

<!-- Modal -->
<div
  class="modal fade"
  id="taxonomy_detail_del"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <!--prettier-ignore-->
    {% url 'taxonomy_delete' slug=object.urlname as deleteurl %}
  {%include 'utils/modal/delete.html' with title='Delete Taxonomy' urlname=deleteurl %}
  </div>
</div>
