{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
<!--prettier-ignore-->
{% block content%}
<div class="d-flex flex-row vh-100">
  <!--prettier-ignore-->
  {%include 'utils/leftbar.html' with list_url='vitekid_list' %}
  <!-- Sidebar View -->
  {%include "utils/sidebar.html"%}
  <!-- Main View -->
  <div class="d-flex flex-column w-100">
    {% include 'utils/main_horizalbar.html' with title='VITEK_ID' model_name='VITEK_ID' application='ddrug' %}
    <!-- list View Content -->
    <div class="fixTableHead">
      <!--prettier-ignore-->
      {%include 'utils/datatable_filter.html' with modelname='VITEK_ID' %}
      
    </div>
  </div>
</div>
{% endblock%}