{% extends "base.html" %}
<!--  -->
{% block title%} COADD {% endblock %}
<!--  -->
{% block content %}
<!--  -->
<div class="d-flex flex-row vh-100">
  <!-- Left Navigation -->
  {% url 'pivoted-table' app_model='dcollab-Collab_User' as pivot_url%}
  {% include 'grid/base/navbar_left_top.html' with list_url='collabgroup_list' card_url='' create_object='createCollabGroup' create_objectModal='createOrganisationModal' pivot_url='' export_url=''%}

  <!-- Filter Navigation -->
  {% include "grid/base/navbar_filter.html" %}
  
  <!-- Main View -->
  {% include 'datatable/datatable_pag_action.html' with title='Collab Group' %}

</div>
{% endblock %}
