<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form method="POST" class="post-form" action="{{urlname}}">
      {% csrf_token %}
      <!--  -->
      {%include 'utils/django_form_table.html'%}
      <div class="modal-footer">
        <input type="submit" class="btn btn-outline-secondary" value="Add" />
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </form>
  </div>
</div>
