<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <form method="POST" class="post-form" action="{{deleteurl}}">
      <!--prettier-ignore-->
      {% csrf_token %}

      <p>Are you sure you want to delete this entry {{entry}}?</p>
      <!--prettier-ignore-->
      {%if model_name == 'Dictionary'%}
     <div class="d-inline-block" data-name="{{title}}" data-type="deleteDict">
        <button class="card-link text-danger fs-6" onclick="window.location.reload(true);"><i class="fa-regular fa-floppy-disk text-success m-auto"></i></button>
      </div>
      {%else%}
      {%include 'utils/miscellaneous/save_btn.html'%}
      
      {%endif%}
      {%include 'utils/miscellaneous/cancel_btn.html'%}
    </form>
  </div>
  <div class="modal-footer"></div>
</div>
