<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{title}}</h5>
    {%if title == 'Create Batch' or title == 'Create Culture' %}
    <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    onclick="window.location.reload(true);"
  ></button>
  {%else%}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
    {%endif%}
  </div>
  <div class="modal-body">
    {%if title == 'Create Organism' %}
    <!--  -->
    {% include 'utils/search_organism.html' %}
    <!--  -->
    {%endif%}
    <!--  -->
    <hr>

    <form method="POST" class="post-form" action="{{urlname}}">
      {% csrf_token %}
       <!--  -->
   
       <!--  -->
      {%if title == 'Create Organism' %}
      <input
        type="text"
        id="taxo-name"
        name="search_organism"
        style="display: none"
      />
      {%endif%}
      <!--  -->
     
      <!--  -->
      {%include 'utils/django_form_lgtable.html'%}
       <hr>
        <div class="d-flex justify-content-center align-center">
          {%include 'utils/miscellaneous/save_btn.html'%}
          <!--  -->
          {%if title == 'Create Batch' or title == 'Create Culture' %}
          <!--  -->
          {%include 'utils/miscellaneous/cancel_btn_reloc.html'%}
          <!--  -->
          {%else%}
          <!--  -->
          {%include 'utils/miscellaneous/cancel_btn.html'%}
        <!--  -->
        {%endif%}
        
      </div>
    </form>
  </div>
</div>
