<!-- Add Image -->
<!-- Modal trigger inside create_modal.html -->
<!-- Add Image Modal -->

<div class="modal fade" id="{{title}}Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl card-bg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
            </div>
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data" class="post-form"
                    action="{{addurl}}">
                    {% csrf_token %}
                    <!-- prettier-ignore -->
                    <div class="row  row-cols-2 row-cols-lg-3 g-2 g-lg-3 ">
                        {%for field in form%}
                        <div class="col border border-2 django-form-table">
                            <label>{{field.label}}</label>
                            <p>{{field | safe}}</p>
                            <span class="badge bg-info text-light">{{field.help_text}}</span>
                            <span class="badge bg-info text-danger">{{field.errors}}</span>
                        </div>
                        {%endfor%}

                    </div>
                    <div class="modal-footer">
                        {%include 'utils/miscellaneous/save_btn.html'%}
                        {%include 'utils/miscellaneous/cancel_btn_reloc.html'%}
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>