<div class="modal-content">
  <div class="modal-header">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <h4 class="my-0">{{title}}</h4>
    <hr />
    <form method="POST" class="post-form" action="{{updateurl}}">
      {% csrf_token %}
      <!--  -->
      {{form.as_p}}
      <div class="m-auto">
        <input
          type="submit"
          class="btn m-auto mt-5"
          value="Updated"
          name="note"
        />

        <button
          type="button"
          class="btn m-auto mt-5"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
