<!--prettier-ignore-->
{% extends 'base.html'%}
<!--prettier-ignore-->
{% block title%} COADD{% endblock %}
<!--prettier-ignore-->
{% block content%}

<div class="d-flex flex-row justify-content-between vh-100">
    {%url 'import-VITEK' as urlname%}
    {%include 'utils/topbar.html' with import_module=urlname  list_url='vitekast_list' card_url='vitekast_list' %}
    {%include "utils/sidebar.html"%}

    <div class="main d-flex flex-column">
      <div>
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active border border-2" id="nav-home-tab" data-bs-toggle="tab"
              data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
              <strong class="tab-text">VITEK_AST</strong>
            </button>
            <button class="nav-link border border-2" id="nav-chart-table-tab" data-bs-toggle="tab"
              data-bs-target="#nav-chart-table" type="button" role="tab" aria-controls="nav-profile"
              aria-selected="false">
              <strong class="tab-text">Chart/Table</strong>
            </button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="d-flex flex-wrap justify-content-between m-2 align-items-baseline">
              <!--  -->
              {% include 'utils/pagination.html'%}
              <!--  -->
              {%include 'utils/selectAllExp.html'%}
            </div>
            <div class="fixTableHead">
              <!--prettier-ignore-->
              {%include 'utils/datatable_ast.html' with modelname='VITEK_AST' %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<!--prettier-ignore-->

{% endblock%}