<div class="card m-auto mt-5" style="width: 36rem">
  <div class="card-head">
    <label
      for="Label-OrganismModel"
      class="ms-2 position-absolute"
      style="margin-top: -1rem !important"
    >
      <span class="fs-4 text-muted px-1">Drugs</span>
    </label>
  </div>
  <!-- <input type="text" class="form-control mt-2" id="input1" /> -->
  <div id="Label-OrganismModel" class="card-body d-flex justify-content-center">
    <a
      class="landp-img-01 d-flex align-items-center justify-content-center h4 lead"
      href="#"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title=" drugs"
    >
      DRUG
    </a>
  </div>
</div>
